<head>
  <meta charset="UTF-8">
  <meta name="WhoIsTheIdiot" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>Alastair Campbell's Resignation Letter?</h1>
<h4>30-JUL-2019</h4>
For the love of God Corbyn you are handing hard Brexit and the destruction of the UK to the rabid likes of Bojo, Gove and Rabb on a plate.
<p>
At a time when you ought to be wiping the floor with the utter right extremist Tory party your popularity is such that Bojo is not afraid of a GE.
<p>
This is solely down to your three years of Brexit diffidence and your utter lack of transparency in your own ideological ideals.
<p>
I assert that that you are a dyed-in-the-wool Euroskeptic and call you out on this essential point:
<p>
<b>You wish to swap our say in how the EU is run for having absolute freedom in saying how the UK is run</b>
<p>
It is a fair enough position, though not one I share. But you at least ought to be honest with your own party and the country in owning up to that.
<p>
I did sign up to your left wing socialist agenda, the country desperately needs it. But when Cameron dropped the B bomb, you failed to adapt to the changing circumstance. That ability to adapt to changes in circumstances is an essential hallmark of a great leader. As a leader you are an unmitigated failure as you had the essential ingredients for a total success; a weak opposition with a deeply unpopular plan and  a great domestic plan of your own making.
<p>
The Brexit lie adorned bus is now the Brexit aeroplane plummeting earthwards  with an altimeter spinning like a top. You the most obdurate Labour pilot in the history of the party, are busy looking at the compass and the map for an onward journey that will never happen if the plane crashes and burns.
<p>
You are not, and I believe have never been a liar. you have told the truth, but you resolutely failed to tell the whole truth.
<p>
So I put to you:  You want, and have always wanted to swap our say in how the EU is run for having absolute freedom in saying how the UK is run. Ergo you wish to leave the EU.
<p>
Now you @JeremyCorbynMP clearly state it as otherwise, or be straight with passionate EU remainers so they can place their votes and support elsewhere.
<p>
<a href="https://is.gd/21RDZU">Alastair Campbell’s Letter to Corbyn</a>

<hr>
<a href="index.html">Other Blogs</a> 
