<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>

<h1>Breaking Up Is Hard To Do</h1>
<h1>It Shouldn't Be For EU</h1>
<h4>13-JUN-2020</h4> 
</center>

<b>Brexit has been and remains the most expensive, painful, acrimonious divorce of all time.</b>
<p>
The UK now sails off into the sunset and I say good luck and fare well to it and all who set sail in her.
<p>
Now, is the time for the EU to take stock, learn from this painful experience, and put in place the necessary procedures and laws to ensure this fiasco is never again repeated. Next time, should an EU member consider leaving the EU, there needs to be a playbook to follow for both leaver and EU so that all expectations, rights, responsibilities are known in advance and followed.
<p>
Any plan must as far as is possible under international law, be binding on the leaving member state and the EU, and so the plan has to be agreed on and ratified and finally accepted by treaty.
<p>
Lets call this plan the European Union Divorce Plan (EUDP)
<p>
Of course I cannot draft such a plan, but I will suggest some matters that it might usefully cover.

<h2>EUDP</h2>
<h2>EUDP Chapter 1</h2>
Chapter 1 covers the members mechanism for deciding whether to leave the EU.
<p>
It needs to be decided if a government can unilaterally withdraw from the EU with or without a referendum. If this is to be by referendum, it needs to set out some basic rules such as
<ol>
<li>Eactly who is allowed to vote, e.g EU citizens resident in the leaving state, leaving states resident overseas, and so on.
<li>A fixed supermajority level.
</ol>
<h2>EUDP Chapter 2</h2>
Chapter 2 covers the exact details of the Withdraw Agreement
 
<ol>
<li>The rights of EU citizens resident in the leaving state
<li>The rights of citizens of the leaving state resident in other EU countries
<li>
</ol>
Of rights it should be made clear which of these rights are enduring, so that from now, for the lifetime of the EU, an EU citizen who choses to settle in another member state are afforded a secure right to remain and access to services.





Actually one thing that the EU should put in place after this utter fiasco, is a tighter and more detailed set of terms and conditions for any further departures from the EU. In this way, any future referendums for members exiting the EU will be afforded a cleared set of consequences at the outset.
This could be the UK's parting gift to the EU :-)
The exit conditions should be simple, straightforward and largely non-negotiable such that the future relationship is entirely managed post-exit and the EU does with 3rd countries now.
Also, it would be a good idea for the EU27 to all agree on which rights for EU people in leaving countries and leaving country citizens in the EU are enduring human rights and set this in some form of a treaty.
Of course, you cannot stop a leaver breaking a treaty but, that too can have consequences

Supermajority
<p>
The UK now sails off into the sunset and I say good luck and fare well to it and all who who are for sale in her.
<p>

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
