<h1>The UK Needs To Do More Than Change Its Mind, It Needs a Change of Heart</h1>


<img src="EUFlagHeart.jpg" alt="EU Heart Flag" height="400">
<h4>Michael Ellis - 28-JUN-2019</h4>
The UK's success in an ever shrinking world is dependent on us remaining fully within the EU.
<p>
<b>But revoking Article 50 is not enough!</b>
<p>
Unless the UK can find a Great British pride in being an EU member and find it in its heart to fully embrace everyone in the EU as one family, then we passively choose to make ourselves outsiders. And doing that is the history of our EU involvement so far.
<p>
Our EU membership has been hallmarked with an acute lack of national pride in the EU.
<p>
Until we can:
<ul>
<li>be proud to fly the EU flag wherever we fly the Union Jack
<li>be proud to make the Treaty of Rome part of the national curriculum
<li>change our attitude from "what we can get from the EU" to "what we can bring to the EU"
</ul>
we necessarily diminish our role and position within the EU and on the global stage.
<p>
Membership of the EU is dead if done in degrees. Like racism, sexism or LBGT rights membership of the EU is something that requires the overturning of ugly prejudice and compromise will never achieve that.
<p>
<b>The UK not only has to change its mind, it has to have a change of heart.</b>
<p>
And for that we need a leader of courage and vision.
<p>
Any party attempting to back remain, must have a leader who is committed to the long term vision of a proud United Kingdom, proudly playing its part within the EU.
<p>
<hr>
<a href="index.html">Other Blogs</a> 
