<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Covid-19</h1>
<h4>10-MAR-2020</h4>
<p>
Government in the UK and probably most of Europe, but ya know especially the UK government are utterly failing the nation. their failure of Covid-19. It will quite possibly mean that thousands will die that may not have needed to.
</p>
Once I heard the virility rate of the virus, I predicted that I would not be containable. Turns out it's not containable. Best we can hope for is to slow the progress so as to minimise the peak load on essential services.
</p>
What should have happened, well I am not a doctor, but given that it is a Severe Acute Respiratory Syndrome (SARS) that will potentially affect millions, and therefore hospital care is out of the question, the logical next step would be to see what could be done to assist at-home treatment for the most vulnerable.
</p>
Given that SARS adversely affects lung function and inhibits oxygen take up the most common first-line defence in the absence of any drug of use it oxygen therapy.
If the government had wanted to do something useful, it should have been looking at at-home provision of oxygen and home ventilators. Together with public information resources on how to use them.
</p>
Yes, there would be "incidents and accidents" and "hints and allegations" as the song goes, but bring me the medically qualified doctor who tells me that such a program in the event of an epidemic Covid-19 would result in more lives lost than saved by such a nationwide at-home provision.
</p>
Instead.... wash hands.
I wash my hands of the bunch of self-serving sociopaths our country voted in to rule them. #WellPlayedUK.
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
