<head>
  <meta charset="UTF-8">
  <meta name="TyrantsAtTheTop" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

</style>
</head>

<body>

<article>
<header>
<h1>In Answer To Please criticise Me</h1>
<h4>18-SEP-2019</h4>


<p>

"Please, please criticise me (constructively) and convince me I'm wrong!"
<p>
With no personal malice intended, I will make an honest attempt.
<p>
On the matter of "Corbyn, by the way, does not personally believe that any form of Brexit is better than membership of the EU under our current terms - so this is a political position not a principled one. Source: personal conversation with JC.)"
<p>
That is anecdotal, unverifiable and for me as inadmissible as it is unbelievable.
<p>
Corbyn (in my opinion) is far from neutral on Brexit. It is my belief indeed that back in 2016 at the time of the referendum, he was the person in parliament who was more strongly opposed to membership of the EU on *ideological* ground than anyone else.
<p>
To back that up I would simply look at his past voting record and the many videos available of him talking about the EU and also those more recent interviews where he will not answer a straight question as to whether it is better to remain.
<p>
Corbyn's assertion that he voted in the referendum to remain is of no consequence as like all of us we know our vote one amongst millions. What is of paramount importance and concern on a seismic scale, is that Corbyn used a three line whip to force Labour MP's to trigger A50. That functionally mattered far beyond his personal vote.
<p>
Corbyn is a dyed-in-the-wool eurosceptic and this I believe stems from his view that he has always wanted to swap our say and share in how the EU is run for having absolutely freedom from the EU's rules on fair play in relation to how governments can support domestic commerce and industry. That to me is a 20th century man failing to adapt to the 21st century reality. The world is ever shrinking due to advances in technology and social progress. It is a world where countries are increasingly interdependent. Indeed in this ever shrinking world that is seeing more countries coalesce into handful of large power blocs, the notion that little plucky UK should go it alone is quite absurd.
<p>
in three years Corbyn has not once said a positive word about the EU. NOT ONCE at least not beyond that a hard deal is a bad thing. Indeed, his notion that he can pull off some sort of special Lexit deal, is to me, quite insulting as points at wanting to take the maximum from access to a shared market without the bonds and commitments to play by the same rules. That is a take take stance.
<p>
Furthermore, I find it insulting that the whole Brexit debate has been framed in terms of what the UK can get from the EU, and never once is it discussed, on what the UK can bring and contribute to the EU by being a fully committed member.
<p>
Regarding the LibDems, Swinson's position to Remain if they won an election outright, is the ONLY logical position because...
In the unlikely event the LibDems achieve an all out majority and followed it up by a second referendum, due to the difference in the way FPTP and referendums work, they could find themselves in the absurd position of being a party that made a manifesto promise of Remain yet compelled to implement Leave.
<p>
It's illogical for them to pursue anything other than Revoke in the (unlikely) case of an all out majority.
<p>
And after all, who would vote for the LibDems if they were not in favour of Remain?
<p>
That's not vote grabbing, it would simply be absurd for them to do otherwise. They are the Remain party, the party that is actually the party of opposition to what the current government is doing.
<p>
I understand all too well that some people are angry about what the LibDems have done in the past with supporting the Tories and Tuition fees (I was and am furious too), but if you are pro Remain , but remember they are currently the ONLY English party of size who whole heartedly back Remain.
<p>
Punishing them now for their past sins, could damage YOUR future hopes to Remain. It would be like cutting off your nose to spite your face.
<p>
In my view, whilst it has been the Tories who have dragged the UK into the street and kicked it to near death, Corbyn has for three years stood by patiently watching, all the time espousing his position of supposed neutrality. It is my belief that this had nothing to do with democratic process of internal party politics and everything to do with Corbyn wanting the Tories to do the dirty work of getting us out of the EU, and then, he would be free of any potential blame for the negative consequences that will follow.
<p>
The Tories are now a government of dire loathsomeness. The court jester is malevolent and has picked a corrupt and self serving team of villains.
<p>
But if Johnson could have all his Christmas and Birthday presents wrapped up and delivered as one parcel, that parcel would be Jeremy Corbyn.
<p>
Corbyn has had three years in which to stand up for the millions of UK citizens abroad and the millions of EU citizens in the UK who have lived with uncertainty, anxiety and increased passive and active racism. HE HAS NOT ONCE DONE THAT.
<p>
What Corbyn has done is failed to Lead his part to a more remain position. Failed to reach out to Labour Leavers and explain that they were hoodwinked by a Brexit and Tory propaganda machine and their their woes are not the fault of foreigners.
<p>
In 2016 I voted to Remain based upon my own limited understanding of the situation but a general belief that in this ever shrinking world, the French, the Germans, the Spanish, the Greeks et al are not foreigners but my friends and family and that I would rather be with them all in this together, for better or worse, that to erect barriers where I might benefit more than them (or fare worse as is more likely to be the case).
<p>
In the intervening years, through the direct experience I have in running a tech. based company that trades routinely throughout the world and Europe, I now KNOW that withdrawal from the EU will adversely affect my company (and it is far from tariffs that are the main issue).
<p>
I also have EU friends in the UK that I have seen subject to appalling ignominy of having to apply for "SS" (can you believe that), and seen the legislation of delegating as far as schools to "inform" EU children and their parents of their need to 'register' - Whoa that is one very short step from 'inform on'.
<p>
I have understood that 50% of our trade is with the EU, and that NONE of it is negotiated or settled on the day we leave the EU.
<p>
I have understood that any changes to the Irish border will be likely to unsettle the peace that only so recently returned (I still remember the IRA bombs and beatings and tarring and featherings)
<p>
So now, I vote Remain with ten fold the conviction I had in 2016. And a party that is lead by someone who professes to be"neutral" but exhibits as anything but, does not cut it for me. If it comes down to a strategic vote to avoid a hard Brexit and Labour are the most viable option than that is what I will do. But under any other conditions I would now be only marginally less willing to vote for a Corbyn lead Labour than I would for the rancid Tories.
<p>
For labour to be running so far behind in the polls at this juncture when there is such an obviously vile a corrupt and broken government just beggars belief.
<p>
But the Corbynistas keep telling me, there is nothing wrong with Labour. Oh yes there is!

<blockquote>
THOUGHT FOR THE DAY, 18th September 2019
<p>
Corbyn says a Labour government will renegotiate the Brexit deal and put it to a referendum, and he is neutral about whether Brexit should happen. How Labour could renegotiate a Brexit deal and then NOT support it in that referendum is unclear. (Corbyn, by the way, does not personally believe that any form of Brexit is better than membership of the EU under our current terms - so this is a political position not a principled one. Source: personal conversation with JC.)
<p>
Swinson says that the LibDems are for Remain, will support a referendum on whether Brexit should go ahead in a general election but would revoke Article 50 unilaterally and without a referendum if they win it (which in my view they won't, so this is just a vote-grabbing promise).
<p>
Others who are clearly for Remain will be in no position to form a government - the SNP, Plaid Cymru, the Greens and the Change group of MPs - but will no doubt be watching this carefully and not uncritically.
<p>
Whether the final agreed position is revoke or referendum, under our voting system the Remain cause will fail if Labour, the LibDems and the other Remain parties and groupings cannot unite on a common position for a general election.
<p>
This is a bad start.
<p>
Please, please criticise me (constructively) and convince me I'm wrong!
</blockquote>

<hr>
<a href="index.html">Other Rants</a> 
</ul>




