<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>

<h1>Deal Or No Deal</h1>

<h4>16-JUN-2020</h4> 
</center>
Johnson's belief in his abilities far exceeds his actual abilities. He sees himself as a competent accomplished negotiator. The trouble his, he is confusing his comic genius with the more sober serious matter of intellectual genius.
<p>
<b>My guess is that Johnson has had informal off the record talks with Trump for UK/US trade deal.</b>
<p>
Why do I believe this to be true? A hunch, and that the most significant bills forced through parliament expressly do away with upholding EU Farming and Food standards and Human Rights. Ergo, paving the way for what Trump demands. Similarly the awarding of NHS contract deals to Virgin I think this is much about signalling intent.
<p>
Johnson, armed with what he believes is a great US trade deal in his back pocket, will now attempt to play hardball with the EU. But, the fishing waters issue and more particularly the N.Ireland issue remain unresolved. The EU will not allow a gaping hole in their customs border and since Johnson's has stated he will not allow the EU to set up an office in Belfast to monitor and police the "customs border in the Irish sea" this is a non-starter.
<p>
Come December, I foresee one of two scenarios,

<ol>
<li> Johnson returns waving a white sheet of paper in the air as he proclaims what a great deal he has negotiated for the UK. It will in fact be fairly useless.
<li> Johnson returns saying the EU would not play ball, and we are now finally free to strike out on our own as the great nation we are.
</ol> 
<p>
<b>At this point, the UK will belong to the US.</b> Because there was only had an informal US agreement, with nothing in writing, and with no deal or a worthless deal with the EU, the UK will be desperate replace the lost trade. The US will know this and Johnson's and the UK's nuts will be in the vice. Nevertheless, Johnson will tell you want an amazing success this has been.
<p>
Johnson et al, will be long gone by the time anyone realises the truth.
It will also not be readily undoable as the US will turn the screw at the slightest hint of UK dissent.
<p>
Thee are some of the finger-lickin' consequences I expect to see:
<ul>
<li>Ireland will eventually come down to a hard Irish Border or Reunification.
<li>Fishing will probably get sold out.
<li>Farmers have already been sold out.
<li>Chlorinated Chicken and Hormone Fed beef probably don't taste that bad. And when has compromised food and farming standards ever been a health issue (CJD - MadCow, Covid-19).
<li>Animal welfare, it's only the animals that suffer.
<li>Sorry Nissan Sunderland, but we'll drive Chevys now.
<li>Freedom of Movement will for many be something they don't miss until they find they, or more likely, their children, need it.
<li>Expect to see dodgy initiatives like Freeports, and indeed the fattening of politicians as they are encourages to take a light touch on interfering with what goes on in them.
<li>Unsure what will happen to financial services, many will have arms in the EU. But there will be a shady dealing house in the city of London.
<li>NHS will be privatised, though to some extent that was going to happen anyway.
<li>Academia will suffer as it drops out of EU Horizon initiatives.
<li>US pricing control for drugs
<li>US control on what deals we can strike with other countries.
</ul>
<p>
Are you lovin' it?

The essential nature of these trade arrangements will be having swapped any dependence on the EU for a dependence on the US. The fundamental difference being that our negotiating position with the US will be solely based on relative sizes of our economy and not underpinned by any fairly negotiate legal framework.
<p>
<b>Brexit - taking back control</b> As successful and secure in its aims as being an octogenarian in a care home with an open ward policy during Coronavirus.
<p>
What you can do to prepare. Well, a good start would be to learn to sing the words of Rule Britannia to the tune of the Star-Spangled Banner.

<hr>
Literally, just after posting this I see: <a href="https://tinyurl.com/y98gvqbr">Boris Johnson Could Use Covid-19 Crisis To Force 'Shock Doctrine' US Trade Deal, Warn MPs</a> - Funny old world huh?

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
