<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 


</style>


</head>
<p>
<center>
<img src="MatterhornProjection.jpg" alt="MatterhornProjection.jpg" height="400"/>
<h1>Does It Even Matterhorn If It Isn't True?</h1>
</center>
<h4>Date: 12-APR-2020</h4>
<h4>Author: Michael Ellis</h4>
It's Easter Sunday, an unusual one since everyone is in Coronavirus lockdown. After a flurry of "Happy Easter" message an illuminating Facebook post comes to my attention. It tells me:
<p>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FBestForBritain%2Fposts%2F2619768121595909&width=500" width="500" height="638" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<p>
Wow, that looks pretty cool! That's my first impression. So I go on and click on the article. It says
<blockquote>
"The Matterhorn in Switzerland has been lit up with the flags of countries severely hit by the coronavirus.
Tonight it was our turn. Thank you Switzerland"
</blockquote>
And there is a long list of comments saying how wonderful all this solidarity is.
<p>
I take another look at the picture. Wow, that is one hell of a projection. I mean I have seen buildings projected on to but that's maybe a couple of hundred square meters tops. How big is the Matterhorn? Well, <a href="https://en.wikipedia.org/wiki/Matterhorn">Wiki</a> tells me it is 4,478 m at the highest point with a prominence of 1042m. Some back of the envelop calculations involving conic portion surface area of a cone and a few assumptions, and I have to conclude that that image is on its way to being a tad under half a million square metres!!!!
<p>
That's got to be one hell of a projector, especially as there is another picture 
<img src="MatterhornProjection.jpg" alt="MatterhornProjection.jpg" height="400"/> with it being clearly visible during daylight.
<p>
I'm smelling something fishy so I do some searching. Despite being found in several news sources (see links below), I am seeing no private individuals posting selfies with Matterhorn projections behind them. That's a bit odd! People take selfies even if it is with their lasagne, let alone something as incredible as this.
<p>
I'm still smelling something fishy so I post my suspicions onto the Facebook feed. Now here is the kicker, most people seem not to want to hear, for example, a gentleman from Rugby says:
<p>
<blockquote>
Michael Ellis if this was someone saying they’d found a cure for CV19 in the bottom of a cereal packet, I’d share your scepticism. As it stands, something positive at a time when it’s all a bit shit, even if the images are manipulated, for many people it’s something that gives them a bit of hope.
I don’t assume scaling up is easy. I said it’s within possibility to upscale.
Anyway, carry on being a doubter over something that is not even worth being sceptical about...
</blockquote>
<p>
And there you have it. It does not Matterhorn if this is fake news. As one commenter and doubter (like myself put it). Criticising a feel-good factor story like this is "kicking the puppy". No one wants me raining truth on that feelgood parade. 
<p>
There are over 300 replies, and though I have not read them all, none that I have read ask whether this is real or not. So perhaps hundreds of people are believing something that might be without any more proof than say, the Tooth Fairy, Father Christmas or dare I say on the auspicious Easter Sunday 2020, the resurrection.
<p>
Well, here's the thing. My A-Level physics teacher, Mr Swift, (corduroy jacket in the 70's when such things were deemed trendy) impressed one thing upon us right from the off, "Question everything". I have tried to live by that and pass that gem onto my children too.
<p>
Now I think in this instance, the origin of this story may have even started as an April Fool's joke. I'm not sure. But given that they have supposedly projected an image onto the side of the Matterhorn and it is visible in broad daylight, I am going with #bullshit.
<p>
And you know what, the truth does matter! I'd say never so more than now at a time of existential global crisis. But, it actually it matters <b>all the time</b>. When <b>fake news</b> makes its way through media channels that reach a large audience, that, has <b>real consequences</b>.
<p>
<center>
<img src="BorisJohnson350.jpeg" alt="BorisJohnson350.jpeg" height="400"/>
</center>
<p>
Caveat: Of course, I could be wrong. Perhaps these images are genuine and such a projector capable of illuminating a whole mountain does exist. If I am wrong, I'll be entirely to acknowledge it. It will not need a full apology, I have questioned authenticity, not peddled a lie. But if I am wrong you can all be sorry, because if I am wrong, then whilst it is flags on the Matterhorn today, tomorrow it will be laser projected Coke bottles and Mac Donald Arches on the surface of the moon.
<p>
<center>
<img src="MoonCoke.jpg" alt="MoonCoke.jpg" height="300"/>
</center>

<h2>It Seems I was Wrong</h2>
<h4>Date: 15-APR-2020</h4>
It Seems I was Wrong
Date: 15-APR-2020
After a bit more digging it seems that this Matterhorn projection is genuine and I was wrong in thinking it was entirely fake.
<p>
Here is a still from a Matterhorn webcam. Now, of course, this could be fake too, but it seems a lot more credible! It still surprises me that I can find no other independent sources for images on the internet. Searching through Flikr for example only turns up images of the plastic Matterhorn in Disneyland California with images projected on to it.
<p>
What the webcam image above does show though is that a non-photoshpped image of the real things shows it to be substantially less brilliant (in lumen) than the photoshopped images were. Nevertheless, I do rate it as a brilliant achievement! Illuminating a mountain must even this faintly is a brilliant achievement.
<p>
I was wrong, and that is fine. I have no problem being wrong. I'd rather be right all the time 　 but I make no apology for doubting things. It is right to question and doubt things, now so more than ever in this digital age when just about anything can be faked. Always doubt. Never be afraid to ask for more proof. It's also important to hold up your hand when you get it wrong. I was wrong.
<p>
<center>
<img src="MatterhornWebcam.jpg" alt="MatterhornWebcam.jpg" height="500"/>
<h1>Yes It Matterhorns If It's True!</h1>
</center>



<h4>Links to News Sources</h4>
<ul>
<li><a href="https://www.theguardian.com/news/gallery/2020/mar/27/matterhorn-illuminated-white-geese-friday-best-photos">The Guardian</a>
<li><a href="https://www.zermatt.ch/en/Media/News/Zermatt-Tourism/Illumination-of-the-Matterhorn-as-a-sign-of-hope">Zermatt Matterhorn Web Site</a>
<li><a href="https://www.dailymail.co.uk/news/article-8159327/Matterhorn-mountain-lit-stay-home-message-Switzerland.html?fbclid=IwAR2MilhRl1jQHduPpvju3RUc6Vyo9stvkSfM706T-1_D76nflwXKqpfnJ3Q"> Mail Online</a>
<li><a href="https://www.tmz.com/2020/03/27/matterhorn-lit-up-switzerland-hope-stay-home-coronavirus-covid-19/">TMZ</a>
<li><a href="https://www.snowindustrynews.com/articles/2020/april/zermatt-s-illumination-of-the-matterhorn-shows-solidarity-with-italy-confirms-kumme-gondola-project/">Snow Industry News</a>
<li><a href="https://www.thejakartapost.com/news/2020/04/02/message-of-hope-shines-out-from-mighty-matterhorn.html">The Jakarta Post</a>
</ul>

<p>

