<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

</style>
</head>

<body>

<article>
<header>
<h1>Eat Shit, 10 Million Flies Can't Be Wrong</h1>
<h4>Or why I am sick of hearing Labour say the neutrality is the way we heal the country and respect the will of 17.4 million misinformed and mislead people</h4> 
<h4>24-SEP-2019</h4>

I remember when I was around eight or nine I was out in Ealing Broadway when I needed to use the toilet. There was one of those underground public conveniences located in the middle of the road. As you descended the steps into that fetid seedy underworld your nostrils filled with the stench of stale piss and disinfectant.
<p>
You needed an old penny to operate the doors locks on the cubicles but they were all broken so you did your business in the shortest possible time. The insides of the cubicles were covered in graffiti. Some scored into the wood and metal to be preserved in perpetuity, some in felt marker pen to fade over time with the half hearted attempts to clean them off.
<p>
It was an education! There were words unknown to the nine year old me. Words not present in my primary school dictionary; "spunk", "jizz".
<p>
Somehow I knew better than to ask my teachers or even my mother what those words meant. Some education comes by circuitous routes.
<p>
One item though made me laugh. In black broad tip felt marker "Eat shit 10 million flies cant be wrong" The lack of punctuation was not appreciated at the time but the message made me laugh. And even at the age of eight or nine, and ever since I have never been tempted to try eating shit. Even when the numbers were overwhelmingly high.
<p>
And so it is with Brexit.
<p>
On the day after Corbyn and McClusky nail their Leave colours to the Labour mast at the Labour conference, the ONLY argument I STILL keep seeing from Labour remainers who cannot bring themselves to walk out on a disastrous abusive marriage, is that 17.4 million voted to leave. They insist neutrality and a second referendum we will magically heal the country.
<p>
You are wrong. <b>You are so WRONG!</b>
<p>
You sound pathetically like the black and blue bruised victim of a poisonous relationship saying "He was not all bad. He loves me really".
<p>
How many black eyes will you excuse on having walked into the door?
<p>
You have been let down. You have been betrayed.
<p>
So let me set this out for straight.
<p>
<b>In three years no supportable evidence has been produced that indicates that leaving the EU will do anything other than harm the UK (and the EU) both economically and socially.</b>
<p>
So 17.4 million people voted for Brexit on the back of a referendum brought about for the Tories to cling on to power and fed by malevolent xenophobic Brexit party. That does not make those 17.4 million people right in anyway whatsoever.
<blockquote>
Eat Shit, 10 Million Flies Can't Be Wrong <p><br> - wisdom from an unknown graffiti artist circa 1970, Ealing Broadway.<p>- More relevant now than ever.
</blockquote>
<p>
For the arguments on the economic harm that will be done to the UK, look no further than the governments own website gov.uk. Look at the trade projections. Look at the the trade deals: http://ellisnet.uk/Rants/Trade2.html. Look at the companies that are already pulling out of the UK or already closing down.
<p>
So let's get this straight. The Brexit referendum was a massive miscalculation and mistake, It has been seized upon by the malevolent interests of the extreme right of the Tory party and the likes of Farage.
<p>
Our defender in chief, the person who was charged with being the official opposition to what the government where doing was Corbyn. A man that has welcomed what the Tories were doing because he wants to leave the EU for his own out of date world view.
<p>
Actually in 2016 I would say Corbyn was the man in parliament most ideologically opposed to the EU bar none. He is an and remains extremist in his own ideology.
<p>
The Tories have dragged our country in the street are kicking it to death. And Corbyn, the most dangerous man in UK politics has stood by and let it happen. Corbyn has crippled Labour from mounting an effective resistance.
<ul>
<li>In three years <b>Not one word in favour of the EU</b>
<li>In three years <b>No attempt to explain to leavers how they had been mislead</b>
</ul>
<p>
You need to leave the Labour Leave party and vote for a Remain party.
<p>
If necessary we can kick out any party after and vote Labour back in for a socialist agenda in four years after we are saved from catastrophe of Brexit. Do anything else, you are just helping Corbyn and Lexit.
<p>
As for  <a href="http://ellisnet.uk/Rants/Healing.html">Heal the Country...</a>
<p>
<a href="Neutral.jpg"><img src="Neutral.jpg" alt="Neutral" height="400"></a>

<hr>
<a href="index.html">Other Rants</a> 
</ul>






