<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>

<h1>Far Right Rioting</h1>
<h4>14-JUN-2020</h4> 
</center>




It's important for people who voted Brexit and Tory to understand, that while they themselves may not have a racist bone in their body, their choices have, unwittingly, inadvertently, perhaps, helped create the conditions for racism to flourish.
<p>
It is much the same as a white person saying they don't support apartheid but continuing to drink at their whites only bar or ride that whites only bus.
<p>
We ALL nned to look inside and question EVERYTHING we think we know about discrimination and weigh all our answers with one measure only, "Are we being kind?"
<p>

