<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>
</head>
<p>


<h1>Common Sense Gets Flushed Down the Pan</h1>
<h4>7-MAR-2020</h4>
<center>
<img src="EUFlag.jpg" alt="EUFlag" height="200"/><br>
</center>
<p>
The world seems to be in the grip of a pandemic. It's been incubating for several years but the signs were always there. Pandemic stupidity has now swept the world. Stupidity and Greed have gone viral.
<p>
Why in the name of all that is sane and sanitary are people stockpiling bog paper?
<p>
If Covid-19 turns out to be a humdinger then your arsehole is the last in line of orifices that you ought to be worrying about. It's having enough food and water to shovel in at the other end, your mouth that you ought to be considering.
<p>
So let's delve into this shitty mess about your toilet. The thing we all want to do, or I hope we want to do, after taking a dump is clean up. Smearing faeces back and forth over your hairy bum crack with three-ply just is not the best way to do that. And persisting with such an inefficient strategy and pulling off miles more from the loo roll is just wasteful of the world's resources and causes untold problem for sewage blockage. The simple answer is to wash your arse after defecating.
<p>
Bidets were invented for this and it is an absolute mystery to me why the bidet in the UK is somehow sniggered at and considered a bit 'dirty' much like our UK attitudes to sex. There's that pandemic stupidity I mentioned.
<p>
Seriously world, you really have it all arse upwards!
<p>
Now not everyone who has been shoe-horned into a small dwelling may have the roomy bathroom capable of accommodating a bidet, but there are wonderful nifty toilet accessories that can let you wash your backside over the toilet bowl. Amazing.
<p>
But even if you don't want to upgrade your bathroom, whilst at home, use a minimal amount of toilet paper to remove the bulk of any left behind poo, and then just use a separate flannel (not your normal face flannel) to wash. Rinse yourself and the flannel well and we are all cleaner and we've done a little bit of common sense to save the planet.
<p>
Why would I need to write this? Seriously!
<p>
Just Doo Doo It
<p>
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
