<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Fifty Pence Con of the Realm</h1>
<h4>26-JAN-2020</h4>
The Treaty Of Rome was an economic instrument to promote prosperity. Yet, it would be a grave misunderstanding to say that that was its sole raison d'être. Those that say the EU has brought peace understate the case. The EU has done so much more. The EU has brought peace where there was the dark bleakness of war, but it has gone further, much further. The EU has brought cooperation where there was competition, it has brought collaboration where there was conflict.
<p>
World War II left scars, deep scars. Any healing that has since come about, has not come through the vacuous "I'll heal the continent" speeches of politicians but through shared prosperity. It was necessary for the day-to-day conditions of people's lives to improve, and that that was achieved through the auspices of the economic instrument and strategy of the Treaty of Rome was no happy mistake.
<p>
It is right there on <b>Page 1</b>:
<blockquote>
RESOLVED by thus pooling their resources to preserve and strengthen peace and liberty, and calling upon the other peoples of Europe who share their ideal to join in their efforts
</blockquote>
<p><center>
<img src="FiftyPence.jpg" alt="FiftyPence.jpg" height="300"/>
</center>
<p>
The message on the newly reminted fifty pence coin commemorating our departure from the EU is disingenuous. This coin is the very embodiment of the adage "Words are cheap". Real friendship
goes beyond words. Real friendship with the twenty-seven other nations of the EU would have seen us standing shoulder to shoulder with them and it would have seen discussion on what the UK can bring to the EU whereas all the discussion has been about what we can take.
<p>
So, "Render unto Caesar the things that are Caesar's, and unto God the things that are God's". But I say this fifty pence con of the realm, this abominable, minted message of propaganda bears a sentiment that is not something that belongs to Johnson at all. So I say refuse this coin. When it is offered to you as change in shops, ask for an alternative. It may be a small gesture but you can refuse to be Johnson's standard-bearer.
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
