<h1>Fool Me Once, Shame On You; Fool Me Twice, Shame On Me


<img src="EUSoItGoes.jpg" alt="EU So It Goes" height="400">
<h4>Michael Ellis - 29-MAY-2019</h4>

<b>Oh God I have the most stomach churning premonition.</b>

<ul>
<li> Corbyn reluctantly agrees to back a 2nd referendum.
<li> Borris (or A. N. Other) plays for time to get a no deal.
<li> Parliament panic and push the 2nd Referendum button.
<li> 51% vote leave.
</ul>
<p>
<b>If you want remain, you have got to hear me!</b>
<p>
The first referendum plunged the UK into three years of pain and chaos. And why, because you and I are not the right people to ask whether we should be leaving or remaining in the EU! You might be pub landlord, a fishmonger, or a heart surgeon, you might be Aunty Betty who runs the knitting and wool shop down the road. We are not the right people to ask.

Asking the public was like a pilot announcing at 35,000 feet that he rspects the will of the holiday makers and so will hold a referendum on how best to land the plane.
<p>
<b>This is insanity.</b>
<p>

And now so many of us are baying for a second referedum. We're doing this because government have catastrophically let us down. They did so by allowing the first referendum and they have let us down ever since. But the answer is not to repeat the same mistake again!
<p>
There is a <b>right</b> way to fix this, and that is to return to the tried and tested method of real Representative Democracy but it has to be finally acknowledged that the exisiting two parties are the <b>wrong</b> parties!!!
<p>
We have a Left, We have a Right but being a member of the EU is <b>not</b> a Left/Right issue, hence both Tories and Labour riven by division and a gridlocked parliament.
<p>
The Tories have nailed their colours to the mast as Leavers. The Brexit party's sweeping win will drive the Tories towards a harder Leave stance, you only have to listen to the PM wannabes. In essences there is a quasi Tory/Brexit coallition in sentiment if not in name.
<p>
Where in Gods name is the REMAIN party?
<p>
There is only ONE way to right all the wrongs of the past three years and that is assuredly not by gambling on a second referendum!
<p>
Rememeber how shocked you were at Trumps election? Rememeber how shocked you were at the 1st referendum. Do you really want to relive that again?
<p>
<b>Fool Me Once, Shame On You; Fool Me Twice, Shame On Me</b>
<p>
The people of the UK deserve a Vote, but at a general election. BUT there has to be a real opposition to the hard Berexit party that is crystalising on one side.
<p>
The country needs a REMAIN party. Not a second referendum
<p>

As introduced to the waiting world yesterday...
<br>Michael Ellis' <B>Six Point Plan to Save the Country:</B>


<ol>
<li>Labour get rid of Jeremy Corbyn
<li>Labour appoint a real passionate pro EU leader
<li>Appeal to Greens and LimDems and ChangeUK to form an emergency (war time) coalition party. Call it <b>REMAIN</b>
<li>Apologise to the country for triggering A50 when you had no idea what to do next, and explain how it has  undermined our bargaining position with the EU.
<li>Campaign like crazy to really sell the benefits of being in the EU and expose all the lies of the Leave campaign.
<li>General Election - thus relying on the normal process of representative democracy to resolve the issue.
</ol>

This is a plan that I believe the EU would grant the necessary extension for.

I'm sorry Labour, but you must chose between Corbyn who is not and has never been a remainer and being a member of the EU. 

Notes:
<ul>
<li> (1) JC has never been passionate about Europe. Events may force him to agree to a 2nd referendum, but he will never capaign convincingly for something he does not beleive in. 
<li> (3) Britain is at war, albeit with it self over the EU. This war was started by the Tories as an act of conceit and vanity and out of desperation to cling to power. However, only one party has understood this quasi war time situation and campaigned effectively, and that's Farage's Brexit party. We more than ever need a consolidated opposition! How can you talk about uniting the country, if Labour, LibDems and Greens cannot unite at a time of war. If the remain parties cannot achieve this then it's goodnight Vienna.
<li> (4) MOST IMPORTANT - You bastards, the lot of you. From Cameron to Sourbry, from Corbyn to May. Not one of you have properly owned up to the devastating mistakes you have all made. And you are still drawing a sallary, at my expense - really??? If you cannot stand up now and addmit to what you got wrong, then you are simply not to be trusted.  A REAL SORRY IS NECESSARY.
<li> (5) There is so much that is crazy good about the EU. This is the opportunity of a lifetime for our children. Celebrate it, rejoice  in it. bring on the party the REMAIN party!
<li> (6) This is simply the right way to run politics in a civilised modern representative democracy. You have just had a masterclass in how subverting that can bring about ruin. Do not do it again! Also, Labour, Greens and LibDems have enough in common outside of brexit to make this work. Also a strong REMAIN party aligns well with the upturn in fortunes of the Greens and ALDE EU parties. All the main home grown left leaning socialist agendas can still get a good airing.
</ul>



