<head>
  <meta charset="UTF-8">
  <meta name="Fucked" content="Fucked">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">
</head>

<body>

<article>
<header>
<img src="Fucked.jpg" alt="Fucked" height="500">

<h1>Fucked - It's Unmistakably Clear</h1>
<h4>13-NOV-2019</h4>
There's all this election excitement but to be honest, I just have that feeling of resignation one gets whilst sitting in the dentist waiting room. Why? Well, I don't think all the 11th-hour campaigning will amount to much. People are used to the high-pressure double glazing salesman's pitch. And when the salesman starts winding up the pressure most people tend to draw away and stick with what they know.
<p>
I doubt many people will change who they intend to vote for between now and December 12th. You see what I mean? It's kind of over already, We've done the screwing around and now we are just waiting for pregnancy test result. And to be honest after all the pissing on a stick has been done, whichever way it comes back, it's going to say "fucked".
<p>

In respect of Brexit, the campaigning time ought to have started at least two years ago. I mean, campaigning is about changing people's minds right? And Remainers do believe Leavers were sold a lie by the Brexit Party and the Tories. So there has been THREE years for the OPPOSITION to oppose and point this out. Three years to say, £350 million on the side of a bus was a bloody lie, and in any case staying inside the EU is worth so much more anyway.
<p>
But that did not happen, did it? And now you are all excited about what is happening in the 11th hour, 59th minute and 55th second of the game.? As if any of this matters.
<p>
It's too late. It is too bloody late. We enter a general election where not one Labour Leaver will have changed to being a Labour Remainer as a result of anything Corbyn has said in favour of remaining in the EU,... because he has never, ever, said anything in favour of remaining in the EU.
<p>
And with three years of Brexit, most people are just plain frustrated and have hardened their positions on the matter. I expect many middle England Labour voters will switch to Tory or even Brexit Party.
<p>
"Respect the will of the people" - my arse!
<p>
We're fucked. Even a 2nd referendum cannot undo the damage, political, commercial and social that Brexit has wrought. If we get out with a 2nd referendum and goes to remain, it will be the best we can hope for, but for heavens sake, do not think that means business as usual. Usual is not going to be the same any more. We have made sure we are already 3rd country status within Europe even if we remain.
<p>
And in the meantime, Corbyn and Johnson attempt to close the deal like dodgy double glazing salesmen by out bribing us.
<p>
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>

<li><a href="index.html">Other Rants</a> 
</ul>
