<head>
  <meta charset="UTF-8">
  <meta name="Galileo" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>



<body>

<article>
<header>
<img src="EULibDemFlag.jpg" alt="LibDem EU" height="250" >

<h1>A Stupid Man and a Smart Man Walk Into a Bar</h1>
<h4>123-JUL-2019</h4>

<hr>
<a href="index.html">Other Rants</a> 
</ul>




