<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>



<h1>The General Election 2019 Prediction</h1>
<h4>3-DEC-2019</h4>
My prediction (as of 3-DEC-2019) for the upcoming general election is a narrow Tory majority. Labour do poorly. LibDems see little change and remain marginal and irrelevant.
<p>
Then, a short term bounce in the pound and confidence that will subsequently collapse when post-Brexit trade negotiations flounder as the EU start to play hardball. The Tories will, of course, blame everything on the EU and will succeed in stirring up more racial tension in the UK. If the Tories remain in power there will be a high chance of a hard leave by the end of 2020 as trade negotiations remain stalled.
<p>

<a href="https://www.mirror.co.uk/news/politics/uk-politics-poll-tracker-general-20070947"><img src="LeaveRemainGEPoll.jpg" alt="LeaveRemainGEPoll" height="400" ></a>
<center>
<a href="https://www.mirror.co.uk/news/politics/uk-politics-poll-tracker-general-20070947">https://www.mirror.co.uk/news/politics/uk-politics-poll-tracker-general-20070947</a>
</center>
<br>

My reasoning.  In 2016 the country was divided (of those that expressed a preference) down the middle with 52% leave and 48% remain. According to polls, there has been a modest swing towards remain, possibly reversing those percentages but more significantly people are now polarised on the issue of Brexit. This polarisation along with Brexit fatigue plays into the hands of the Tories, no-nonsense, "Get Brexit Done" nonsense.
<p>
Where Leave has been lead by the Tories under Farage's example and tutelage, Remain has languished with the major opposition party, well, not opposing anything. Neutrality was never going to change anyone's mind, by definition.
<p>
Despite a widely accepted view that the Tories are a bunch of rogues, they still command a healthy lead in the polls, and indeed I fear this may actually be underestimated due to folks with enough money and self-interest to vote Tory having even less willingness to fess up to voting for crooks and thus crossing the road when they see a pollster.
<p>
The major failing though has been Corbyn's refusal to wholeheartedly back remain due to his obduracy for his eurosceptic ideology. Corbyn's steadfastly refused to use the three years since 2016 to convert any of the leagues of Labour working-class leavers into remainers. Also, whilst there may well be some conservative voters that would have considered switching to Labour in the interest of more honest and fair future, Corbyn is just seen as a step too far, too extreme, too risky. For this, I believe Labour will now get what they deserve and 95% of the country will get what it assuredly does not deserve. The misled poor and vulnerable are about pay for an excruciatingly expensive very private and isolationist education.
<p>
The graph above shows with blinding clarity that leavers know exactly who to vote for, whilst remainers are as divided as ever.
<p>
If my prediction is right it will bear out my opinion that the opposition parties have catastrophically failed and failed us all.
<p>
But if you are still undecided, I plead with you to vote tactically, prove me wrong and make me eat my words. It would be the best of all Christmas presents!
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
