<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Godspeed Brexiteers</h1>
<h4>17-APR-2020</h4>
To everyone who fundamentally believed that it is more important to compete than cooperate and collaborate...
<p>
To everyone that believes Britannia still rules the waves and believes the way forward in our ever-shrinking ever more interconnected world is to leave a union founded upon the project of enduring peace based upon shared prosperity...
<p>
To everyone who believes that the UK's problems are to be laid at the feet of immigrants, those who staff our NHS, those that pick fruit in our fields...
<p>
To everyone that voted for Brexit, but has since looked at the evidence and changed their mind but not signed a single petition, nor written a letter to their MP, nor found a way to stand up and say "I was wrong, please let us reconsider"...
<p>
To UKIP and the Tory party who became UKIP2, for pushing a policy of exceptionalism and have placed in the balance half of all UK trade for the promise of taking back control and blue passports...
<p>
To Labour, the official opposition party charged with the defence of the common man, for four years of chasing votes on both side of the divide rather than taking a stand on what would be in the best interest of the country...
<p>
To Tory politicians, such as my MP, representing regions with significant remain majorities who still sought to back the government's position on a hard Brexit...
<p>
To you all, I say, <b>this</b> is <b>your</b> moment to shine.
<p>

<center>
<a href="https://tinyurl.com/yd8oal4d">
<img src="https://tinyurl.com/y8et6z2g" alt="RefuseExtension" height="400"/>
The UK will refuse any transition extension request</a>
</center>
<p>
With full speed ahead on the Brexit bus you all now get to lead the UK into an unencumbered vision of your own making. A true blue, no holds barred Brexit.
<p>
I have to wish you well, I have to hope that all my fears, concerns, research are all proved wrong.
<p>
Godspeed Brexiteers! But forgive me if I now do all I can to watch from a distance, because I certainly never for a moment believed this was the right thing to do for anyone but the very wealthiest UK citizens.