<head>
  <meta charset="UTF-8">
  <meta name="DemocracyFail" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUFlagHeart.jpg" alt="EU Flag with Heart" height="250" >

<h1>Gordon Not Jeremy</h1>
<h4>30-AUG-2019</h4>

<a href="https://is.gd/lS7r5M">Gordon Brown: I believe EU leaders will withdraw October 31st deadline</a>
<p>
This is very good news. I cross my fingers that it is all correct.
<p>
<blockquote><i>
He [Gordon Brown] said: "I have actually been talking to some European leaders this week.
<p>
I believe that next week the European Union will withdraw the October 31st deadline and remove the excuse that Boris Johnson has and the claim that he's making that it's the European Union being inflexible in their timing, and make it possible for MPs to vote [against] No-Deal Brexit.
</i></blockquote>
<p>
Labour voters, think, think, 'Gordon Brown' has been talking to the EU.... Erm Gordon, not Jeremy,
<p>
And you still think you have the right man at the helm for this Existential crisis that we are facing. If you do, you have got to be all desperate to leave the EU.
<p>

<hr>
<a href="index.html">Other Rants</a> 
</ul>




