<head>
  <meta charset="UTF-8">
  <meta name="GroundhogDay" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>



<body>

<article>
<header>
<img src="EULibDemFlag.jpg" alt="LibDem EU" height="250" >

<h1>Groundhog Day in Westminster</h1>
<h4>10-JUL-2019</h4>
<p>
<ul>
<li> General election
<li> Hung Parliament
<li> Labour / LibDem coalition
</ul>
<p>
LibDems again in coalition with a larger party that is fundamentally as opposed to their main issue now (Brexit) as the Tories were opposed to their main issue (tuition fees) in 2010.
<p>
LibDems NOW is the time to promise:
<p>
<ul>
<li> If elected you will immediately revoke A50
<li> In the event of hung parliament you will only enter into a coalition, if and only if, that coalition immediately revokes A50
</ul>
<p>
This puts distance between you and Labour (who despite their recent guarded announcements are still headed by a Brexiteer)
<p>
This regains people's trust that you will not let them down as you did in 2010 when last invited into coalition.
<p>
This gives people confidence that a vote for what has historically been the also-ran party, is not a wasted vote since no matter what the outcome it will still be a vote for remain.
<p>
<b>LibDems - Don't Mess This Up!</b>
<hr>
<a href="index.html">Other Rants</a> 
</ul>




