<head>
  <meta charset="UTF-8">
  <meta name="GroundZero" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
imgf {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>
<h1>Ground Zero</h1>

<img src="EULibDemFlag.jpg" alt="LibDem EU" height="450">

<h4>Michael Ellis - 28-JUN-2019</h4>

That Labour cannot wipe the floor with Tories (as per Peterborough and most recent polls) after three years of the Tory clusterfuck says Labour has lost its lead because their leader has lost touch.
<p>
Corbyn rose to power on the back of a visionary and much needed swing towards a socialist agenda. I and  many others remain passionate about and invested in that ideal.

But then Cameron dropped the B Bomb. And Brexit changed the political landscape entirely. Brexit changed everything,... except Corbyn, and that is why Corbyn should go.
<p>
<img src="WheresCorby.jpg" alt="LibDem EU" height="150">
<p>

Corbyn is indisputably, undeniably, demonstrably a Eurosceptic. That's because Corbyn wants, and has always wanted <b>to swap our say in how the EU is run for having absolute freedom in saying how the UK is run</b>.
<p>

But Brexit is no longer a bus with lies on the side, it is an aeroplane plummeting earthwards towards catastrophe.
<p>

And yet, Corbyn remains silent, totally blind to a situation that has dramatically changed since his appointment. Obdurate in his devotion to his own vision. He has <b>totally failed to adapt and respond</b> as a real leader would have. He's locked in his own idealogical absolutes.
<p>

The aeroplane warning lights and alarms are going wild and the ground is rushing up to meet us and Corbyn is looking at maps for the onward flight. Corbyn! There will be no onward flight if there is no aeroplane!
<p>

Jo Swinson is absolutely right in calling out Corbyn as a Eurosceptic (though the means by which she has done this shows she is still somewhat naïve player on chessboard of politics, but her heart is in the right place)
<p>

Corbyn is gambling on letting the Tories do his dirty work of taking us out of the EU so he can avoid any blame. He is hoping, not necessarily for a crash out but a deal that gives him the single market access without any of the ties of remaining as an EU team player. But, Corbyn is willing to risk the  Bojo's crashing us out (though he will feign lots of heartfelt opposition in words, but not actions) because he sees it puts absolute control into his blameless turnip planting hands.
<p>
But even with a deal based diminished role within the EU (one that will inevitably diminish further with time as it does with any second tier club membership), Corbyn will wrestle with 50% of the UK's trade in jeopardy, and with such a substantial hit to the country's prosperity, he will be strapped for the very finances necessary to implement his socialist revolution. Inheriting a disaster of the Tories making, a suffering public will turn on whoever is currently in power. His term, in government, if elected in post Brexit melt down will be short lived. 
<p>
Jo Swinson, LibDem writes today to Corbyn to beg he uses his prerogative as leader of the opposition to call a motion of no confidence in the Bojo clownfest cabinet led government. He will not do this now, because depressingly, despite being up against the most unpopular party of all time, he has slashed and burned his own popularity to even less of that of the government with his diffidence and downright misleading of his own party. His love of self (ideology) has come before expediency and shown how utterly inappropriate this man is as a leader. A leader would have seen the signs, would have heard the alarms, and would have taken evasive action to save the aeroplane from crashing to Earth. He would have pulled back hard on the stick to take us out of a nose dive even if that meant a temporary change of course. But no, co-pilot Corbyn is steadfastly watching the compass whilst oblivious to the altimeter perilously spinning down to ground zero.

<p>
So if you are Labour but believe in the EU, (for better AND worse), you <b>do</b> now have to chose to either fix Labour or jump ship.
<p>
Fixing Labour means setting Labour in opposition to the current "leave at all cost" Tories. That means Labour has to be the party of "Remain". If Labour is not "Remain", then it is <b>not</b> an opposition.
<p>
<b>That means choosing between Remain and Corbyn - you cannot have both.</b>

<p>
Jumping ship is the other option, and the LibDems are probably the only viable remain  defence we have. <b>I plead with you to not seek to chose this moment in time to punish them for their past sins, when they may well be the only hope we have of remaining in the EU.</b> Remember, they need only be in power for a term. Brexit on the other hand is for good, or more accurately worst, and it's for the foreseeable future.


<hr>
<a href="index.html">Other Blogs</a> 
