<head>
  <meta charset="UTF-8">
  <meta name="WhoIsTheIdiot" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>Heal The Country - Who are you? Jesus?</h1>
<h4>21-JUL-2019</h4>
Something I often see pop up in my conversations, well OK, my political rants, is people and MPs saying we have to heal the country.
<p>
Having thought about this, I'm here to rant at those healers (especially the likes of Boris who utter such absurdities), who the  hell do you think you are? Jesus? A faith healer? You going to do some laying on of hands magic shit?
<p>
There some smart leavers and there are some smart remainers. But there are also lots of stupid people on both sides. And for stupid people entrenched in a point of view for which there is no sound logical defence, there is nothing, absolutely nothing you can do or say that is going to 'heal' the division.
<p>
And if you attempt to directly 'heal' that division and try to get them on your side, you are likely going to be seen as a patronising twat. Yes you need to make as strong a case for your cause as you can, and some reasonable people of opposing views may jump ship. And some reasonable people of opposing point of view have a chance to change your mind. But the majority of stupid will stay exactly where it is.
<p>
This sort of healing does not come with head on social engagement and it certainly does not get 'administered'. The healing comes only when people heal themselves.
<p>
That healing requires both time, and the conditions of the oppressed to  materially change for the better.
<p>
Take gun control in the US. If you live in the UK, there's a good chance that you agree with me that letting civilians carry compact kill-a-person-at-a-distance tools (aka handguns) let alone full on semi automatic assault rifles is, well just a bit wacko-crazy. America itself is quite divided on the issue. But right now half the country or more see 'coming for our guns' as taking something away from them. And the red-necks (and quite a few not so red necked) just do not want to accept that particular key social change. I mean, forget the mass shootings they are just the cherry on top, the bulk of the cake is the 14,000 homicide by guns and a staggering 23,000 suicides in 2016 - source <a href="https://www.bbc.com/news/world-us-canada-41488081">BBC  News</a>
<p>
If you offer to remove civilian gun ownership from the US you could bet your sweet bippy you would have an army of red necks spitting nails. Despite a potential massive saving of human life (probably more so amongst the poor less well educated communities that oppose loosing their guns yet suffer so much with gun crime).
<p>
But there is nothing, your words or your laying on of hands to 'heal' would do in a month of Sundays to 'get them on side'. Them good ole boys are just gonna love 'em guns. It is their culture after all.
<p>
Only time can heal. Only the rolling by of years and a demonstrable drop in gun death and communities starting to feel safer will make that difference. Only black people living without the fear of getting pulled over by a white cop who is pissing his pants that all black men must be packing, so is approaching with a hair trigger cocked gun. That may start to change opinions. But your healing words - nah, not so much.
<p>
So here's the thing. Social Change of the sort that befits society as  whole is always hard fought for and always comes at a cost. And once you start compromising your vision for social reform in order to appease the uneducated and the ignorant, you do disservice to absolutely everyone.
<p>
This, exactly this, is what representative government is for. To have a vision for a better future and take us all there, even if the steps along the way are sometimes deeply unpopular.
<p>
This leads into to another concern of mine. Is it me or am I witnessing through the course of my life a style of government that is increasingly afraid to do things that are unpopular. If this is the case. Then, admittedly without hard evidence but with great suspicion, I have to wonder if this change has been affected or catalysed by mass media and social media? And if regular representative democracy is running scared, is there anything that could or should be be done to address the issue. Would extending the parliamentary term from four years to six give a party more confidence to embark on social reforms that necessarily (for reasons given above) take time to play out before delivering changes of heart?
<hr>
<a href="index.html">Other Blogs</a> 
