<head>
  <meta charset="UTF-8">
  <meta name="DemocracyFail" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUFlagHeart.jpg" alt="EU Flag with Heart" height="250" >
<p>
<h1>Why Does Jeremy Corbyn Want To Loose An Election Now?</h1>
<h4>02-SEP-2019</h4>
<p>
<img src="Poll02092019.jpg" alt="Poll02092019" height="300">
<p>
<a href="https://britainelects.com/polling/westminster/">source</a>
<p>
Why in God's name would Corbyn want an general election now?
<p>
Why when it is so obvious from the polls that he is trailing behind the worst government with the most suicidal policies in modern history?
<p>
Why when even former Prime Minster Tony Blair warns him that a general election now is an <a href="https://is.gd/PmA0BH">elephant trap?</a>
<p>
<font size="48"><b>Why????</b></font>
<p>
Think,... in there a sound of of small change hitting the pavement yet?
<p>
Need some help?
<p>
What has Corbyn always secretly wanted?
<p>
What would he most like to get and not get the blame for?
<p>
If Corbyn fights a general election now and loses, Boris get carte blanche to screw over the country with a hard leave. Corbyn knows this will deliver chaos and that before too long another general election will have be called when the Tories are tired of dealing with the collateral damage and they have made their millions on their hedge funds.
<p>
Corby, I believe, thinks he can then step in having had the Tories take the blame for the crisis and save the country with his own fair trurnip planting hands.
<p>Corbyn will have what he has always wanted, to trade our say and share in how the EU is run for his own complete freedom of how the UK is run.
<p>
<img src="PennyDropped.jpg" alt="Penny Dropped"  height="400" >







<hr>
<a href="index.html">Other Rants</a> 
</ul>




