<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 


</style>


</head>
<p>
<center>
<img src="7Matyrs.jpg" alt="7Matyrs.jpg" height="400"/>
<h1>I Don't Want To Go Yet<br>Δεν Θέλω Να Φύγω Ακόμα</h1>
</center>
<h4>Date: 10-APR-2020</h4>
<h4>Author: Michael Ellis</h4>

<p>

Last night I dreamt of death, for the very first time in my life...
<p>
I'm in the car park at the University of Kent. I've parked the car and I am collecting together my bags and the equipment for making the demonstration to the professor I am visiting. I'm walking across campus but now I am younger, and I am walking towards a college building to find my lecture or perhaps my dorm room. I'm in a small library now and the librarian is looking up at me and the other student who I know only as an acquaintance is saying a cheery "bye" to me as they too pack up and go off to something I am not included in. I'm walking down the hill at the back of the university and I am younger still. David Hyland from my school days is at my side as we walk down the hill back towards the Canterbury car park. We seem to be holding hands as we walk. There's no tone of homoeroticism in this, none at all. This is fear. The fear of loss. This is dying.
<p>
I'm in the University Audio HiFi shop at the corner of Market Square in Cambridge. But I am of school age, much younger than I ever was when I first moved to Cambridge. My father is still alive and is talking to the salesman about buying a new hifi for playing vinyl records. I'm excited. I'm fourteen perhaps. This is dad doing something fabulous, something exciting, something grown-up and a hobby that I can share in too. I look to see how much it says on the price ticket to see if I can use my pocket-money to help buy it. But I learn that these are not pocket money price tags. I wonder if I can buy a wall-mounted stand for the expensive and sensitive record deck dad is looking at. I know that the suspended wooden floors in the flats of Ealing Village will conduct sound vibration too easily and this will impair the quality. I want it to be the best possible hifi system for him and me, for us both. Hifi is dad's interest. HiFi is, even more, my hobby. Just like dad.
<p>
I'm seventeen and my mother is lying in a coma in a hospital bed. I am using cotton buds dipped in a glass of water to moisten her lips and drip tiny drops of water into her mouth. I want to do anything to save her but I'm helpless. A nurse has kindly told me that I can do this and I should talk to her too. She tells me that this will comfort her. To my horror I see her last wheezing, faint breath caught in the hospital air. It turns to glass and forms as a glass orb still attached to her mouth. Within it are the swirling muted colours of her life. For a moment it remains attached to her lips, but then it has to break off and fall upon the white cotton hospital bedsheets. It just has to be there somewhere, doesn't it? When we shuffle off this mortal coil. The soul, the essence of us, has to go somewhere, doesn't it?
<p>
For me, there is no God. No ascent into the sky through a veil of fluffy white clouds accompanied by a choir of heavenly angels. I am now so angry at the half-truths and lies fed to us by politicians, and those that would control us. I feel  God and heaven too, are just more myths sold to us by those that would keep us working for a paycheque promised that can never fall due. It's an easy lie to sell because it is the lie we most need to buy. We all need our heaven and hereafter to make sense of death. The mind and the heart cannot, I say to you, cannot, handle the sudden disappearance of loved ones. Everything must obey the laws of physics and the conservation of mass and energy. Even when our head does not possess a degree in physics our hearts still seem to have a faith that this is true in the physical realm and in every other realm too. When the body lays cold and still, we are left searching for where they went. It is the most natural thing in the world to keep looking, to keep searching. So it is the easiest thing in the world to believe in the myth of God and heaven.
<p>
So is there no heaven for me? Ah but there is. I need one as much as anyone. At least for a time I shall live on and ring out like the echos of the ships' horns that bounce and reverberate around the mountains here in the bay of Kamares. I will reflect in the memories of my children and loved ones and then a little fainter in the stories and photographs told to grandchildren and friends. And that will do for me.
<p>
I know what these dreams mean. For the first time in my life, I am frightened of dying. For the first time, I am a step closer to my own mortality. But now, in the brightness of the dawn, with Ronnie, my dog, curled up on the bed at my side, and Wahwah the cat attempting to climb over the back of my laptop and complete this essay by padding his little kitten paws on the keyboard (you'd probably find he types a more entertaining tale than me) I feel more or less immortal once again. But the truth, the truth that lies behind the edifice we all hide behind, is that this coronavirus makes sure all of us, even if only for that one fleeting solitary moment that finds us all alone, have to wonder, will it be me?
<p>
It's OK. The chances are it will not be me. Not this time anyway. And even if it is, for God's sake (you know, that God I don't believe in) cheer up! My life has been charmed and blessed and so chock full of goodness and so devoid of the pain and suffering that so many have to endure, that I acknowledge I've had my fair share and then some, and even more with a cherry on top. Seriously, I lucked out with life and love and sex. Yeah, that last one turns out to be important too. Intimacy is the expression of what it is all about. So, If you are ever faced with the choice between fucking and praying, I say fuck, every time! Fuck someone who is plausibly there, rather than praying to someone who is probably not. And if I am wrong and there is a God, I cannot possibly see how they would hold this against you.
<p>
This is not mawkish morbidity, It is the very opposite. If we walk through the valley of the shadow of death, then it is also true that within the infinite cold darkness of the universe, here we are, against all the impossible, improbable odds, and if only fleetingly, we get to burn so very beautiful and so very bright. 
<p>
But I digress, the simple truth is, I don't want to go yet. Δεν θέλω να Φύγω ακόμα
<p>
<hr>
