<head>
  <meta charset="UTF-8">
  <meta name="SocialismOrEU" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">
</head>

<body>

<article>
<header>
<img src="EULibDemFlag.jpg" alt="LibDem EU" height="500">

<h1>The Left's Case Against The EU</h1>
<h4>22-JUN-2019</h4>

Can there be a case for leaving? Yes there can, and whilst the leave campaign has been dominated by a very toxic form of popularist propaganda, there are deeper thinkers out there that hold valid arguments against the European Union.
<p>
Costas Lapavitsas eloquently makes the left's case for leave here:
<p>
<ul>
<li><a href="https://is.gd/ADWDxG">Labour should support leaving the EU – then it can be truly radical in government
Costas Lapavitsas</a>
<li><a href="https://is.gd/hT72Gx">The Left Case Against The EU - Aaron Bastani Meets Costas Lapavitsas</a>
</ul>
<p>
See not all leavers are gammons.
<p>
Am I convinced by his arguments? In part yes, does it tempt me to vote for leave, no.
<p>
There are a couple of issues I have with Lapavitsas's arguments:
<p>

<ul>
<li>Lapavitsas's assertion that EU was formed with the intent being primarily for economic benefits for big business is difficult to contend of a factual basis. But to say there was no consideration of the social issues seems to be excessively cynical in a post WW2 context when Article 3c of the Treaty of Rome states:<blockquote>the abolition, as between Member States, of obstacles to freedom of movement for persons, services and capital</blockquote>
However you argue about how much the prime motivation was profit or  peace. The fact is that saying we have enjoyed 62 years of peace is a massive understatement. We have not just enjoyed peace, but we've had cooperation and collaboration on pan European scale. Things have been achieved, in many areas that would have been unachievable by countries going it alone.

<li>Lapavitsas argues that the EU is big business orientated and it has positioned itself to prevent member states taking direct control over their own destiny in a way that prevents any government pursuing a truly socialist agenda and hence scuppering Corbyn's aspirations for real social change. And on this, I fundamentally agree with what he says.
<p>
<b>But what Lapavitsas entirely fails to mention, is the price tag.</b> 
<p>This is just too cavalier a proposition. You don't buy without knowing the cost.
<p>

</ul>
<p>
Lapavitsas provides us with an insight on Corbyn's world view and explains why Corbyn will and perhaps should, never  campaign for remain. Since Corbyn got in on a ticket of social reform that as Lapavitsas explains is  inconsistent with continued EU membership, Corbyn rightly feels duty bound to stick to his position. <b>But Corbyn has been entirely disingenuous in holding on to Labour pro remain voters.</b>  If Corbyn has not out and out lied to remainers, he has manifestly misled them with three years of sending out of mixed signal. And I for one, am hopping mad about that!
<p>
<font color=RED>It's a stark choice, you can have old school socialist Labour or you can have EU membership. But you cannot have both.</font>
<p>
Corbyn has known this all along. He is biding his time. He knows he would not get a majority in a general election right now and more to the point, he wants the Tories to be the ones that pull the plug on the EU so he can avoid the blame for any painful consequences.
<p>
<font color="#E0B000"><b>Corbyn be honest! Tell us who you are and where you stand on the EU. Then let MP's and members who place your socialist policy over EU membership wholeheartedly back you, and let MP's and voters who believe remain is the priority go to the party of remain.</b></font>
<p>
And LibDems, for goodness sake, go all out to back remain with a promise to revoke A50. Make a manifesto pledge that in the event of a hung parliament you will only go into a coalition <b>if and only if</b> that coalition will also commit to revoking A50. You cannot, if you are in power absolutely or in coalition, in the event of another "leave" being returned in a 2nd referendum repeat the errors of the past in having to deliver something you do not believe in! So don't offer something you cannot deliver.

<hr>
P.S.<p>
<img src="TreatyOfRome.jpg" alt="LibDem EU" height="500">
<p>
National ignorance plays a significant part in the existential crisis facing the UK at the moment.
<p>
I realise that I had never even looked at, or even looked for the Treaty of Rome before now.
<p>
Even in America teaching the Constitution in schools is the Law.
<p>
At least something of the Treaty of Rome should be known.
<p>
Like the American constitution, The Treaty of Rome is a beautiful thing (and not in a Trump way).
<p>
At least knowing what it set out to achieve as in Article 3 ought to be understood.
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>

<li><a href="index.html">Other Rants</a> 
</ul>
