<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>

<img src="EUSoItGoes.jpg" alt="EUSoItGoes" height="250" >

</head>
<h1>In Reply to a Friend</h1>
<h4>15-NOV-2019</h1>


<blockquote>
I understand your sentiments to a degree Michael Ellis, however, the votes we will cast on the 12th December are not an EU, pro or anti Brexit vote. They are votes about what our country needs. For 10 years the Conservatives have destroyed our education with their cuts, academies, free schools and Gove's porridge stirring spoon as the former Education Secretary. The Police numbers have been cut, stations closed, PCSOs in Norfolk gone. The NHS, benefit changes e.t.c.
</blockquote>
All true except that for me I do see the 12th December as a pro or anti-Brexit vote or at least it ought to be. So often I have heard people say that Brexit is not the only issue. My response to this is that it categorically <b>is</b>, with perhaps the one exception of climate change, and even our ability to deal with that will be enhanced by remaining in a larger bloc that acts in concert to deal with it.
<p>
Brexit <b>is</b> the issue. It's the issue because unlike every other item you list; education, police, fire services, health (and more that you have not mentioned), Brexit distinguishes itself by being the only issue that satisfies all three of the following conditions:

<ol>
<li><b>It is important</b> That 50% of our trade is with the EU is enough to qualify the issue as being important. But that is only one aspect, there are plenty of others too, social and political. That you have no direct dealing with international trade means you most likely know nothing of the details of our international trade. I do trade internationally both with Europe and the rest of the world. I do have a small direct involvement with these international issues for which I will give you just one example that you will most likely have no knowledge and quite reasonably even less interest. I design and make in-vitro diagnostic medical devices. For my business to survive I need to sell to the international market. For trading in Europe, my biggest market, I need to adhere to and achieve CE certification for my products to be ALLOWED to be purchased within the EU. Achieving that certification is currently something I can do here in the UK with the services of UK based companies that specialise in attaining CE accreditation. These CE accreditation services will not be able to operate in the UK if we leave the EU on hard terms. That means I will have the extra expense and time of taking this part of the process (and it is complex) to a company based in mainland Europe. If I cannot not afford to do this, no EU sales for me. Changes in regulation are going to hit small companies that rely on European trade really hard. Large companies will have the resources to weather it. This is just ONE aspect of how leaving the EU will affect my small business. There are others too, and it has taken me years to even start to find them. Does this make me the right person to decide whether we should be in or out of the EU... ABSOLUTELY NOT, we are <b>both</b> ignorant of the overall implications of leaving the EU. But these issues are many and very complex.

<li><b>It is urgent</b> The clock's ticking. That our politicians started the clock before they had a plan on what to do is the second-largest act of national vandalism that I have witnessed in my lifetime. The first, of course, is to hold the referendum in the first place. Eurosceptic Corbyn in his haste to get out of the EU, used a three-line whip to force Labour MP's to vote for triggering A50. Since that rueful day, the clock has been ticking and with every sweep of the second hand, it has backed the UK further into a corner of hasty imprudence. It was political naïvety in the extreme to trigger A50 before we knew what we were doing. But here we are and tick, tick, tick...

<li><b>It is irreversible</b> Policy on education, police, fire services, health and everything else, is largely reversible after every four years, as has been the way of our representative democratic process for over 800 years (albeit with changes and modifications). It has, by and large, served us well not least because the process of representative democracy is relatively good (when compared to other forms of government) at clearing up its own mistakes. Every four years, we get a chance to change who represents us and they get a clean broom. Exiting the EU, even by degrees, is likely to be largely irreversible at least within anything less than around 15 years and it will be a matter that we have no control over. The EU could well just say "no" or make the terms too punishing.  Whatever mistakes we make now you can expect to visit you and your children for quite some time.
</ol>

<p>
So, whilst you assert that "Brexit is not the only issue", for the above reasons, I say that, for right now, it ought to be. Not least because the fate of every other issue you mention will also depend upon Brexit too. That much needed socialist, fairer for all agenda that we both want, will not have a hope of being implemented if there is insufficient international trade to resource it. And, the only difference between a hard Brexit and soft Lexit is only a matter of rate of progress. The EU is not something that should be done by degrees.
<p>
<center>
<a href="ChangeOfHeartPic.jpg"><img src="ChangeOfHeartPic.jpg" alt="ChangeOfHeartPic" height="800"></a>
</center>
<p>

Indeed, so much damage has now been done to the reputation of the UK in relations to its standing within Europe and the world that frankly, I believe our future is heavily blighted and cannot possibly recover within anything less than a generation. What nation would now look to invest in the UK as a means of access to the huge EU market, would you? Elon Musk certainly decided against it. And there go the jobs or our youth, bother here and of course in Europe so auf wiedersehen pet.
<p>
<blockquote>
As for the Liberal Democrats, Clegg and his clan conned and deceived the youth with their manifesto to scrap tuition fees, then increase them with a power-sharing Conservative pact. Now, if, a very big if, they get into power,.they will revoke article 50. Is that Democratic?
</blockquote>
On the first part, I say pointless, and the second categorically wrong!
<p>
No one was more furious with the LibDems going into coalition with the Tories than I was. Their 'U' turn on tuition fees when Education was the LibDems manifesto promise was one of the history's lessons on what not to do as a political party. But you really have to explain to me what service is rendered by punishing the LibDems for past iniquities when they are currently the only sizeable party in England that is wholeheartedly in favour of remain. Punishing the LibDems now for their sins past is as pointless as cutting off one's nose to spite one's face. Be mindful of the past, of course, but don't let grudges define the future for you and your children.
<p>
<blockquote>
...they will revoke article 50. Is that Democratic".
</blockquote>

It is not only democratic, it is the <b>only</b> democratic way once you give consideration and understanding to the matter of what is democracy, and more pertinently the different kinds of democracy.
<p>
As you know, the last 800 years of democracy in the UK, as in most "democratic" countries throughout the world, the type of democracy practised is Representative Democracy. A body of people elected, supposedly, wise, just, well-informed and free of personal conflict of interest to govern in our name. That is, we elect the wise and the good to act in the best interest of the country as a whole. It is evident, that in practice, this system is absolutely terrible, but to quote the old adage, it is better than all the alternatives. And in this, despite my own existential angst on the matter brought about by Trump, Brexit and whether mass and social media undermine the central tenets of representative democracy, I still fervently back it.
<p>
So why is the difference between the types of democracy important? Well, I'll leave it for you to decide, but let me take you on a couple of fanciful journeys...

<ul>
<li>You are sitting on a Boeing 737 at 35,000 feet. Perhaps you're on holiday, (blue passport, expensive private health insurance, phone switched off to avoid extortionate roaming charges ;-) ). The captain announces, "Because Brexit airways respects the will of the holidaymakers we will now hold a referendum on how to land the plane"...
<li>You are on a hospital gurney being wheeled out of the ambulance and into A&E. You've had a massive heart attack. You are barely conscious. As you are wheeled through the corridor, the fluorescent ceiling lights slipping behind you in reverse, you hear the surgeon yell, "Get all doctors, nurses, canteen staff and janitors to theatre one for a referendum on surgery technique stat"...
</ul>
<center>
<a href="Referenda.jpg"><img src="Referenda.jpg" alt="Referenda" height="300"></a>
</center>
The UK, or rather its politicians, have backed the country into an impossible situation. And if by some magic, a 2nd referendum were to result in the UK remaining, it would a rare case of two wrongs making a right. we've had a backlash against experts because they sometimes get things wrong, but the reality, of course, is that non-experts get it wrong far more often.
<p>
<b>Referendums are NOT expositions of modern representative democracy</b>.
<p>
So, to return to your point, in the unlikely event that the nation outright elects the LibDems on a manifesto promise to revoke A50, it would indeed, be absolutely through tried and tested process of Representative Democracy. And after all, show me the Leaver who is going to vote LibDem!
<p>
The 2016 referendum was <n>NOT</b> democracy in action, at least not any kind of representative democracy. At best, it was a form of Direct Democracy. Furthermore, a direct democracy sullied by malevolent interference through mass and social media. That ain't democracy, that's mob rule.
<p>
The referendum was not called out of any sense of the country crying out for it. It was called by Cameron in a desperate effort to hold the Tory party together. And in doing so he unravelled our representative democracy.
<p>

<center>
<a href="HowImportantEU.png"><img src="HowImportantEU.png" alt="HowImportantEU" height="300"></a>
</center>
<p>
<blockquote>
There is only one clear choice, Labour, who will invest in our country, and embrace the needs of everyone.
The sideline is this "Brexit" thing, which they will renegotiate a deal and put the choice to the people, this deal or remain. Whatever the outcome will be, the 3 year journey that has informed the public is the way we go.
There is clearly only one party which is fair and open to the needs and views of everyone...
Conservatives (Brexit Party not by name) - Leave
Liberal Democrates- Remain
Labour - Democratic, fair, the people to choose
</blockquote>
<p>
To me, Brexit is central, not a sideline. It may be a sideline to you, but are sure it will be a sideline to your grandchildren?
<p>
Based on my observation that few (I include myself of course) people can possibly hold a really well-informed view on the highly technical matter of Brexit and how it affects the country as a whole, a repeat of the referendum, is an exercise in making the same mistake again. That said, I see that given the way things are going, we may have no other option.
<center>
<a href="MIBPV.jpg"><img src="MIBPV.jpg" alt="Men In Black peoples Vote" height="500"></a>
</center>
<p>

Whilst I agree with you that the UK is in desperate need of that left-leaning socialist agenda, I am at odds with you as to how we get there. I have no party allegiance or loyalty. The very notion of party loyalty strikes me as something akin to being in an abusive controlling relationship. I am loyal to the principles and not to a party or a label or a politician (especially not a politician).
<p>
There is an irrefutable fact that I think is worth considering though. The world is changing, and advances in technology make that a rapidly shrinking world. It once took months for news to travel around the globe. Now a grandchild live video chats with its grandparent on a mobile. A journey that once took weeks is now made in hours. People who were once far beyond our horizon are now friends, lovers, co-workers, partners and spouses. 
<p>
This is the new 21st-century world we live in. Corbyn retains a 20th-century world view, in particular, his brand of socialism is dyed-in-the-wool stuck in the past form of socialism that is rooted in an "our fair isle" mentality. His essential issue is that he wants to swap our say and share in how the EU is run for freedom from EU rules on fair play when it comes to support of domestic trade and industry. To me, that is a fatal mistake. It's about as sensible as breathing new life into opening up disused coal mines.
<p>
Some time ago, a young woman, yet to become a mother, baulked when I told her that I believed Brexit divides people between those who consider "my country" or "our world" as being more important. Corbyn's socialism is firmly rooted in the former, and I believe our future lays in the latter.
<p>
I respect you. Serving in the armed forces, being a dedicated educator, those are things I take my hat off to. But do you strive to keep things as they were in the past, or will you adapt to the new? England for the English is King Canute commanding the tide not to turn.
<p>
In the womb of young lady, the nascent grandchild grows. It is for them that I now protest, for them that I shout loudly to protect their right, in this ever-shrinking world to live, find work and be free to love in twenty-seven other countries of the EU. I hope that when they grow up they too will shout and campaign and be mindful of their own nascent womb bound grandchild for the right to live, find work and love in every corner of this small blue and green planet.
<p>

<div class="poem">
Imagine there's no countries
It isn't hard to do
Nothing to kill or die for
And no religion, too

Imagine all the people
Living life in peace

You, you may say I'm a dreamer
But I'm not the only one
I hope someday you will join us
And the world will be as one

Imagine no possessions
I wonder if you can
No need for greed or hunger
A brotherhood of man

Imagine all the people
Sharing all the world

You, you may say I'm a dreamer
But I'm not the only one
I hope someday you will join us
And the world will live as one

<i>Songwriter: John Lennon (labelling the picture horse, obviously)</i>
</div>
<p>
Well, that's a lot of reply there isn't it? And here's the thing, it's not going to change your mind or anyone else's is it? In fact, the only game-changers may well now be the promises of great give-aways, which if true will bankrupt the UK and if false will further disenfranchise people from taking an active interest in politics.
<p>
Free internet as an offer at this juncture, in my opinion, is about as low as you can go. 15% of the internet for Netflix and 11% for YouTube. Social media, entertainment and porn probably command the lion share, it does for me too ;-) The idea that free internet will enable the masses and is not a simple vote catcher is absurd. It's the policy of an advertising department.
<p>
So who ya gonna vote for? Well, we're agreed on one thing, we want the Tories out, so for me, a tactical vote here in South East Cambs aligns with my main preference anyway. Does that mean I love the LibDems? As I said, frankly I don't give a flying flamingo about the colour of the rosette. I just happen to believe that the overriding issue of our day, for me, our children, and our grandchildren will be where are aligned within the world that is boiling down to a handful of power blocs, and which of those power blocs looks most likely to uphold the values I hold dearly. Would I be happy with Labour, yes. Would I be happy with Corbyn? Absolutely not. In my view he has squandered three years of opposition having failed to reach out to any Labour Leavers to explain why they backing Leave is far from being in the interest of the working class. Corbyn is not a liar but he is has wilfully mislead party and country by never once speaking in favour of the EU. But, still, he remains leagues better than the likes of Johnson et al. In my view too  he has shown naïvety in his handling of Brexit. Some of the stunts he has pulled look absolutely idiotic (see <a href="http://ellisnet.uk/Rants/ToothlessTiger.html">ToothlessTiger</a>)
<p>
I'd like to introduce to introduce a new phrase to the political lexicon; "Twatical Voting" - Voting for a twat because there are no other sane options. #TwaticalVoting - you saw it here first.



