<h1>Intentionally Vulgar, Hiding in Plain Sight</h1>
<h4>30-APR-2020</h4>
<p>
The ice-cold droplets of spray land upon my bare back; the bare flesh that has sun-baked this last half-hour beneath the deep heat of the sun. Though I am lying face down and see only the sun-bleached pebbles, cool grey in my own shadow, the sea's rushing, sushing paints with Vangough vibrancy the limpid, liquid aquamarine swell as it lazily sea-sways, seesaws ashore and gives up a last rolling cool swell to crash all spume and spray upon the rocks. The wind in its ranks takes up the final assault, bearing the iced arrow tips of cold to rain down in a surprise attack upon my flesh.
<p>
My body does not flinch, though my mind does. The suddenness, arrests physical response but not the mental assimilation of sensation. A split second is stretched lengthwise to run in slow motion. The shock-induced clenching of the mind in a vice-like grip is relaxed and released. As time pours in, I wrestle to focus and then to label experience; cold, warmth, shock, pain, easy, relax, pleasure, delight.
<p>
On the hole, I've found women understand, appreciate, the tension in the choreography of pleasure and pain more than men. But perhaps that is unfair and may reflect that I have occasioned such discursive intercourse exclusively with the fair sex, (and there lies a vulgarity to be sure). Men seem to lack that keen edge. Blunter in their appreciations. More straight forward and all too quick to the point. Too sequentially inevitable.
<p>
Crude juxtapositions of opposites, the simplistic side-by-side of extremes, defines vulgarity. But we all, at times, crave vulgarity, don't we? Refinement is merely the acquired sophistry to hide such intentional vulgarity in plain sight.

<center>
<img src="Okeefe.jpg" alt="Okeefe.jpg" height="400"/>
</center>
Picture source: http://www.angelfire.com/art/favoritewomenartists/georgia_o_27keefe.htm
