I think Therefore I Vote

<a href="https://www.bbc.com/news/election-2019-50580699#"><img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/0A15/production/_109918520_8f8b1cb1-f36d-427c-8f7d-cafc86c9f033.jpg" alt="EU So It Goes" height="400"></a>
<center><i><a href="https://www.bbc.com/news/election-2019-50580699#">General election 2019: Labour to change strategy with two weeks to go</a></i></center>

<p>
Elections, I <i>think</i>, are not won in the eleventh hour. I <i>think</i> people are more likely to hold firm to previous convictions when they are under pressure and scrutiny. I <i>think</i> people change their minds in the quiet mood of reflection. I <i>think</i> they change their mind when the electricity bill is opened and they struggle to pay. I <i>think</i> they change their mind when they see their child benefit for a student exchange visit. I <i>think</i> they change their mind for a whole host of incidental reasons but most of all they change their mind when they have sufficient space and time to mull things over free from the confrontational intensity of electoral campaigns.
<p>
Labour have massively, catastrophically, miscalculated appointing Jeremy Corbyn as leader. For all his good socialist qualities his brand of socialism is fundamentally flawed by being 50 years out of date. It's not that the "fairer" in fairer for all" is out of date, it's that the "all" no longer applies just to our nation, but, due to an ever-shrinking world, the "all" is now beyond our shores.
<p>
Corbyn obdurately clinginging to his 50's idea of soverignty has meant he has always wanted to swap our say and share in how the EU is run for escaping the EU's rules on fair play when it comes to governments unfairly propping their domestic trade and industry. So for three years Corbyn has sat idling in neutral, and going nowhere! Due to his own ideology that we are better out of the EU, he has never campaigned to remain. He has not one in three years reached out to the Labour Leavers to say, "hey, there working class Leavers the campaign of the rich Tories and BP in blaming foreigners for your worsening conditions is a complete lie".
<p>
What Corbyn does now is completely irrelevant. And this eleventh hour strategy of changing course to tack closer to the Leave wind will backfire too quite possibly spectacularly. Labour leavers will likely mistrust a man who appears to waiver so much and Remainers are all the more likely to walk away to the LibDems.
<p>
Labour you fucked up big time. When Cameron dropped the B-bomb you failed to recognise that the world had changed. You didn't understand that Brexit was the biggest issue and that it was not a left/right think. The Tories, did understand that and with Farage's tutelage, they got behind a solid Leave position. labour you have had three years to build an solid Remain position, because Remain IS the opposition to Leave, but no, you figures the nuanced position of Neutral was the way forward.
<p>
Well, it's all over now. Labour are going to get a hammering at the very time when they ought to be wiping the floor with the worst Tory government in living memory. They should be so far ahead of the polls that Johnson wouldn't have dared called for an election. I'll tell you who also knows this, Corbyn.
<p>
So am I saying don't vote Labour. Not at all. I despise the Tory party, never more so what it has become over the last few years. It beggars belief that there are still people willing to back them, but the well to do,  will do all they can to protect their own wealth. Voting tactically will be all we can do to get them out and if that means voting Labour do so. If that means voting LibeDems, do so. But One eay or another, we will probably leave the EU because Corbyn has never earnestly stood behind remain. 
