<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>
</head>
<p>


<h1>It's Not EU. It's Me.</h1>
<h4>12-FEB-2020</h4>
<center>
<img src="EUFlag.jpg" alt="EUFlag" height="200"/><br>
</center>
<p>
My dearest darling Britannia,
<p>
I've been struggling to find the right words to tell you how I am suffering from the recent changes in our relationship. When you and I got together all those years ago, despite the age difference, you being 426 years older than me, I thought we just fitted together so well. 
<p>
I was only 13 when you suggested you wanted a more open relationship, and whilst it's true, that at 13 I did not really understand what that meant, I grew up in this wonderful open environment. I loved how we were able to see other countries without guilt or jealousy. I loved how we could all come and go as we pleased. It just brought so much colour and vibrancy into our lives.
<p>
I never realised at the time that your heart was not really in this and that you felt so uncomfortable when I went out with my friends and even more uncomfortable when I brought them home to stay. I guess I was blind not to see the signs and for that, I am truly sorry.
<p>
I love you, I truly do, but when you said "enough is enough" and "leave means leave", I just felt so trapped!  I just cannot understand why you need to be so exclusive and possessive after all these years.  I cannot understand why you would place "my country" before "our world".  Is it because you feel I love you any the less when I spend time with French, Spanish and Greek people?
<p>
Perhaps it is me that has changed? Yes! You must not blame yourself, I am sure it's me. I can understand and forgive your outbursts of anger and frustration at having my friends over all the time. I think I can see now that all along you have felt more comfortable with your own type and your own ways. It's just that, well, I cannot live my life that way now.
<p>
I've been tearing myself apart these last four years because although I love you so dearly, you're asking me to turn my back on too much that I love. The truth is I think I am more of a free spirit than even I had imagined, well that is until 2016 when you told me you wanted to put me in a cage.
<p>
I don't want to say goodbye, so let's say just say adieu, αποχαιρετισμός, despedida.
<p>
Yours always, but more as a friend now.
<p> - http://ellisnet.uk/Rants/ xxxx
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
