<head>
  <meta charset="UTF-8">
  <meta name="DemocracyFail" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUFlagHeart.jpg" alt="EU Flag with Heart" height="250" >
<p>
<h1>JC is not the Messiah. He's Herrod</h1>
<h4>21-SEP-2019</h4>
<p>
Labour is lead by an ardent Leaver who at every step has done everything in his power to facilitate the Tories in bringing about Brexit.
<p>
If you believe in the EU and you are still voting Labour you are just failing to deal with reality.
<p>
Tyrants come in many guises. Mogg, Johnson, Trump,  Come wrapped in the garish tinsel and Christmas wrap of their sociopathic traits and this makes them easy to spot. But there are other tyrants too, those that come wrapped in brown paper and string. Corbyn is exactly that. He plays a clever and quiet game to achieve his own ideological ends but all the evidence is that he is as uncompromisingly tyrannical in attaining his own ends.
<p>
<ul>
<li><a href="https://is.gd/NbZQRB">Three line whip on labour to trigger Article 50</a>
<li><a href="https://is.gd/WuaGIl">Labour expels Alastair Campbell from party (for voting for LibDem pro Remain MEP)</a>
<li><a href="https://is.gd/sN8MNg">Labour votes to scrap student wing ahead of party conference</a>
<li><a href="https://www.bbc.com/news/uk-politics-49776100">Bid to oust Labour's deputy Tom Watson</a>
</ul>
<p>
For the sake of the millions who will suffer, I ask Labour voters wake up and divide your very worthy socialist agenda, from an ideological tyrant who happens to share that agenda but who is thoroughly disingenuous about the price he wants you to pay for it, namely exiting the EU.
<p>
And if you can see that there is poison in your party, but you can't bring yourself to vote LibDems for the sins they have committed in the past, then please at least consider that punishing the LibDems for what they have done comes at the price of punishing millions for what a Lexit will do.
<p>
If a Labour Lexit disturbs the fragile peace in Ireland, and sees the return to bombings and beatings and tarring and featherings, then you had better be prepared to say  punishing the LibDems makes that worth it.
<p>
And if a Labour Lexit means the loss of full Freedom of Movement, and the three years of hellish anxiety and the ignominy of applying (<a href="https://is.gd/ogwlY3">and often being refused "SS"</a>) is to be followed by EU families being ripped apart and "sent back home", and the increase of the passive and sometimes active xenophobic racism that has been stirred up by marking out our EU friends and family as second class citizens, then you better be prepared to say punishing the LibDems makes that worth it.
<hr>
<a href="index.html">Other Rants</a> 
</ul>


