<h1>The Kecks Corona Coincidence</h1>

Scientists the world over thought it could never happen! Two events of cosmic gravity have aligned along the temporal axis of the space-time continuum. But indeed, on this day, May 4th, 2020, a once-only event took place, namely, The Kecks Corona Coincidence.
<p>
The simultaneous lifting of liberties, restrictions and constrictions as marked by the partial relaxing of the Greek lockdown, and on the very same day, the seasonal temperate ceremonial marking of Spring by the lifting of other restrictions and constrictions marked by going commando. Indeed it is so! All upon one auspicious day the wearing of face masks and the unwearing of pants!
<p>
You are living in a truly unique time.  Experts from every branch of intellectual inquiry agree that such an event is unlikely to occur again in the lifetime of this universe