<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>

<img src="EUSoItGoes.jpg" alt="EUSoItGoes" height="400" >

</head>


<h1>The UK Knows Not What It Does</h1>

"The UK has also a long history of a disdain for anything ‘Continental’ and ‘European’, -even the terminology in itself alienates EU27 citizens living in the UK." from <a href="https://www.facebook.com/drjoelvos/posts/2627046907530386">Joel Vos' How Brexit has made me lose my psychological home: a personal reflective essay</a>
<p>
The political elite have tapped into and stirred this up. The referendum, something closer to mob rule than representative democracy set in motion slow-moving but powerful seismic forces increasing that emotional intercontinental drift away from Europe. The tectonic plates of patriotism and tolerance have been placed under such duress and stress that they now collide, rupture and force the below-ground sulphurous, malodorous stench of racism to erupt at the surface.
<p>
At a time where the world is rapidly shrinking due to technology and globalisation; forces largely outside political control, our politicians elected to stand against the tide of social integration and back ignorance and distrust.
<p>
The Tories scapegoating of immigrants has been in play for years. But Corbyn's stance of neutrality has tacitly condoned this stealth xenophobia.
<p>
I have never supported the Tories. But I shall never forgive Corbyn for squandering the last three years when he ought to have been leading his party to convince the leagues of Labour working-class leavers, that they were lied to and misled by the Tories' and the Brexit Party's leave campaign. Corbyn could have, should have, used those three years to explain that the misfortunes of the poor were never the fault of immigration but the fault of diabolical unfairness of wealth distribution caused by the greed of corporates and facilitated by the Tories. Instead, he stroked his beard and fiddled with his moustache and said "Everything was on the table", and "It's all some way off", and played a game of "constructive ambiguity". And why? because Corbyn's "fairer for all socialism", is an out-dated 20th-century socialism where the "all" is limited to only our island. A socialism that fails to respond to that ever-shrinking world where France, and Germany and Spain and the rest of Europe are not foreigners, but our friends, our families, our lovers, our work colleagues, our neighbours.
<p>
Corbyn could simply not wait to get out of the EU because he is wedded to absolute national sovereignty. He has has been patiently waiting to swap the UK's say and share on how the EU is run for absolute freedom from EU rules on fair play regarding how governments support domestic trade and industry. 
<p>
And the cost of this misguided, missold neutrality; a league of labour working-class leavers left to ferment in the fetid juices of soured patriotic rhetoric stirred by the extreme right-wing.
<p>
So fuck you Tories. And, fuck you too Jeremy Corbyn. You were supposed to be our defence, our opposition to what the Tories have been doing. And your best shot was to remain neutral? The antisemitism smears are a laugh (and I am of Jewish extraction), Corbyn is not a Jew-hater (*). But his obduracy in pursuit of his outdated ideology on sovereignty has been silently complicit in curdling healthy patriotism into a soured xenophobia that is rife throughout the UK.
<p>
And frankly, anyone paying higher rate tax who is going to vote Tory and believes that have some moral high ground? you have to question whether a Tory party largely disowned by the likes of Ken Clarke and Heseltine is in any measure conservative. The Tory party as it stands now is the party of dishonesty, callous greed and self-interest.  Voting Tory and attempting to take a moral stand is about as questionable turning up at the Klu-Klux-Clan on Saturday night and going to church on Sunday morning.  Vote Tory but have the guts to tell it as it is. You believe it will suit your pocket.
<p>
So, we now have to vote. Well, it's all too late, we cannot undo the damage that three years of Brexit have done. Not even revoking A50 will put right the damage that has been done to the UK in terms of the economy and society, the very psyche of our nation and the way we are regarded b the rest of the world. Brexit has left the UK scarred. It's a deep scar, a scar so deep that I no longer feel proud to call myself British right now. We are however into the realms of damage limitation and that means voting tactically or as I like to call it, voting twatically; voting for a twat because it is the least damaging option and stands the greatest chance of getting the corrupt cruel cabal of Tories out of office. So vote labour if that is your best chance. Vote LibDem if that is your best chance.
<p>

(*) I want to know how many of those raising hell about Corbyn being antisemitic are wealthy tory voting Jews?

<img src="ChangeOfHeartPic.jpg" alt="Change Of Heart" height="800" >

<p>
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>

<li><a href="index.html">Other Rants</a> 
</ul>
