<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>


<h1>Labour: Can't Change - Won't Change</h1>
<h4>26-JAN-2020</h4>

Labour party you utter waste of space. You are the party that has squandered any hope of our remaining in the EU. Why do I blame you more than the Tories? Because it was your job to protect the vulnerable in society whereas we all know that it is the Torie's job to champion the able and privileged and greedy.
<p>
Labour party you utter waste of space. You are the old geezer down the working mans club. Decent enough, fair-minded, but oh so set in your ways. You are the "always done things that way" voice of politics.
<p>
Labour party you utter waste of space. Progress, technological and social, always challenges the status quo. There is always a cost for change. But Labour's way, when change threatens the status quo, is to resist that change. Red Labour would have kept the coal mines open and invested in steam drive coal-powered automobiles. Before that, they would have subsidised the cotton mills. And now you remain 'neutral' on our membership of the EU. You will still be backing the high street when the internet is delivering to your door with robots and you will champion the employment of more doctors when your iWatch diagnosed your child's leukaemia three months before you ever considered a doctor's appointment was necessary.
<p>
Labour party you utter waste of space. It's not that you are without vision, it's that your vision of fairness for all utterly blinds you to everything else so you cannot see how the world is changing. You stand there with red rosette and flat cap telling the tides of change not to roll in.
<p>
Labour party you utter waste of space. And Len says "Labour suffered a major, major defeat... because of Brexit... The more we slid in to be perceived as a Remain party, the more the consequences were going to be felt in our heartlands... There was a feeling of betrayal". No Len, you and your utter foolishness betray the working man. The EU is here to stay it is part of the future. It's progress that has to be dealt with not denied.  When your working man voted to leave, it was your role to explain to him how he had it all wrong because been mislead by propaganda and misinformation. But no, you believe it is better to tell him the future does not have to come, agree with him and take his vote. Votes count more than truth, even when it is a frightening challenging truth.
<p>
Labour party you utter waste of space. You complete and utter waste of space. When the Tory party is the very antithesis of the fairer-for-all socialism that the UK so desperately needs, you the Labour party will be the greatest obstacle of us getting there.
<p>
All of the right-wing extremists fly under the false banner of "traditional values". They always challenge change as the enemy of those traditional values, even when those traditions are out of date or just plain wrong.  They all sell the false promise of turning the clock back to a better time. Whether it is Wilders wanting a restore the old ways of overfishing or the 'harmless' tradition of “Zwarte Piet" / Black Pete, or Spain's Vox party supporting the grand tradition of bullfighting or just about any other right-wing extremist party, it's always the same story. tradition over progress. It's the conventional wisdom that is more about convention than wisdom. And labour, you utter waste of space, you were willing to stand by and accept that rhetoric rather than stand up for the inevitable truth of progress.
<p>
The distinguishing feature of mankind is our intellect and how that has allowed us to be so manifestly successful by afording us an exceptional ability to adapt to change. Adapting to change, not exactly Labour's strong suit!
<p>
Labour party you utter waste of space. I'm so devastated that my country is in the hands of the most devastating cruel, callous and self-serving government in all my living memory. I blame you every bit as much a I blame the Tories. Please God the dark forces that pull your strings will see you will elect Rebecca Long Bailey as your brand new old 20th-century world view leader. Please God that will bring about a sizeable defection that may spawn a new socialist movement that is willing to face up to and embrace the challenges that the 21st-century inevitably brings. Labour's division over Brexit is not the cause of your failure, it is the symptom of a deeper divide between the old and the new. 

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
