<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="LabourPains.jpg" alt="LabourPains.jpg" height="400"/>
</center>

<h1>Labour Pains</h1>
<h4>16-DEC-2019</h4>
<p>
I'm watching the furore in the Labour party as they frantically try to address the catastrophic general Election. Doorstep results confirmed Corbyn was simply unelectable. There were a few reasons as to why this was so but I want to concentrate on one reason in particular because the election of a new Labour Leader will not solve what I see as the insoluble issue for Labour.
<p>
Brexit was divisive. It divided the Conservatives. It divided Labour. It divided the nation and even divided families. This was fundamentally because it cleaved our world in two but not along the traditional political fault line between left and right but upon a new fault line separating the old and new. Failing to appreciate this will leave Labour forever divided and impotent in an ever-changing world that will continue to present challenges just as divisive as Brexit. 
<p>
Labour is an old party founded upon defending the rights of the working class, hence its close association with trade unions. Its past battles have been against the capitalists who have sought to unfairly exploit the workingman for its own profits. This defines the battle lines between left and right. And Labour and the trade unions fight has by-and-large been simply to resist the exploitative practises of the bosses. This is the history of 20th-century politics in the UK.
<p>
But this is the 21st century and the world is changing. Indeed the world is changing at an ever-increasing rate. Growth in computing is now known to be super-exponential! Such technological change inevitably ushers in social change too. This new kind of change also presents as an existential threat to the old ways and the working-class.
<p>
If you look at Brexit in the larger context of this framework, you can see that the formation of the EU as an expression of technological and social advancement. Technological in that transport and communications have dramatically shrunk our world, and social because that technological advancement resulted in the closer relationship of the people across the continent of Europe. (indeed this was the page one plan in the Treaty of Rome)
<p>
Labour is divided by the old and the new. Let's call them Old Labour and Young Labour. Old Labour with the likes of Corbyn, McDonnell, Skinner, McClusky et al square up to these attacks on the working class in the tried and tested way they always have, that is in a confrontational way to resist those changes from happening.
<p>
Look back in time. Old Labour fought the closure of coal mines. Had they won we might now be living with state-subsidised coal mines and a UK motor industry investing in coal-powered steam automobiles! Doesn't that seem a ludicrous proposition now?
<p>
Before the coalmines, they fought the closure of the cotton mills.
<p>
Looking ahead, they will fight the closure of the high street as trade is lost to the internet. And a short time after that they will be backing GP's from becoming obsolete by advances in AI and health apps that run on your iWatch and diagnose cancer, diabetes and heart disease long before you ever knew you ought to visit your doctor. The truth is, that progress, technological and social, is always made at the expense of disrupting the status quo, and it is, and always will be, attended by some pain.
<p>
I know you know I have a valid point! At this point I know you know that Old Labour's method to resist such change is as doomed as King Canute defying the tide.
<p>
<b>JC Wasn't the 2nd Comming of the Messiah, but Old Labour are the 2nd Incarnation of the Luddites.</b>
<p>
Young Labour is still left-leaning and Socialist. Indeed all that new blood on the back of £10 membership was the new Hippy Generation full of peace and love and stick it to the man. But they are also children of 21st-century, born into an era where the only certainties are, death, taxes <b>and now change</b>
<p>
Young Labour has the unenviable task of squaring up to this inevitability of change and has to work out how to not leave an unemployed 54-year-old miner twisting in the wind. It has to work out how to create a society that includes everyone, even those that are unable to adapt to such change. It is a monumental challenge, but it is one that seems far more likely of success than Old Labour's battle plan of denial and asking the tide not to roll in.
<p>
And so I see Labour spasming in the throes of their own Labour pains.  Pregnant with Young Labour, the contractions fierce and fast. The only way to get rid of Labour pains, is to do the obvious and give birth! Old Labour can then go on under the control of the old guard and appoint their preferred hard-left leader to fight and resist change. There will be plenty that see the world as they do. And Young Labour can forge a new path. They have five years to get ready.  Both Old and Young Labour are equally left-wing and socialist, but they are divided between the old and the new. I know who I would put my faith in.
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
