<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 


</style>


</head>
<p>
<center>
<img src="Starmer.jpg" alt="Starmer.jpg" height="400"/>
<h1>Labour<br>Stop Complaining, Start Campaigning</h1>
<h4>Date: 16-APR-2020</h4>
</center>
<p>
Our official opposition, Labour appears not to have a clue! Against the worst government under the most trying of times, Labour are busily engaged in doing all they can to make sure that even under these circumstances they remain,... in eternal opposition. Perhaps they just do not have a stomach for government?
<p>
Labour's current narrative of working with the Tories and at the same time holding them to account is utterly delusional. With an eighty seat deficit, Labour's participation in Westminster is relegated to the humiliation of being swept aside and ignored. In Westminster their role is now entirely decorous; to be seen and not heard. And if that's all Labour continue to do, this too will diminish them in the eyes of the public. Since Labour can do nothing now to change the course of the Tories, they would be better acknowledging that reality, and play it to their advantage by not attempting to interfere in Westminster so when calamity comes, there will be one party and one party alone to blame.
<p>
What Labour should be doing NOW, is what they utterly failed to do for the last five years; taking the battle out of Westminster and to the people, by CAMPAIGNING.
<p>
The Tory rule will come to an end. The double whammy of Coronavirus and Brexit is going to take its toll in lives and livelihoods. A disillusioned public will seek change. If things go disastrously wrong it could even bring about a premature implosion of the Tories and election at very short notice.
<p>
Labour should be ready for this with a huge but simple manifesto of THREE PLUS ONE.
<p>
The THREE has to be Education, Health and Housing. All three are currently sick with systemic problems. The nation needs all three to be healthy if the nation is to thrive. At present all the talk is of Health. Pursue only that, and you will forever have nothing but a well looked after nation of pensioners. We will not only be the sick man of Europe we will simply be a sick and ailing nation.
<p>
HOUSING - Take control of housing with a massive plan for Social Housing. Make social housing so great, so affordable that people choose it because they want it. That will take the heat out of an absurdly overheated private housing market and return a greater portion of earnings to circulate within the economy. Cheap social housing equates to wage increases not only for our health workers, hospital porters, nurses, carers, but also the lorry drivers, teachers, builders, butchers, bakers, candlestick makers, and indeed EVERYONE. No more homelessness. No more wealthy people using UK property as a work-shy investment. No more exploitation by unscrupulous landlords. 
<p>
EDUCATION - Education has come off the rails with far too much emphasis on university degrees. You ask why you have the likes of Trump and Johnson as our leaders, you need to look no further than the fact that so many people have been tragically let down by the education system, so much so that they are disadvantaged when competing in a more open employment market. A lack of good primary and secondary education also leaves a vacuum in the minds of the many for a malevolent right-wing to so easily fill with nonsense. Money and effort needs to be ploughed into Primary and Secondary education. Tertiary education needs a massive reworking to drag it into the twenty-first century so we stop this craziness of £50K degrees that are leaving students in life-long debt with still no hope of a job. There are much better ways to run things.
<p>
HEALTH - Yes we need to fund health, but we also have to wake up to the fact that the twenty-first century brings substantial changes that the health service has to respond to. Advances in medicine have raised the per capita cost way above what it was when the national health service was first created. Cancer and heart disease are hugely expensive to treat. You are going to have to build a new system that offers good basic care free at the point of use for everyone, but you cannot do it all. You will have to face the hard realities that if you want the gold plated health service of advanced expensive treatments then you have to contribute more. It's bitter pill, but if you don't swallow the medicine now, the healthcare system we have will crumble and collapse to be sold off in tranches to the private sector.
<p>
And now for the PLUS ONE, EUROPE! Labour must NOW take a full and final stand on being IN or OUT. In my opinion, IN is the most sensible path for what is inevitably an ever-shrinking world of increasing interdependencies. I believe ultimately IN will protect the working man more than OUT would. But, either way, Labour need to stop following the people and start LEADING them. They need to take an independent informed position on the EU as to what is best for the country and then SELL it to all people in their campaigning.
<p>
Do that then they maybe they will look credible when the time comes. Maybe then we will finally see something of this fairer for all.
<hr>
<p/>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
