<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="BreakingNews.jpg" alt="BreakingNews.jpg" height="600"/>
</center>

<h1>Labour Busy Planning Next Catastrophic Defeat</h1>
<h4>15-DEC-2019</h4>
<p>
The muppetry is very strong with this party. In a rush to recover their footing the labour party is pouring petrol on Corbyn's funeral pyre in such quantities that I fear national shortages at the nation's petrol pumps.
<p>
No one is more critical of Corbyn's position as leader of the opposition than me, but the time for that criticism was BEFORE the general election. Corbyn is already history. If all you are going to do is warm your hands at Corbyn's funeral pyre, and appoint a new leader then you are full steam ahead for your next catastrophic defeat.
<p>
Labour, needs to look deeper into its party to identify the influences and influencers. It has also to investigate the systemic issues and excise the rotting labyrinth of process that left Labour party so lacking in agility that it was like a supertanker heading for the rocks and unable to turn. To some extent, this too was Corbyn's problem. Corbyn failed to respond in time to update his 20th-century thinking and brand of socialism for a 21st-century world.
<p>
Labour, you are a rusty old supertanker. You have a lot of good things on board but you are wholly out of date and need replacing, not refurbishing. A new captain will not cut it.
<p>
We need a new and entirely new Left. One that is free of the old ways of thinking. One that is lighter on its feet so it can respond to, and embrace, the inevitable change.
The world is changing at an ever-increasing rate and it does not stop or pause for those unable to adapt.  That means a new Left's main job, is not to halt progress, but to embrace it and then fairly share the benefits of progress to help and alleviate the suffering for those that cannot so readily keep up. And the EU warts and all, is part of the progress that this new Left will <b>have</b> to embrace in this way.
<p>
Of other news, Labour announce their catchy <a href="https://www.youtube.com/watch?v=CduA0TULnow&feature=youtu.be&t=45">New New Labour video</a> in time for the next General Election

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
