<head>
  <meta charset="UTF-8">
  <meta name="WhoIsTheIdiot" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>Who is the Idiot?</h1>
<h4>17-JUL-2019</h4>
<p>

Someone call the preist.
<p>
It's time to read the UK the Last Rites. 
<p>

Without a manifest seismic change in direction and sentiment in respect of our involvement with the EU. Aour Sovereign state, our nation, our Great Britains is Dead. That is you may start reading the last rites now.
<img src="LastRites.jpg" alt="LibDem EU" height="400" >
<p>
We have been the sick man of Europe for some time, but we have been a diseased nation for even before that. We are nation of little kings. A people with an insance exagerated sence of national sense of international importance. We are a nation of 



