<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>

<h1>General Election 2019 - Vote LibDem, Or Else!</h1>
<h4>8-DEC-2019</h4>

Lucy Frazer's performance in respect of Brexit is utterly contemptible. Cambridgeshire was solidly in favour of Remain when asked in the 2016 referendum.
<p>
<center>
<img src="Ref2016Cambs.jpg" alt="2016 Referendum Cambridgeshire" height="600" ></a><p>
<a href="https://www.bbc.com/news/politics/eu_referendum/results"> Source:  BBC EU Referendum Results</a>
</center>
<br>
<p>
Lucy Frazer, despite originally being a remainer at the time of the referendum, has not once stood up to represent the majority of Cambridgeshire in our desire to Remain. She has not once reached out to high tech. businesses such as mine that contribute so much to the area and her constituency. Indeed despite the many attempts I have made at contacting Lucy Frazer, I have never once received a reply that has done more than fob me off with stock replies.
<p>
Lucy Frazer, since 2016, has remained silent on the issue of Brexit for the sole purpose of advancing her own career, and indeed in this, she has succeeded in being appointed By Mr Johnson to a ministerial post.  Lucy Frazer is an utter disgrace to the constituency.
<p>
If further evidence is needed, I reproduce below Lucy Frazer's reply to my enquiry about the illegal proroguing of parliament.  It is a reply that is patronising as it is insincere. It completely misses the point in whilst proroguing parliament may have only cost 4 days, at a time of existential national crisis and when parliament was so dislocated from government the moral thing would have been to cancel recess not extend it!
<p>
<blockquote>
Dear Michael,
<p>
Thank you for writing to me regarding proroguing Parliament. I recognise the strength of feeling that many have expressed on this issue.
<p>
I understand the reasons that many individuals are concerned about the Prime Minister’s decision to ask the Queen to prorogue Parliament until the 14th October. I appreciate that proroguing Parliament to frustrate the wishes of Parliament may set a negative precedent.
Having said this, I wanted to take this opportunity to clarify the situation. Each year, Parliament takes a recess break from early-September to early-October in order for every political party to hold its party conference. These conferences are organised during this period every year in which it is expected that Parliament will be on a recess break. The recess allows Parliamentarians to attend conferences without the consequence that they are absent from debate. The prorogation of Parliament is only an extension on the planned recess break by four days.
<p>
I understand the concerns that you have about this decision and I appreciate you taking the time to share your concerns with me. I hope that it has been helpful to set out some context.
<p>
Thank you again for taking the time to contact me.
<p>
Yours sincerely,
Lucy
<p>
Lucy Frazer QC MP
<p>
MP for South East Cambridgeshire
<p>
</blockquote>
<p>
Bearing in mind and that a subsequent ruling was that the proroguing of parliament was illegal, and given that Lucy Frazer is a QC, I conclude Lucy Frazer's decision to back Mr Johson in proroguing parliament to be immoral, incompetent or both. 
<p>
<b>Lucy Frazer will not reject a no-deal Brexit come 2020.</b> She will do as she always has, and that is to go along with whatever will keep her in her very well paid post. If you choose to vote Tory in S. E. Cambs, then you will be entirely complicit in the devastation of our local and national economy should the Tories take a majority.
<p>
Many of you may be attracted to Jeremy Corbyn's agenda. In truth, there is much about it that I like too. But, and it is a critical but, Jeremy Corbyn is and has always been a eurosceptic. His 20th-century version of socialism fails to acknowledge that we live in an ever-shrinking world of the 21st-century where our fortunes, economic and social, are inextricably linked with the rest of the world.
<p>
Jeremy Corbyn's outdated world view means he has been desperate to swap the UK's say and share in how the EU is run for escaping the EU's rules on fair play on how governments support their domestic trade and industry. This is the reason for his faux-neutrality, it has absolutely nothing to do with the will of the people. Three years of neutral has meant that Corbyn has not reached out to a single Labour Leaver to convert them to being a Remainer by explaining how the Tories and Brexit Party's campaign were built on lies and deceit.  This is why the main opposition party, even when facing a government so duplicitous, extreme and corrupt, is still lagging behind in the polls. That, and that Jeremy Corbyn is seen as, and probably is, too extreme and naïve for many people to back. Certainly True Blue South East Cambs will never back him. So unless you are comfortable with a Tory party, so extreme, that the likes of Ken Clarke and Jogn Major cannot even back it, then, the LibDems are not just the best choice, but also the only sensible choice.
<p>
For all the tactical voting reasons to vote for the LibDems, there is also sound reason to back Pippa Heylings simply on her own merits. Unlike so many of our MPs, Pippa actually has real expertise in environment and sustainability, issues that desperately need a strong and competent voice in parliament.
<p>

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
