<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Love and Death in the Time of Covid-19</h1>
<h4>24-MAR-2020</h4>
Shout out to ANYONE thinking of coming to my funeral should it happen to fall during this time of Covid-19.
<p/>

Fuck right off you silly bastard!
<p/>

Since I intend to be dead, deceased, stiff, ex, Monty Python Parrot at the time of my demise I assure I will not be missing your company. If, and that is a big if, or perhaps a small if, I meant anything to you, go fuck off and party hard. Raise a glass, be in good cheer, know that I loved this life and when the grim reaper paid a visit, I wasn't pleased to see him but by golly, I didn't feel short-changed!
<p/>

So at this time when attending a funeral could well put someone else's life in the balance, well to go with the current advice, just STAY AT HOME.<hr>
<p/>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
