<head>
  <meta charset="UTF-8">
  <meta name="TyrantsAtTheTop" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

</style>
</head>

<body>

<article>
<header>
<h1>Love Labours Lost</h1>
<h4>15-SEP-2019</h4>

<a href="https://is.gd/TbQH0a>"<b>Tories extend poll lead to 12% despite week of political chaos</b></a>
<p>

And people are asking how can this be?
<p>
And I am asking how can this be?
<p>
At a time when the country is in the hands of a rogue, corrupt, law breaking coup hell bent on driving the country into the abyss for their own selfish ends? At a time when the country is being governed by a set of absurdly wealthy extremists that could not be further from representative of the working class and austerity suffering populace? Governed by a sociopathic leader, a  proven liar, cheat and idiot? <b>
<p>
And yet the Tories are 12 points ahead of the official socialist opposition party?</b>
<p>
Let's take a closer look...
<p>
<img src="GovernmentPollSep2019.jpg" alt="GovernmentPollSep2019" height="400">
<p>
<img src="BrexitPollSep2019.jpg" alt="BrexitPollSep2019" height="400">
<p>
Do you see it yet? Which political party that has seen the most significant decline in the polls? Who would that be? This disastrous Conservative government right?. Oh no, it's LABOUR!
<p>
Well the country must be massively signed up to Leave the EU right? Hence voting for the Tories? Erm, over the last two years the polls suggest that whilst divisive, the majority now wants to Remain.
<p>Well what could be the problem with Labour then....
<p>
Take your time....
<p>
Take your time....
<p>
Take your time....
<p>
Actually take all the time you want because it is now catastrophically too late.
<p>

Let's have the post-mortem now.
<p>
Corbyn is and always has been a eurosceptic. The depths of his hatred for the EU is absolute. It is rooted in a 1950's world view. Fundamentally Corbyn wishes to swap the UK's say and share in how the EU is run for having complete freedom of the EU's rules on fair play regarding state intervention of domestic industry.
<p>Corbyn is a 20th century man in a 21st century world. He fails to acknowledge that in a world that is ever shrinking due to the advances of technology and social progress, the fortunes of our country are inextricably linked and dependent on our cooperation and collaboration with the rest of the world. As the world coalesces into a handful of giant blocs, America, Asia, Russia, Africa, Europe, Corbyn wants us to go it alone in our own plucky little way.
<p>
Corby has always believed this. And when Cameron dropped the B bomb that was to seismically change the nature of domestic political landscape, Corbyn did... <b>nothing</b>
<p>
<b>
There can be no overstatement of how catastrophic that course of action has been. 
<p>
There can be no overstatement of how failing in Leadership Corbyn has been.
<p>
</b>
The world changed and Corbyn failed to respond. And the reason why, was that he perceived the world to be changing in a way that <b>he</b> wanted. His three years of diffidence for Brexit has absolutely nothing to do with allowing internal democratic process within the Labour party to run it's course and everything to do with keeping quiet and letting the Tories take us out of the EU. Corbyn wanted to get what he always wanted and has betted on that when the Tories have done his dirty work, he can come to power and blame any negative consequences on the previous government. He believes that he then can set about being the national saviour and rebuilding the country with his own fair turnip planting hands, despite having sacrificed 50% of our trade to renegotiation with the EU as a competitor rather than member and friend.
<p>
God knows, I have never voted Tory. God knows how much I have wanted a more left leaning political agenda to put right what so many years of Conservative rule have inflicted upon our nation. But Chris on a bike, Corbyn has nailed the coffin lid shut on Brexit like no one else could have done.
<p>
Let's take a look....
<ul>
<li>He used a three line whip on his party to trigger A50.
<li>In three plus years post referendum, he has never once said a single positive word about the EU or emphatically expressed a desire to remain.
<li>He expelled Alistair Campbell because he voted with the LibDems
<li>After, like the Tories discovering that Brexit was not a Left/Right issue, he intentionally failed to lead his party into an unambiguous position on Brexit. He never once has reached out to Labour Leavers to try and convince them that the Brexit campaign was built on lies and they they had been mislead and will be the ones to suffer.
</ul>
<p>

<p>Corbyn is not a liar. he always tells the truth, maybe even nothing but the truth, but he assuredly has not told the whole truth. He has never admitted to the country nor his party his own ambitions in escaping the evil clutches of the EU. What he has assuredly done, by not declaring his ticket price for his own left wing agenda, that is his desire to leave the EU, he has robbed both the Labour party and the country of an effective opposition to his Tory sham.
<p>
And now <a href="https://is.gd/uofmRF">Johnson to tell Juncker: ‘I won’t discuss Brexit extension beyond 31 October’</a> read the article... read it, breath, think,... where's Corby? Where in God's name is the official opposition party when reported in defiance of Tories, most usually it's Watson's or Starmer's face that is printed. And YET, Corbynistats, still remain loyal? 12 points behind and even now, even under such diabolical circumstances with Labour disappearing over the horizon, Labour is ploughing on on it's own merry way as if everything is fine and dandy. Why would that be?
<p>

Corbyn is the greatest gift to the Tories they have EVER had.
<p>

It took someone supremely gifted in obduracy to occupy the post of Leader of the Opposition whilst the government is lead by a venomous court jester like Johnson still be 12 points behind in the polls.
<p>

Go on tell me how, the opposition party cannot dictate policy whilst in opposition? Go on I fucking dare you. Because I tell you that the opposition ought to be wiping the floor with the Tories now, and should be in such a strong position that a vote of no confidence and winning a GE ought to be a dead certainty.

<p>

Corbyn has killed Labour. Corby has let the Tories drag our country into the street and kick it to death whilst he got his mobile phone out to film it so he could blame the aftermath on the Tories.


<hr>
<a href="index.html">Other Rants</a> 
</ul>




