<blockquote>
<pre>
From: "FRAZER, Lucy" <lucy.frazer.mp@parliament.uk>
Subject: RE: Letter from your constituent Michael Ellis
Date: 3 June 2020 at 12:12:03 BST
To: Michael Ellis <xxxxx@gmail.com>

Dear Michael,

Thank you for writing to me regarding the transition period and coronavirus. I appreciate you taking the time to raise your concerns with me during these challenging times.

I understand your concerns about the impact of coronavirus on the future relationship negotiations between the UK and the EU. The outbreak of coronavirus has certainly affected the UK’s negotiations with the EU on our future relationship, but there has been a clear want on both sides for them to continue even during this difficult period. The last round of negotiations took place via videoconference at the end of April. Further rounds are currently underway and due to run until 1 June. As you may know, a high-level summit between the UK and the EU will take place in June for both sides to take stock of the progress in the negotiations. The UK and the EU share closely aligned interests, especially during the current circumstances, and these will help us in trying to reach a comprehensive free trade agreement that benefits both parties by the end of the transition period this year.

Thank you again for taking the time to contact me.
 
Yours sincerely,
Lucy

Lucy Frazer QC MP

Member of Parliament for South East Cambridgeshire
Minister of State for Prisons and Probation
www.lucyfrazer.org.uk
www.facebook.com/FrazerLucy

</pre>
</blockquote>

---
<blockquote>
<pre>
From: Michael Ellis <xxxxx@writetothem.com> 
Sent: 27 May 2020 18:26
To: FRAZER, Lucy <lucy.frazer.mp@parliament.uk>
Subject: Letter from your constituent Michael Ellis

Michael Ellis
Cambridge
CB1 XXX

Email: xxxx@gmail.com

Wednesday 27 May 2020

Dear Lucy Frazer,

I write to you to request that you support the calling of an extension
to the Brexit transition. The Coronavirus pandemic has understandably
compromised progress of negotiations during 2020. In the interest of
the whole country, I implore you to back an extension to the Brexit
transition period.

I would appreciate it if you would be so kind as to confirm your
intentions in this matter by replying to my via email at
xxx@gmail.com

Yours sincerely,

Michael Ellis
</pre>
</blockquote>




