<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="LucyFrazer.jpg" alt="LucyFrazer.jpg" height="400"/>
</center>

<h1>Questions For My MP, Lucy Frazer</h1>
<h4>2-JUN-2020</h4>

I have written to and email my MP Lucy Frazer countless times over this last year and have either received no answer or replies that inadequately address my questions and concerns. I feel I have been ignored or fobbed off at every attempt I have made to engage with my MP.
<p>
I post my questions to Lucy Frazer here as a matter of record and to raise awareness of the issues.

<ol>
<li>As an MP for S.E.Cambridgire, a part of the country of Cambridgeshire that demonstrably was more in favour of Remain during the referendum, and indeed, being pro remain prior to the referendum, why have you supported the government's Brexit agenda without once raising questions or representing the concerns of your constituency on this matter within parliament?
<p>
<centre>
<img src="Ref2016Cambs.jpg" alt="Ref2016Cambs.jpg" height="400"/>
</centre>
<li>Will you call for an extension to the Brexit transition period now that Covid pandemic has severely hampered the opportunity for progress of trade negotiations?
<li>Will you raise any objection to leaving the EU without a deal? If so, can you explain to your constituents the advantages and disadvantages you see this bringing to your constituency?
<li>Being lawyer, were you confident at the time that proroguing parliament was legal? And if not, why did you not raise the issue? Was your decision to back an illgal action because you didn't know or didn't care?
<li>
When you represent constituency with significant amounts of farming, why have you recently voted against the agricultural bill amendments to uphold EU food standards that will otherwise pave the way for a Trump chlorinate chicken and hormone fed beef deal that will hit our farmers and of course undermine UK health and safety?
<p>
This matter has been reported in the <a href="https://tinyurl.com/y7bklhe6">Eastern Daily Press</a> and your voting can be seen on the <a href="https://votes.parliament.uk/Votes/Commons/Division/784#noes">Agriculture Bill: Report Stage: New Clause 2</a>

<li>As minister of prisons, do you support the outsourcing of the running of Prison to for-profit private companies <a href="https://tinyurl.com/y9rrl5hm">as is currently done</a>?
<p>
Do you consider the running of prisons ethical?

<li>Will you not call for Dominic Cummings to be sacked? Please explain your decision on this matter.

<li>Finally, why do I receive nothing but automated acknowledgements or entirely vaccuous replies to my emails and letters to you?
</ol>
<p>
Sincerely yours

Michael Ellis - CB1 9YZ

