<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Could Do Better, But Be Positive</h1>
<h4>23-APR-2020</h4>

I was rather excited today that the flying phlebotomists were visiting Sifnos. It's been quite sometime since I last gace blood and it was only this year that I disovered the island service.
<p>
Three attempts were made at driving up to the island's medi acl centre. The first to discover I had the time wrong. The second to learn I need my passport and the third to be turned away because I was British.
<p>
I discovered that, under existing European health regulations, anyone who was resident in the UK between 1982 and 1995 cannot be a blood donor in the EU. This is because of possible exposure to the vCJD agent, the CJD variant directly linked to BSE or Mad Cow Disease.
<p>
Let let's all take a moment to refelct up on this. CJD or Mad Cow Disease spread in British herds in the mid-1980s after they were fed the processed animal remains of sheep infected with scrapie, a closely related brain-wasting disease. In other words, sub standard farming practises in the UK resulted in a deadly disease jumping from an animal species to humans. Sound familiar at all? Fortunately and by blind good luck rather than anything else vCJD was not highly contageous between humans like the current Covid-19, but it as easily could have been.
<p>
So Brits are STILL unable to give blood in the EU bacause of this. And what is one of the first things the Tories vote to do post Brexit...
<p>
They vote against an amendment to the UK’s Agriculture Bill that would have guaranteed high standards for food and drink entering the country post-Brexit.
<p>
Think about it. <b>THINK ABOUT IT.</b>
<p>
I'd say this is the very apogee of British exceptionalism, but you superlatoves have lost their meaning post Brexit, post Trump. Whatever is the stupidest thing ever today, has past its sell-by-date tomorow.
<p>
So on final reflection I can only reflect upon my blood group and reflect that it at once a an inspirational motivational slogan for me, and also something of school report grade in relation to the UK government, I am of course B positive.

<p>
A special mention to my own Mad Cow MP Lucy Frazer MP who voted against maintaining farming standards so our East Anglian farmers can be undersold and our food chain can be flooded with chlorinated chicken and growth hormone enhanced beef.
<p>
Sources: 
<p>
<ul>
<li>
<a href="https://www.foodmanufacture.co.uk/Article/2020/05/13/Agriculture-Bill-MPs-don-t-back-import-standards-call">Government throws out standards amendment to Agriculture Bill</a></li>

<li><a href="https://votes.parliament.uk/Votes/Commons/Division/787">Votes in Parliament - Agriculture Bill: Third Reading</a></li>

<li><a href="https://en.wikipedia.org/wiki/Bovine_spongiform_encephalopathy">Bovine Spongiform Encephalopathy aka Mad Cow Disease</a></li>

<li><a href="https://www.chaniapost.eu/2014/09/02/the-blood-of-an-englishman/">The Blood of an Englishman</a></li>

<li><a href="https://www.thelondoneconomic.com/news/full-list-of-mps-who-voted-to-lower-our-food-standards-during-the-covid-pandemic/26/05/?fbclid=IwAR3IC3WUSF1c502Odv9iaZCf0_gBzs4u8-nZbYLs957iA7dQ3hJ-E7AiY6Q">Full list of MPs who voted to lower our food standards during the Covid pandemic</a></li>
</ul>


