<head>
  <meta charset="UTF-8">
  <meta name="SocialismOrEU" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="500">

<h1>Misplaced Blame</h1>
<h4>22-JUN-2019</h4>
If you are angry about Boris being PM and delivering brexit, then you are angry at the wrong person. You knew what the Tories were. You knew what they would do.
<p>
Corbyn has misled an army of passionate remainers by telling them that he could deliver his Socialist Agenda without seriously diminishing our involvement with the EU.
<p>
He has always known that is not true. And this is why he is hoping Tories will do the work for him.
<p>
I salute his vision of taking the UK to the left to make a fairer society for all. But he has out and out misled remainers as to the price for his plans. In doing so, he robbed Labour remainers of the choice to whole heartedly defend remain.
<p>
Be certain of this, leaving the EU on no deal would be economically and socially catastrophic. And this to the majority of MPs will be unacceptable so we are probably safe from it. However, that will leave May's deal, Revoke A50 and a 2nd Referendum.
<p>
May's deal, or any deal, is the end of our collaboration with the EU. We demote ourselves to a customer. We have no say where he EU goes. We lose everything including our dignity. We just lose it a little more slowly.
<p>
Revoke, is the only reversible option and the only one to guarantee the status quo. But not one party has had the balls to get behind that. (yet)
<p>
A 2nd referendum, the instrument by which our country has been cleaved in two, is repeating the same mistake again and confusing real democracy with mob rule.
<p>
You're directing your anger towards the wrong quarter. The Tories haven't really deceived you. If they had you would be feeling embarrassed for ever having believed in them.
<p>
Some of you, certainly including me are embarrassed to have not understood Corbyn's position sooner.
<p>

<hr>

<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>

<li><a href="index.html">Other Rants</a> 
</ul>


