<head>
  <meta charset="UTF-8">
  <meta name="TyrantsAtTheTop" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

</style>
</head>

<body>

<article>
<header>
<h1>Moral Compass For Sale</h1>
<h4>11-SEP-2019</h4>
<p>
<img src="LucysMoralCompass.jpg" alt="LucysMoralCompass" height="400">
<p>
Tonight I received a reply from my MP Lucy Frazer that I copy below. A stock reply, that is patronising as it is insincere. It completely misses the point in whilst proroguing parliament may only cost 4 days, at a time of existential national crisis and when parliament is so dislocated from government the moral thing would have been to cancel recess not extend it!
<p>

----------
<blockquote>
Dear Michael,
<p>
Thank you for writing to me regarding proroguing Parliament. I recognise the strength of feeling that many have expressed on this issue.
<p>
I understand the reasons that many individuals are concerned about the Prime Minister’s decision to ask the Queen to prorogue Parliament until the 14th October. I appreciate that proroguing Parliament to frustrate the wishes of Parliament may set a negative precedent.
Having said this, I wanted to take this opportunity to clarify the situation. Each year, Parliament takes a recess break from early-September to early-October in order for every political party to hold its party conference. These conferences are organised during this period every year in which it is expected that Parliament will be on a recess break. The recess allows Parliamentarians to attend conferences without the consequence that they are absent from debate. The prorogation of Parliament is only an extension on the planned recess break by four days.
<p>
I understand the concerns that you have about this decision and I appreciate you taking the time to share your concerns with me. I hope that it has been helpful to set out some context.
<p>
Thank you again for taking the time to contact me.
<p>
Yours sincerely,
Lucy
<p>
Lucy Frazer QC MP
<p>
MP for South East Cambridgeshire
<p>
</blockquote>
<hr>
<blockquote>

Wednesday 28 August 2019
<p>Dear Lucy Frazer,
<p>I write to ask for your written confirmation as to whether you support
your government's decision to prorogue parliament.
<p>I further request you confirm if you personally back your government's
decision to force through a no deal brexit.
<p>I further request you furnish me with a brief summary on how such
actions will material benefit any of the members of your constituency.
<p>Such matters now need to be a matter of public record.
<p>Yours sincerely,
<p>Michael Ellis
</blockquote>

<hr>
<a href="index.html">Other Rants</a> 
</ul>




