<head>
  <meta charset="UTF-8">
  <meta name="orePredictions" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>More Predictions</h1>
<h4>25-AUG-2019</h4>
<p>

The usefulness of any political commentator is seen only with hindsight of how their predictions measured up to how events actually played out.
<p>
I, am not a political commentator. No such high office for me. I'm a lowly pawn on the chess board. Actually I'm lower than the sole of the shoe upon the foot of the pawn upon the chessboard. Accordingly from such a low elevation my horizon stretches not too far and so my opinions and predictions are based upon not an awful lot to go on.
<p>
Nevertheless I'll chance my arm and make some predictions for the for sake of amusement and argument and in full knowledge that I will leave this posting up whatever the future brings. I at least, had the balls to place a bet, and I know full well I could lose.

<ol>
<li>Boris Johnson will continue to ply his line of hard leave both in the domestic arena and in Brussels. He will bluff and bluster his way through every criticism of the perils of hard-leave but will secretly relish every story of doom and gloom.
<li>Boris will also continue to make noises about  proroguing parliament or any other wheezes of thwarting the normal parliamentary process. Boris wants parliament and the country to be in a state of near panic. 
<li>Before or extremely soon after parliament resits on the 3rd September, but definitely before any opposition has had time to call a vote of no confidence, he'll  announce, probably on the steps of number 10 just how stubborn and intransigent the EU have been and that our plucky little but great country has no choice but to leave without a deal.... unless of course that that is no longer the will of the people.
<li>He'll go on to announce with feigned reluctance but out of respect  for the people in taking such a monumental decision that it must be put back to the people. He'll call that 2nd referendum.
<li>The options on this 2nd referendum will be  as they were in 2016 except that every one will understand that, Leave not only means Leave, but it means Immediate Hard Leave in the manner of all doom and gloom. (and there are probably not so many who want that).
<li>The EU will be only be too pleased to see Remain set against Hard Leave in a 2nd referendum. For them any outcome in the long term is good. Remain shows dissenters are afraid of getting crushed. Hard Leave actually crushes the dissenters (certainly more that it crushes the EU).
<li>Boris will be betting on Remain, but he's not actually that bothered. It's a win-win for Boris. Whichever way the 2nd referendum goes, he'll know that he will have delivered what more than half of the voting, Brexit weary, population have asked for. Rejoice rejoice!
<li>In calling a 2nd referendum he will garner support within the house and stifled any chance of a successful vote of no confidence.
<li> in the event of Remain, there will be much rejoicing and some very unhappy remainers. But any civil unrest will be quashable since Boris will say he did his best to leave but it was the people who stopped it not him.
<li>In the event of Leave, his private fund manager will have shifted all assets out of sterling and he will carry on for as long as fifty plus percent of Leave voters remain happy that Armageddon and Blue Passports are a jolly good British thing. And who knows.. maybe they will be right.
</ol>

Why do I predict this? Well Boris is a sociopath. He wants more than anything and in equal measure to be king and to be popular. Matters of being in or out of the EU, or the welfare of pawns like you and me are not in his field of view.
<p>
A 2nd referendum, will deliver him power and popularity. 
<p>
Reading back I realise there is something conspicuous by its absence in this prediction, any mention of.. an opposition.... go figure!
<p>P.S. Like all contracts there are exception clauses for force majeure, such as political assassination ;-)

<hr>
<a href="index.html">Other Blogs</a> 
