<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>

</head>
<p>
<center>
<img src="GetWellSoonWorld.jpg" alt="GetWellSoonWorld" height="400"/>
</center>


<h1>Covid-19 - Next Time Around</h1>
<h4>25-MAR-2020</h4>
This is not the first time the world has seen a <a href="https://www.visualcapitalist.com/history-of-pandemics-deadliest/">pandemic</a>. It will not be the last. This time next year, we will be licking our wounds, measuring our loss and looking back on this. That is <b>exactly</b> when we should be planning for the next pandemic, war or natural disaster.
<p/>
Things to consider:
<p/>
<ul>
<li><b>Cheap Ventilators:</b> Many recent pandemics have caused severe respiratory problems. Irrespective of whether drug therapy is available, the use of ventilators has always featured as an important tool in the treatment of the sick. During more normal times, ventilators have become ever more sophisticated as manufacturers have sought to add features and improve them, partly to justify the sales of a new product. But in a pandemic, like we face now, even very basic ventilators, as are now being hastily developed, will save lives, potentially large numbers of lives. Health services throughout the world should have ready access to millions of low-cost ventilators. It would be a relatively small outlay that could save thousands perhaps millions of lives.
<li><b>Hotels to Hospitals:</b> We cannot have a modern primary healthcare system of hospitals of sufficient size to deal with a lethal virulent contagion. Therefore we should plan on how to provide those emergency hospital beds. One solution could be for all new-build hotels to be architected for easy conversion to emergency hospital use. This would not be too difficult. Corridors and lifts suitable for trolley/bed access, conduit access for the ability to run oxygen into all rooms, intercom, and alarm call cabling. Again this would not be a massive incremental expense. I recently stayed in a hotel in France that was formerly a modern hospital.
<li><b>Education at Home:</b> Tertiary education is running off its tracks anyway! Saddling students with £50K of debt for degrees that that may provide them with little advantage for gaining employment is already in question. Massive online learning courses have already be show to work incredibly well (see <a href="http://www.openuniversity.edu/">Open University</a> and <a href="https://www.khanacademy.org/">Kahn Accadamy</a>) are very successful examples to name but two. Indeed I would say any university not already looking into the provision of education via massive online learning is already passively planing its demise. What will be needed, however, is a national or international standard means of assessment and examination.
<li><b>Advanced First Aid Education on the Web:</b> We cannot always guarantee to have enough nurses and doctors for the worst emergencies.[''] So make basic health care training such as is currently available in St Johns Ambulance First Aid Courses, plus a little more, rudimentary use of ventilators and defibrillators widely available online.
<li><b>Work from Home:</b> Many jobs can now be executed from home. We should be looking at flexible working arrangements so more people can work from home at least some of the time if not all of the time. There would be benefits even in times of non-crisis such as taking a portion of commute traffic off the road and rails. This could also breath new life into communities, better integrating domestic and work life.
<li><b>International Travel:</b> As an extension of the previous point, we could limit international business travel. With global 5G we can hold our meetings in the cloud rather than flying through the clouds for meetings. We also perhaps need to examing international travel for pleasure too. Reducing international travel ALL of the time will hinder the initial spread of an undetected virus. And after a virus has been detected, more of us will already be trained and equipped to continue work remotely.
<li><b>Basic Mandatory Living Wage:</b> This pandemic brings into focus the idea of a living wage for all. Would it not be the ultimate accolade for the start of the 21st century if we could ensure that everyone no matter whether they are in work or not, whether they contribute or not, are safe, warm, dry with a roof over their head and enough to eat. Would that not true progress of our civilisation. And with that, in the time of a pandemic, no matter how a person's fortunes were to change, would we all not be that much richer for knowing that safety net was there for one and all.
<li><b>Capped Growth and Wealth:</b> Partly as a consequence and cost of the previous point we need to to take a step back and question what is growth actually for. In the late 20th and 21st-century growth has disproportionately gone to the already wealthy making the rich richer and leaving the poor, standing still or going backwards. Wealth hoarding has to stop. And even growth has to be scrutinised. The growth that consumes our planet's resource is destroying the health of the planet.
</ul>

Covid-19 is not a good thing, but, if we view it as nature firing a warning shot across our bow, and it prompts us to question what are the things of real value to us, citizens of this one world, then, perhaps, if take the time to learn and put that learning into practice some good could come of this.



<hr>
<p/>
<ul>
<li><a href="https://www.visualcapitalist.com/history-of-pandemics-deadliest/">History of Pandemics</a>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
