<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>The UK’s approach to the Northern Ireland Protocol</h1>
<h4>28-MAY-2020</h4> 
<a href="https://tinyurl.com/yda5zcqc">The UK’s approach to the Northern Ireland Protocol</a>

I have read this top to bottom.
<p>
I am not a lawyer but have had to negotiate contracts including international contracts and when called to do so the purpose was always for explicit, accurate and unambiguous specification of rights and responsibilities.
<p>
As a businessman, if presented with this, I would not consider it worth paper it was printed on.
<p>
It is if full of vague promises and best endeavours and holds almost no precise detail in relation to the exact mechanism for regulating and maintaining the customs arrangements in relation to N. Ireland.
<p>
I would not expect the EU to give this the time of day, I wouldn't. It falls short of being any sort of contract whatsoever.
<p>
The government or at least their legal team MUST know this. They are not stupid (even if our prime minister is).
<p>
This has to be an effort to try to smokescreen the issue and claim the EU would not play ball.
<p>
UK, Ireland, you are getting shafted by Westminster.
<p>

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
