<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Prediction 2020 Labour Election</h1>
<h4>7-JAN-2020</h4>
<p>
Prediction, Rebecca Long-Bailey gets in. Why, well pessimism based on my utter despair in  Labour's utter ineptitude and their performance over the last three years, in at every fork in the path, always choosng the branch that takes them further away from government.
<p>
The current Tory party is the antithesis of the much needed fairer-for-all more left leaning socialist government the UK is in such need of. The current Labour party is  the greatest obstacle for achieving that change.
<p>
Fiddling around changing the party leader fails to address systemic faults within the machinery of the party and even more significantly fails to acknowledge the real divide within. Read: <a href = "http://ellisnet.uk/Rants/LabourPains.html">Labour Pains</a>
<p>

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
