<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Prediction 2020</h1>
<h4>29-DEC-2019</h4>
<p>
We've had the 2016 referendum, and two electtions since then, both returning Tories to power. So what comes now.
<p>
<ul>
<li>Brain Drain
<li>Free Ports
<li>Organised Crime
<li>Fall in the Pound
<li>Increases in Poverty
<li>A more Divided Society - Increases Betweeen Richest and Poorest
<li>Points based Immigration System with Big Business controlling how points are awarded
<li>Poor Brexit Deal
<li>A realisation for some younger people that one of the most beautiful rights they had, that of Freedom of Movement was stolen from them.
<li>Less inward investment
<li>Increased reluctance for EU to deal with a dubious UK regime.
</ul>


Quite possibly, but even a relative neutral media will still see the rise of xenophobic responses as the working class become poorer. The utter naïvety of triggering A50 before even having any analysis on our trade position was just breathtaking.
What will happen now, is that Johnson's self-imposed timescale for trade talks means we are headed for a poor deal or no deal. I suspect we will accept a poor deal. This poor deal (conducted in secret by our government) will be sold to the public as "a beautiful thing" when done as it will be some time before the effects are truly felt.
Jobs, money, and brains will move out of the UK. The pound will fall and prices for many goods will rise. The rich have investments that hedge against the pound and will do very nicely indeed. As will people in a position to buy bargain basement UK assets.
We'll probably see Freeports. These will be an open invitation to organised crime, the sort of crime on a scale that the UK has not really had to deal with. The sort of crime that involves people at the top. The Tories will tell the people how they need to be tough on crime, they open a new prison or two, outsourced, of course, to their chums running private security companies (my own fair MP Lucy Frazer MP as minister of prisons may well have a hand in this).
The interesting thing is that Labour will still be behind the eight ball, forever machinating over imponderables and forever failing to recognise that their position on Neutrality of Brexit was flat out wrong. (If your knickers are in a bunch about this then do not bother replying unless you can show me a good case for how leaving the EU benefits the working man). Labour will not gain power over their own agenda but may eventually gain power only when the living conditions for a greater number of people have deteriorated under the Tories that the voting public will once again vote for a change.. that's the way it works (or does not work).
Labour is a lame horse. Still internally divided. Until they realise that the division is not specifically Brexit, not even specifically the extent of socialism, but far more fundamentally between the old and the new they will forever be lame. It's a new world, a world changing at an ever-increasing rate. Old Labour, like Corbyn, Skinner McClusky just do not understand this at all. They believe their 20th-century ideology is still fit for a fundamentally different world. They are wrong. But whilst they still hold the party in its grip, the UK will have to sit on the outside of EU, and thus become increasingly marginalised in the world. Labour needs a bullet in the head if a 21st-century socialism that can play nice with EU and the rest of the world is to flourish.
The electorate, poorer will be angry, very angry, and they will have no one to turn to. The Tories will have failed to deliver. Labour, if unchanged will still be implicitly condoning the scapegoating of immigrants by not shouting from the rooftops that it was never their fault of immigrants in the first place. In any case, their shouts will be drowned out by Johnson saying "Bruff bruff brufff, it is very disappointing that our good friends in Europe won't do business with us on our terms" (and why would they want to deal with such corrupt regime?). He will garner popular support with catchy banalities as "Tough on Crime" or "Make Britain Great Again".
This will lead to an ideology vacuum. It almost like we can see the conditions for Mosely 2. "Pah" you say, it could never happen in Britain.
A fundamental failing of the UK is pandemic ignorance in relation to our relationship with Europe and our real place in the world. For that we have ALL political parties to blame over the last 40+ years. Not one has expended a jot of effort into engendering any pride in being part of the EU. That's not stupidity, it's a critical lack of information.
HERE RESTS IN PEACE GREAT BRITAIN.
DIED 2020 AFTER BATTLING A LONG ILLNESS WITH THE GREAT IGNORANCE PANDEMIC OF 2016

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
