<head>
  <meta charset="UTF-8">
  <meta name="DemocracyFail" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUFlagHeart.jpg" alt="EU Flag with Heart" height="250" >

<h1>Right Wing Coup - Left Wing Failure</h1>
<h4>29-AUG-2019</h4>
<p>
If I were leader of the opposition I would be rushing to talk to the EU, not the queen!
<p>
I'd be looking for measures to undo the damage done and restore our place in the EU once the coup had been deposed.
<p>
The EU already plan to investigate BoJo's violation of EU law https://is.gd/xFswJn. Why is this initiative coming ahead of anything Labour have done in reaching out to the EU?
<p>
In three years Corbyn has used the three line whip to make Labour trigger A50 and in that whole time, AND EVEN NOW, has not one single word to utter in favour of remaining in the EU.
<p>
This mess has been caused by the Tories and the Brexit party, but Labour have been totally, unfathomably catastrophically ineffective at opposing this government on the important and urgent agenda of Brexit.
<p>
If you vote Labour, I urge you to at least ask whether Corbyn is a war time leader, because the UK is at war, albeit with itself over Brexit. There is LEAVE party it's called the Tories and that is the government of the day. Unless and until we have an opposition that is a REMAIN party, we don't have effective opposition.
<p>
This Right Wing Coup, was all the more possible by a Left Wing Fail (and certainly not the Queen)

<p>
P.S. Corbyn, the democrat rushing off to ask the monarch to use royal privilege to support him in preference to another party because he does not like the consequences of his own failure to achieve success through democracy is - as undemocratic as the vile Bojo call to prorogue! If it were not real, it might be a punchline for a joke.
<hr>
<a href="index.html">Other Rants</a> 
</ul>




