<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 


</style>


</head>
<p>
<center>
<img src="SifnosMap7Matyrs.jpg" alt="SifnosMap7Matyrs.jpg" height="400"/>
<h1>Sifnos and Covid-19</h1>
<h4>Special Considerations for Sifnos and Other Remote Isolated Communities in Relation to Coronavirus</h3>

</center>

<h4>Date: 6-APR-2020</h4>
<h4>Author: Michael Ellis</h4>
Sifnos, as with other remote isolated communities faces additional issues in relation to the current global Coronavirus pandemic. Namely:
<ul>
<li>Small geographically isolated population with a higher than average proportion of elderly vulnerable people.</li>
<li>No hospital and limited health care facilities inadequately equipped for severe respiratory problems.</li>
<li>Infrequent transportation to mainland hospitals.</li>
</ul>

Regarding coronavirus:
<ul>
<li>It is <b>very</b> contagious.</li>
<li>As many as 50% of people may have with only mild or even undetectable symptoms.</li>
<li>It is dangerous, but probably less dangerous than first thought with an overall  mortality rate of around 0.66% (see note 1) but <b>much</b> higher for the elderly and those with health issues.</li>
</ul>
<p>
At the time of writing, it seems unlikely that Coronavirus has reached Sifnos. With the lockdown and the restrictions on people coming to the island via ferries, we can hope to keep the virus off the island. However, it seems prudent to plan for the possibility that we will eventually have Coronavirus here.
<p>
At some point, the virus will have peaked on the mainland and government and business will be eager to relax controls as soon as possible to restart economic recovery. I fear this could be when Sifnos may be at its most vulnerable. If at that time, no one on Sifnos has been infected, it will take only one person to bring the virus here and for the disease to spread very rapidly.
<p>
Someone gets off the ferry, they pick up supplies from the supermarket and maybe bread from the bakery. If any staff in those shops pick up the virus, every person who shops there will be likely to buy more than they bargained for because whilst 2m distancing may be fine for open spaces it is likely to be far less effective in small to medium-sized rooms. Imagine you peel a lemon or orange at one end of your living room, it takes only a few moments before someone can smell it at the other end of the room.
<p>

<b>Sifnos has roughly 2,500 residents, with quite a few older people. My fear, is if Coronavirus comes to sifnos, the island will have to bury 25 to 50 people.</b>
<p>
What else could we do? These ideas crossed my mind:

<ol>
<li>Consider blocking visitors coming to Sifnos for two weeks after the official relaxation of travel controls on mainland Greece - the 2020 tourist season is wrtten off anyway.</li>
<li>Compulsory quarentine for visitors to the island for an extended period after relaxation of travel controls on mainland Greece.</li>
<li>Shops to serve from their front doors and not allow people inside.</li>
<li>Provide and enforce the use of masks for essential shop workers.</li>
<li>Maintain a list of rooms on the island that could be used for emergency isolation purposes.</li>
<li>Investigate getting non invasive ventilators for use by the health clinic.</li>
<li>Plan transportation particularly for those in the at risk group who are in suspected of being infected or in the early stages, to mainland as soon as possible. Transporting a severely sick people may be much more difficult particularly if there is a peak demand for the helicopter.</li>
<ul>
<li>Ferries - do they have rooms that could be used to isolate infectious people?
<li>Ferries - via patient in amulance?
<li>Consider if smaller boats can be used for medical transpotation.
<li>Helicopter - availability
</ul>
</ol>

Also, have you made a will?
<p>
<hr>
<h4>Notes</h4>
<ol>
<li><a href="https://www.newscientist.com/article/2239497-why-we-still-dont-know-what-the-death-rate-is-for-covid-19/">New Scientist - Why we still don't know what the death rate is for covid-19"</li>
</ol>

<p/>
