<head>
  <meta charset="UTF-8">
  <meta name="SilenceOfTheLambs" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
imgf {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>
<h1>Silence of the Lambs</h1>

<img src="EULibDemFlag.jpg" alt="LibDem EU" height="450">

<h4>Michael Ellis - 28-JUN-2019</h4>
<p>
This one goes out to all my Labour voting Remainer friends and aquaintences in my little social bubble echo chamber.
<p>
I post this with the  heavy heart that I am almost certian to alienate you  and piss you off. Still, wrestlig with my conscious, I feel I have no alternative. There are times when cause the to come first.
<p>
The current government is far right and Brexit at any cost. I shall not waste time here in convincing you that this is a catastrophc stragegy for the UK as if you are on my Remainer list of friends and acquenitences I know you know this already.
<p>
You also know that the course government will be unchanged by anything that lacks legal force. Pursuasion of the Tories is not an option.
<p>
That leaves that which in parliament is not government as the last defence. Well, there is a full of people's revolution, and who knows, I feel the UK is closer to that now perhaps than it has ever been. But fo sake of keeping thisngs cheerful, lets look for routes that avoid bloodshed.
<p>
That which in parliament is not government, would naturally be the opposition, and it is there that I believe our greatest chance of salvation lies. And, it is here, that I have to take issue with my Labour voting Remainer friends.... So if you are a remainer and you are backing Labour, then I put these questiosn to you to answer:
<p>
<ol>
<li>Is Corbyn a dyed-in-the-wool Euroskeptic? YES or NO.
<ul>
<li>Evidence: Three years of never once coming whole heartedly in favour of remaining and at  is last statement: "whoever becomes the new prime minister should have the confidence to put their deal, or No Deal, back to the people in a public vote" - thus leaving it manifestly clear that he wises to continue his own negotiated Brexit.
<li>Motive:  Corbyn wishes to to swap our say in how the EU is run for having absolute freedom in saying how the UK is run. See: <a href=""http://ellisnet.uk/Rants/InDefenceOfLeave.html>In Defence of Leave</a> 
</ul>
<li>Whilst Labout are headed by Corbyn, Is Labour a whole heartedly Remain party? YES or NO.
<li>Is any form of Leave from the EU long term beneficial ot the UK: YES or NO?<p>
Hard leave, Soft leave or Any leave, will be bad for the UK. Hard leave can only benefit those rich enough to profit from a crash. But any form of leave makes the UK a second tier club member and since when has second tier membership ever offered greater opportunites than full membership? The only benefit afforded by second tier mebership is lower membership dues. Of the financial dues, those are assuredly short term (albeit recurring) but also shown to be eeconomically more than justafiable for the membership benefits. Of other dues, well there is the compliance with EU law, and that is what Corbyn is not willing to pay.

</ol>

 


You see the trouble is, you all seem have gone so very quiet. Perhaps you've just blocked me or simply decided that life is too short and sweet to put up with eternal vitriolic offensive brexit ranting. I just do not know. All I know is that the Lie adorned Brexit bud has been replaced with A Brexit plane on which we are all aboard. Co pilot Farage pushed forward on tge stick Pilot May decided it would be better to server dinks than fly and hand the controls Pilot Bojo who with no flying experience and enough parachutes for him and his crew is on the in flight announcement telling us all that we are all liver lillied picanninie loving pessimists to think that a nose dive into the ground is not the best thing for Britain.


However, facts *must* be faced. 
Evidence: 

Motive:

As an ideology it is not one I agree with but, presented honestly it is one people could choose to vote for or not. But Corbyn has been wholly deceitful



-------


Are you asking me? If so, no can do. At least not whilst Labour are headed by a dyed-in-the-wool Eurosceptic that has misled his own party and robbed the country of an effective opposition for three years.
Dom, I put to you that fundamentally Corbyn wishes to SWAP OUR SAY IN HOW THE EU IS RUN FOR HAVING ABSOLUTE FREEDOM IN SAYING HOW THE UK IS RUN.
That is a fair enough agenda, but absolutely not my agenda.
If you do not agree then I look to see your defence of this allegation. "Yadda yadda yadda" does not cut it. Show me what his constructive ambiguity has actually constructed? Show me where Corbyn has ever shown commitment to to the Ideals in the Treaty of Rome. Show me ANY plan that Corbyn will advance rather than hinder our relationship with the EU. Or just tell me that you are OK with Corbyn's ideas on leaving the EU. In which case no worries we have a difference of opinion but I can respect that. Just do not tell me a vote for Labour now is a vote for Remain!
I assert that ANY form of leaving the EU is bad for the UK. On hard leave, only those rich enough to profit from a crash will benefit, but on every other kind of leave, the UK will suffer in the long term from being a 2nd tier club member. When has 2nd tier club membership ever afforded one more benefits than full membership. The only advantage is that of reduced dues. In financial terms I believe you believe that returns out perform the payments. Again, enlighten me if I have you wrong on this. On the dues of compliance with EU law, well this is obviously where I and Corbyn part company - where do you stand?
Corbyn places his important ideology ahead of the important and urgent need to do a U turn and lead the UK into an enthusiastic member of the EU.
A Corbyn deal might be OK, but it will be an inevitable diminishing of the UK in Europe and the world stage. Corbyn, if he gets into power will be in power for one term and no more. For one thing he is 70 and for another the damage already done to the UK economy, let alone a post Leave economy will make it ever more difficult to progress any sort of socialist agenda.
Some other things for you to shoot me down over:
On any form of leave, we enter into trade talks with the EU on the new footing of being an outsider rather than a friend. And, an outsider with markedly more to lose that the EU. Triggering A50 before we had our own plans B was a political naïvety of spectacular proportion.
A UK waking up to the economic consequences of 50% of it's trade no longer being frictionless will turn on whoever is is in power at the time.
Going for people's money is one thing, going for their freedoms is quite another. Guess who will find ways of escaping the Brexit cage - the able and the talented and of course the rich who unsurprisingly values those freedoms most.
Cameron dropped the B bomb and the world changed. Everything changed except one thing... Corbyn's obdurate single minded pursuit of his own agenda. He's spectacularly failed to do the most important thing a leader is charged to do - to be able to respond to changing circumstances.
The Brexit bus adorned with lies is now the Brexit aeroplane plummeting earthwards with an altimeter spinning like a top. The ground is rushing up towards us and Corbyn is looking only at the compass and maps for the onward journey. If he fails to stop crashing out, there will be no aeroplane let alone onward journey.
So yes, you may say I am gunning for you. Why? because I believe as a socialist and a remainer only the likes of you are placed to call out Labour's catastrophic post referendum lack of visionary opposition.
Corbyn may have been the right man pre referendum, but are you seriously telling me he is the right leader for now? His Brexit diffidence has single handedly slash and burned his and his parties initial socialist agenda popularity.
I find your silence in 2019 on Labour's post referendum position an utter mystery. We sat in a cafe and you said the Tories would get a drubbing at the EU elections. I said Labour would too - We were both right! The subsequent by-election was a massive Labour failure not a success. And all the recent polls show Labour about as popular as a dose of the clap https://en.wikipedia.org/.../Opinion_polling_for_the_next...
If you back Labour, now, as it is, with a chin scratching weasel worded Corbyn who has told nothing but the truth BUT FAR FROM THE WHOLE TRUTH then I call you out for helping to ensure we have a divided remain vote when crunch time comes. Campaign to make Labour Remain. Change to LibDems or Greens to back Remain. But Back Labour as it is that ain't backing Remain. That's backing Leave. And there we assuredly part. I hope we stay friends of course, but we are on opposite sides of a civil (pun intended) war.
https://is.gd/satVH5