<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

</style>

<img src="EUSoItGoes.jpg" alt="EUSoItGoes" height="250" >

</head>
<h1>So It Goes...</h1>
<h4>16-OCT-2019</h1>

<body>
<p>
This was the Facebook banner I made in 2016 on the day the referendum results were announced. The So it goes... tattoo refers to a phrase from the 1969 novel Slaughterhouse-Five. Kurt Vonnegut used the phrase "So it goes" as a narative device as the plot left behind someone's (or something's) death and moved on. The screwed up gold and blue flag of the EU speaks for itself.
<p>
As a literary device "so it goes..." is a motif for the theme of the book. Tragedy wrought by man's own hand wreaks destruction of bodies, minds, hearts, lives, loves and souls, but the world has to keep spinning, someone has to get up and move on to tie their shoe laces or make dinner or open the shop. So it goes... "So it goes..." is the casual way that we move on from death and destruction and desolation.  "So it goes..."  that we hardly mourn, or mourn but momentarily, or not even mark the passing. So it goes...
<p>
On what feels like the eve of the UK's withdrawal from the EU, I am in mourning for what the UK has chosen to kill. The slaying of dragon, that was never foe but simply a misunderstood friend, even if an imperfect friend. A slaughter brought about by greed and ignorance and a complete failure of successive domestic governments to fairly share wealth, visions,  dreams, love and life.
<p>
Whilst it can be argued that post war the Treaty Of Rome was an economic instrument brought into being to promote prosperity, it would be entirely unjust to say that that was its raison d'être. Those that say the EU has brought peace, are guilty of understatement in the extreme. The EU has done so much more. The EU has brought cooperation where there was competition, it has brought collaboration where there was conflict.
<p>
World War II left scars, deep scars. Any healing that has since come about, has not come through the vacuous "I'll heal the continent" speeches of politicians, but through shared prosperity. It was necessary for the day-to-day conditions of people's lives to improve, and that that was achieved through the auspices of the economic instrument and strategy of the Treaty of Rome was no happy mistake.
<p>
It is right there on <b>Page 1</b>:
<blockquote>
RESOLVED by thus pooling their resources to preserve and strengthen peace and liberty, and calling upon the other peoples of Europe who share their ideal to join in their efforts
</blockquote>
In 2016 the theatre of discontent opened to a comedy of errors. Act one, scene one Cameron enters stage left and pronounces "Lets have a referendum". Today the curtain closes on a tragedy with a duplicitous court jester wearing a foolish grin kneeling over a dying queen and country.
<p>
Oh UK! 2019, the year you lost so much more than your rights and prosperity. You lost your dignity. You lost your graciousness. You lost your reputation. You let them trade your heart for things they could and will never deliver.
<p>
And every one who voted leave and has done nothing since, then you are to be listed in the final credits. So it goes...
<hr>
<a href="index.html">Other Rants</a> 
</ul>
