<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="LordRoberts.jpg" alt="LordRoberts.jpg" height="500"/>
</center>

<h1>Stupid is What is Being Taught</h1>
<h4>25-MAY-2020</h4>
Concerning the current sorry state of the nation and the criticism of our government, the UK DID VOTE THEM IN!
<p>
ALL the information was there before going to the ballot box.
<p>
If you want to know where the problem ultimately lies, it is with our EDUCATIONAL SYSTEM.
<p>
The UK educational system for far too long has PROGRAMMED our children to regurgitate <i>facts</i> and pass exams. Ultimately, if not its intent, then its effect, has been to create mindless consumers.
<p>
Our educational system has flat-out failed to educate our children in the culture of intelligent scepticism. And so now we have a public that will largely believe any shite if you can sell it with enough bluff, bluster and panache.
<p>
Last week, I posted TWO posts, the first about being banned giving blood here in Greece due to the long-ago MadCow outbreak in the UK. The second about climate change causing genetic changes to sea sponges that were causing them to swim to the surface and eat away the metal hulls of ships.
<p>
The former was researched and sources cited. The latter had only one source, not cited, and the source was a storyline from a Beano comic book I had as a kid. More people responded to the latter and NOT ONE PERSON called me out on the marauding metal-eating sea sponges!
<p>
Our Education system is failing.
<p>
<b>OUR PEOPLE HAVE BEEN FAILED BY A FAILED EDUCATIONAL SYSTEM</b>
<p>
The blame is not with our teachers but with the government's obsession, to quote Oscar Wilde, of knowing the price of everything and the value of nothing. The obsession with exams and qualifications, most especially in the early stages of education has created receptacles for information without any natural inclination to question and test that information.
<p>
We have invested far too much in tertiary/university education for absurd degrees such as Advanced Cushion Weaving and Camel Grooming. Charging £50K a pop for a qualification that not only is unlikely to result in finding employment but also leaving the highly qualified 
Camel Grooming Cushion Weavers in eternal debt. Governments like their citizens in debt. It is the easiest form of slavery. Our university education system needs a massive reworking, but I shall leave that for another day.
<p>
What I want to ATTACK now, is the mainstay of education from kindergarten through to secondary school. We have got it wrong. We have built an educational system that schools them to trust what they are told. We need to teach our kids to QUESTION what they are told.
<p>
When the little darlings are first inducted into the halls of learning we do indeed need to nurture and coset them and get them to feel they have a safe place and encourage them to start to find their own voice. They need discipline, structure, kindness, routine. We should start to equip them with the tools they will need to explore the world around them, the three R's.
<p>
But as they progress through the education system, we need to take that support away and encourage a healthy suspicion so they form the habit of question ALL information. Never before has the need for discretion and evaluation been greater than now when information is coming at us a thousandfold more, so much of it fake and false.
<p>
Give our students a map of the world and tell them the world is flat like the map. Ask them to write about the flat earth. Mark them down if they do as their told. Change the names on the map put Germany where France is and swap France and Japan. Tell them to measure the distance from Paris to Tokyo. Shout at them and MARK THEM DOWN if they do not riot in the classroom!
<p>
The critical lesson is to question what is presented you as facts and to equip you with a life long habit of intelligent scepticism. That is something you do not need a degree for. And indeed you should be barred from taking a degree course if you are unable to exercise that ability. If you are not a natural sceptic you will most likely do more harm with your degree than good (Again I reference my own MP Lucy Frazer)
<p>
Fundamentally we have the government and state of politics we have because our people will believe any old shite. We have pandemic stupidly, complacency and intellectual laziness. You do not need a degree to lift yourself out of that state, a solid, mandatory primary and secondary education are all that is required.
<p>
As for the sea sponges, I regret to inform you that the latest research from the Institute for Advanced Nautical Proceedings confirms that the metal-eating sponges have developed a taste for sacrificial anodes and that all of the vessels so far taking on water were through perforations at the sites of the anodes. There is also evidence that the sponges are mutating further and developing nascent legs and a warning has been issued to the automotive industry that they are coming for automobiles once they have eaten all the boats.


