<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUFlagTear.jpg" alt="EUFlagTear.jpg" height="400"/>
</center>

<h1>Table of Losses</h1>
<h4>7-JAN-2019</h4>
<p>

<table>
  <tr>
    <th>Date</th>
    <th>Vote</th>
    <th>For/Against</th>
    <th>HoC Tweet</th>
    <th>Consequence</th>
    <th>Links</th>
  </tr>
  <tr>
    <td>8/1/2020</td>
    <td>Seek continuation of full membership of Erasmus</td>
    <td>254/344</td>
    <td><a href="https://twitter.com/HouseofCommons/status/1214996118322532353">tweet</a></td>
    <td>Loss of rights of UK students to participate study in EU countries</td>
    <td><a href="https://www.allaboutcareers.com/careers-advice/erasmus/what-is-erasmus"><a>What Is Erasmus?</td>        
  </tr>
  
  
  <tr>
    <td>8/1/2020</td>
    <td>New Clause 2 being added to the  European Union (Withdrawal Agreement) Bill.</td>
    <td>255/344</td>
    <td><a href="https://twitter.com/HouseofCommons/status/1214994760726974464">tweet</a></td>
    <td>This new clause would have required the Government to negotiate a comprehensive agreement with the
EU protecting workers’ rights.</td>
    <td></td>        

  
  
  <tr>
    <td>8/1/2020</td>
    <td>New Clause 29 being read a second time</td>
    <td>250/344</td>
    <td><a href="https://twitter.com/HouseofCommons/status/1214998126412681218">tweet</a></td>
    <td>This new clause would have required the Government to seek close alignment with the EU single market on key level playing-field provisions.</td>
    <td></td>        

  </tr>
</table>

<p>
<h4>Instructions for Twitter</h4>
Enter into Twitter search field <code>"MPs have voted" (from:HouseofCommons)</code>

<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
