<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="EUSoItGoes.jpg" alt="EUSoItGoes" height="250" >
</center>

<h1>The Worker</h1>
<h4>3-JAN-2020</h4>

<p>
I am just a poor boy<br>
Though my story's seldom told<br>
I have squandered my voting rights<br>
For a pocket full of mumbles, such are promises<br>
All lies and jests<br>
Still a fool hears what he wants to hear<br>
And disregards the rest<br>
<p>

When I was torn from my EU family<br>
I was no more than a boy<br>
Robbed of my rights and freedoms<br>
By a reckless cruel Tory party<br>
Running scared,<br>
Laying low, seeking out the many food banks<br>
Where the ragged people go<br>
Looking for the places<br>
Only they would know<br>
<p>
<i>
Lie la lie, Jacob-Rees Mogg lie la lied<br>
Lie la lie, Michael Gove lie la lied<br>
Lie la lie, Boris Johnson lie la lied la la lie lied<br>
Lie la lie, lie la la la la lie they all lied<br>
</i>
<p>
Asking only workman's wages<br>
I come looking for a job<br>
But I get no offers<br>
Just a come-on from the volunteers<br>
In the soup kitchens<br>
I do declare<br>
There were times when I was so hungry<br>
I took some dinner there,<br>
<p>
In a job center stands a workman<br>
And a plumber by his trade<br>
And he carries the reminders<br>
Of the zero-hour contracts that broke him<br>
Or bent him till he cried out<br>
In his anger and his shame<br>
"I am leaving, I am leaving"<br>
But the worker still remains, mmm mmm<br>
<p>
With no jobs in his home town
And the factories have all closed
He looks for employment in the EU
Where the skills of plumber are much in need
But the doors are closed
Because Freedom of Movement was opposed
The doors are closed
Because the Tories were never opposed
<p>
<i>
Lie la lie, Jacob-Rees Mogg lie la lied<br>
Lie la lie, Michael Gove lie la lied<br>
Lie la lie, Boris Johnson lie la lied la la lie lied<br>
Lie la lie, lie la la la la lie they all lied<br>
</i>
<p>
I am just a poor boy<br>
Though my story's seldom told<br>
I have squandered my voting rights<br>
For a pocket full of mumbles, such are promises<br>
All lies and jests<br>
Still a fool hears what he wants to hear<br>
And disregards the rest<br>
<p>

When I was torn from my EU family<br>
I was no more than a boy<br>
Robbed of my rights and freedoms<br>
By a reckless cruel Tory party<br>
Running scared,<br>
Laying low, seeking out the many food banks<br>
Where the ragged people go<br>
Looking for the places<br>
Only they would know<br>
<p>
<i>
Lie la lie, Jacob-Rees Mogg lie la lied<br>
Lie la lie, Michael Gove lie la lied<br>
Lie la lie, Boris Johnson lie la lied la la lie lied<br>
Lie la lie, lie la la la la lie they all lied<br>
</i>
<p>
Asking only workman's wages<br>
I come looking for a job<br>
But I get no offers<br>
Just a come-on from the volunteers<br>
In the soup kitchens<br>
I do declare<br>
There were times when I was so hungry<br>
I took some dinner there,<br>
<p>
In a job center stands a workman<br>
And a plumber by his trade<br>
And he carries the reminders<br>
Of the zero-hour contracts that broke him<br>
Or bent him till he cried out<br>
In his anger and his shame<br>
"I am leaving, I am leaving"<br>
But the worker still remains, mmm mmm<br>
<p>
With no jobs in his home town
And the factories have all closed
He looks for employment in the EU
Where the skills of plumber are much in need
But the doors are closed
Because Freedom of Movement was opposed
The doors are closed
Because the Tories were never opposed
<p>
<i>
Lie la lie, Jacob-Rees Mogg lie la lied<br>
Lie la lie, Michael Gove lie la lied<br>
Lie la lie, Boris Johnson lie la lied la la lie lied<br>
Lie la lie, lie la la la la lie they all lied<br>
</i>
<p>

<h1>The Boxer</h1>
I am just a poor boy<br>
Though my story's seldom told<br>
I have squandered my resistance<br>
For a pocket full of mumbles, such are promises<br>
All lies and jests<br>
Still a man hears what he wants to hear<br>
And disregards the rest<br>
<p>

When I left my home and my family<br>
I was no more than a boy<br>
In the company of strangers<br>
In the quiet of the railway station<br>
Running scared,<br>
Laying low, seeking out the poorer quarters<br>
Where the ragged people go<br>
Looking for the places<br>
Only they would know<br>
<p>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
<p>
Asking only workman's wages<br>
I come looking for a job<br>
But I get no offers<br>
Just a come-on from the whores<br>
On Seventh Avenue<br>
I do declare<br>
There were times when I was so lonesome<br>
I took some comfort there,<p>
le le le le le le le<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
<p>
Then I'm laying out my winter clothes<br>
And wishing I was gone<br>
Going home<br>
Where the New York City winters<br>
Aren't bleeding me<br>
Leading me<br>
Going home<br>
<p>
In the clearing stands a boxer<br>
And a fighter by his trade<br>
And he carries the reminders<br>
Of ev'ry glove that laid him down<br>
Or cut him till he cried out<br>
In his anger and his shame<br>
"I am leaving, I am leaving"<br>
But the fighter still remains, mmm mmm<br>
<p>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
Lie la lie, lie la la la lie lie<br>
Lie la lie, lie la la la la lie la la lie<br>
<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
</div>