<head>
  <meta charset="UTF-8">
  <meta name="SocialismOrEU" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">
</head>

<body>

<article>
<header>
<img src="TickTick.jpg" alt="LibDem EU" height="500">

<h1>Labour Remainers - Time to Choose</h1>
<h4>22-JUN-2019</h4>
<p>
Well, now we have the evidence as well as the motive. Corbyn wants and needs to be out of the EU to pursue his full blooded socialist agenda. Nothing wrong with his socialist product, <b>everything wrong with not being honest about the price.</b>
<p>
Corbyn's strategy, for that's what it was, kept a league of labour remainers in a state of paralysis and unable to rally behind a remain party.
<p>
Corbyn, in your own quiet unassuming way you have been every bit as deceitful as the snake-oil salesmen that sin on the Tory front bench. In a sense you were perhaps worse, it was easier to see them coming. You were traitor in our own ranks. We believed in you!
<p>

<h2>Labour Remainers, MPs and Voters</h2>
<p>
Just as Tory is "Leave at any cost", Corbyn is "Socialism at any cost". he just conveiently has spent three years hiding the price tag.
<p>
It's a choice of what you want and what you will pay?
<p>
Do you believe a brexit of the kind Corbyn needs to fulfil his ambitions are a price worth paying for Corbyn's own branded future?
<p>
If it is, then fine! You vote for him. But if it's not OK, then how far down the road does party loyalty take you?
<p>
I implore anyone, who like so many believe that whilst the EU is not perfect, it is by far the better way forward for the UK, to join the LibDems now if you can. The LibDems are riding high in the polls because of their uncompromising remain agenda. So the more members they have, the bolder they will be able to become. A bold remain party is the best party to orchestrate snatching victory from the jaws of defeat.
<p>
And, if voting LibDem sticks in your craw, then I urge you to forgive them their past mistakes. Don't choose now to punish the LibDems over tuition fees and getting the Tories into power now because Brexit is going to damage the future of the UK for far longer than any political party's term in government. Brexit is important, urgent and unlike any other policy issue right now, irreversible. Be pragmatic!
<p>
There is no time to lose.
<p>
<h3>The Evidence</h3>
<p>
<ul>
<li>Three years of fence sitting
<li><a href="https://www.independent.co.uk/news/uk/politics/labour-tom-watson-second-brexit-referendum-final-say-shadow-cabinet-a8970951.html">Labour bosses rigged election analysis to block full backing for second Brexit referendum, deputy leader Tom Watson claims
</a>
</ul>
<p>

<h3>The Motive</h3>
<p>
<ul>
<li><a href="https://is.gd/ADWDxG">Labour should support leaving the EU – then it can be truly radical in government
Costas Lapavitsas</a>
<li><a href="https://is.gd/hT72Gx">The Left Case Against The EU - Aaron Bastani Meets Costas Lapavitsas</a>
</ul>
<hr>
<a href="index.html">Other Rants</a> 
