<head>
  <meta charset="UTF-8">
  <meta name="ToothlessTiger" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
.lcolumn {
  float: left;
  width: 60%;
  text-align: left;
}

.rcolumn {
  float: right;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

q {
    font-style: italic;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>Jeremy The Toothless Tiger</h1> 

<h4>10-AUG-2019</h4>
<div>
  <div class="rcolumn">
  <img src="toothlesstiger.jpg" alt="Toothless Tiger"  >
  </div>
  
  
  <p>
I know it sounds like the title to a rather charming children's book. So, I am sorry to disappoint you but it is alas the another rant from the tantrum throwing two year old (as I have now been called) and it is in respect of Jeremy Corbyn's Letter to Mark Sedwill (full text reproduced below)
<p>
Corbyn's Letter to Mark Sedwill is embarrassingly pathetic in it's naïvety!  Making the letter public was to draw it to the attention of Johnson and as such is meant as a warning shot across the bows.
</div>

<p>
Surely someone should have pointed out to Corbyn, that a warning shot across the bows, MUST have the shell clear the ship's bow and not drop in to the briny half way on its way to the target with a pathetic splash? All that serves to achieve is letting the enemy know he is comfortably out of range!
<p>
Corbyn's public letter ASKS if there will be case for prosecution should Johnson postpone election to 1st November, thus passively taking the UK out of the EU with no deal during the period of Purdah.
<p>
Mark Sedwill will be obliged to reiterate the existing rules on Purdah, but will be unable to state categorically which way the judiciary would rule should a  prosecution be made.
<p>
What Corbyn has done however, is drawn the Tories attention to the Purdah clause that the Tories will use to make their defence, that is:
<p>
<q>provided that such postponement would not be detrimental to the national interest or wasteful of public money</q>
<p>
Say charges are pressed that Johnson has wilfully disobeyed Purdah. Johnson's defence will that he <b>believed</b> wholeheartedly that leaving on the 31st October, as he promised all along, and was elected by clear majority of party members in that knowledge, was in the countries best interest to avoid the long running uncertainty that had already been so detrimental to the UK's economy since 2016.
<p>
It will be a matter of <b>interpretation</b> and <b>opinion</b> and it will be simply be impossible to prove <b>intent</b>, especially now that the Tories have been put on notice to make themselves appear clean on the matter. It's impossible to imagine that BoJo & Co. don't know this. They are not idiots. They're smart selfish psychopaths.
<p>
Corbyn ought to have secured Mark Sedwill's advice in private and established first if a case for prosecution would stand a credible chance of succeeding. Then and only then armed with a live ammunition, fired that news across Johnson's bow.
<p>
Labour have messed things up big time. After the referendum they failed to respond to a changing political landscape. They have remained true to their party causes but so entirely blinkered that they have failed to see just how dramatically the world had changed. They've been locked into a life-long battle drawn along Left vs Right view of a world. But that world pivoted on Cameron's B bomb into a world that is now torn from top to bottom over Brexit. <b>Brexit has never been a Left/Right issue.</b>
<p>
For three years Labour have remained neutral on Brexit to hold on to numbers. It has been disastrous if measured at the polls and by-elections. And now, after THREE years, they are they talking about changing policy to effectively oppose Brexit when it is quite probably legally too bloody late.
<p>
Corbyn's best shot now? To seek clarity on the legal position if the Tories were to succeed in crashing us out of the EU during Purdah. Weeeeeeeee, splish.
<p>
Well, Ive been told my rantings are just the tantrums of a two year old and not worth reading.  Well a measure of success is how well your predictions match with events unfold. On May 20th I said we would be in the grips of Tory government with a  hard Brexiteer takes the helm: http://ellisnet.uk/Rants/EUSoItGoes.html (amongst other predictions that were also reasonably accurate).
<p>
The future now though is ever more difficult to predict because it is not so much in the hands of politicians long term intent but rather, due to time running out, a highly volatile game of parliamentary tricks and stunts. And right now, Boris has the advantage of being top rabid dog, and Jeremy is looking rather like a old toothless tiger.
<p>
I've been told that come the Labour conference, Labour will pull a resounding policy change out of the hat, and if they do I will be all ears, like an excited two year old rabbit. But Unless and until Labour have a binding manifesto commitment to back remain, it looks like my best hopes are to back the Remain Alliance and hope other will too. And also to be honest isn't leaving backing remain to September 2019, when the referendum was in 2016,... well stable door, bolted horses and all that.
<p>
P.S. hey, it's got bunnies, tigers and horses,... it's not too bad as children's stories go!
<p>
<a href="https://is.gd/Knh2Wz">Corbyn's Letter to Cabinet Secretary Mark Sedwill</a>
<p>
<blockquote>
<i>
Dear Mark Sedwill,
<p>
You will no doubt be aware of press speculation that, even if Parliament votes that it has no confidence in the current Conservative government, the Prime Minister could attempt to force through a disastrous No Deal Brexit by scheduling a general election after the UK is due to leave the European Union on 31 October.
<p>
Forcing through No Deal against a decision of Parliament, and denying the choice to the voters in a general election already underway, would be an unprecedented, unconstitutional and anti-democratic abuse of power by a Prime Minister elected, not by the public, but by a small number of unrepresentative Conservative Party members.
<p>
I am therefore writing to seek your urgent clarification on the proper application of ‘Purdah’ rules in such a scenario and the constitutional implications of failing to abide by those rules.
<p>
As you will be aware, Purdah guidance makes clear that “decisions on matters of policy on which a new government might be expected to want the opportunity to take a different view from the present government should be postponed until after the election, provided that such postponement would not be detrimental to the national interest or wasteful of public money.”
<p>
As government assessments make clear, a No Deal Brexit would have a deeply damaging impact on the economy, with serious consequences for jobs, living standards and industry in this country. A Labour government will never support a No Deal exit, so would of course “want the opportunity to take a different view.”
<p>
I would therefore be grateful for your confirmation that, if the UK is due to leave the EU without a deal during a general election campaign, the government should seek a time-limited extension to Article 50, to let the electorate decide and the incoming government to take the next steps on the basis of the voters’ wishes.
<p>
As this is a matter of public interest, I am making this letter public.
<p>
Yours sincerely,
<p>
Jeremy Corbyn MP
</i>
<p>
Leader of the Labour Party
</blockquote>

<hr>
<a href="index.html">Other Blogs</a> 
