<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>


</head>
<p>
<center>
<img src="GetWellSoonWorld.jpg" alt="GetWellSoonWorld" height="400"/>
</center>

<h1>Tories - Style Over Content</h1>
<h4>31-MAR-2020</h4>

Source: Coronavirus COVID-19 Global Cases by the Center for Systems Science
<a href="https://coronavirus.jhu.edu/map.html">https://coronavirus.jhu.edu/map.html</a> as of 31-MAR-2020
<p>
Top ten countries listed by total confirmed cases of C-19
<p>

<table>
  <tr>
    <th>Country</th>
    <th>Total Deaths</th>
    <th>Total Recovered</th>
  </tr>
  <tr>
    <td>US</td>
    <td>3,170</td>
    <td>5,945</td>
  </tr>
  <tr>
    <td>Italy</td>
    <td>11,591</td>
    <td>14,620</td>
  </tr>
  <tr>
    <td>Spain</td>
    <td>7,716</td>
    <td>16,780</td>
  </tr>
  <tr>
    <td>China</td>
    <td>3,309</td>
    <td>76,199</td>
  </tr>
  <tr>
    <td>Germany</td>
    <td>650</td>
    <td>13,500</td>
  </tr>
  <tr>
    <td>France</td>
    <td>3,030</td>
    <td>7,964</td>
  </tr>
  <tr>
    <td>Iran</td>
    <td>2,757</td>
    <td>13,911</td>
  </tr>
  <tr>
    <td><font  color="red">UK</font></td>
    <td><font  color="red">1,412</font></td>
    <td><font  color="red">171</font></td>
  </tr>
  <tr>
    <td>Switzerland</td>
    <td>359</td>
    <td>1,823</td>
  </tr>
  <tr>
    <td>Belgium</td>
    <td>513</td>
    <td>1,527</td>
  </tr>
</table>

<p>

Which countries have a Total Recovered rate less than their Total Death rate?
<p>
Britain, leading the world in testing, championing exciting bluff and bluster over boring old scientific method and dilligence.
<p>

Our government is ill preprepared, and more invested in style over content.
<p>

Their handling of C-19 will see far more dead then necessary.
<p>

The Nightingale Hospital might save some but it is going to kill others by creating a C-19 hotspot with, doctors, nurses, caterers, cleaners, admins etc having to go to and from it.
<p>

Over six weeks ago, I said with the transmissivity of coronavirus that it would not be containable in the UK (and probably Europe and USA). I said given the severity of the disease, hospitals would be overwhelmed. I said without a vaccine or pharmaceutical remedy, that breathing assistance for compromised lung function would be the main defence.
<p>

Put those together, I suggested that some form of non-invasive ventilation should be rolled out for at-home use.
<p>

Only now with the likes of Mercedes F1/Rolls Royce and BAE is this being looked at.
<p>

Irrespective of how many die needlessly, most of the country will live through this, and when that day comes, nearly everyone will be relieved and fully invested in rebuilding their lives. Johnson will then tell the world that his plan was the best plan and he was right all along, and the great British spirit prevailed. He will use this as a patriotic flag-waving exercise as he further tanks the economy over Brexit.
<p>
<hr>
<p/>
<ul>
<li><a href="https://www.visualcapitalist.com/history-of-pandemics-deadliest/">History of Pandemics</a>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
