<h1>Government Track and Trace App</h1>
<h4>5-MAY-2020</h4>
<p>

<a href="https://www.bbc.com/news/health-52521526">Coronavirus: Contact tracing app to be trialled on Isle of Wight</a>
<p>
I have seen a lot of negative comments regarding the government's insistence on building its own track-and-trace app in relation to not trusting the government with the collected data or to use it to otherwise snoop on us.
<p>
I sympathise and to some extent agree that this utter snot-porridge of a government is yet again fucking around with its idiotic self-serving, go-it-alone approach and indeed that may bring a risk of compromised data.
<p>
However, this Covid-19 pandemic is a global health crisis and thousands are suffering and dying.
<p>
You are living in a world where you voluntarily offer up volumes of data about yourself every time you use Facebook, order from Amazon, use acredit card, or even walk about with your phone switched on. If you have a smart speaker you even invite a Google or Amazon or Apple into your home to eavesdrop on all your conversations. It is the new world. We trade our privacy for convenience and we do it all the time. It's only going to get worse (or better whichever way you look at it)
<p>
I cannot in any way vouch for the integrity of this planned app, nor how this government might use the data, but my hunch as someone who works in IT, is that it will not be a significant risk to you and I bet, that it is much less of a risk to you than Covid-19.
<p>
But that is NOT the point!
<p>
Use of the app contributes to a system to help keep us ALL safe. By refusing to use this app you are withdrawing your contribution to helping society and saving lives, based upon a possibility of your privacy being compromised? Using this app will be a hell of a lot more of a tangible help than standing outside and clapping for NHS!
<p>
Civilisation is at its heart is the adoption of conventions which mean we give up certain rights and freedoms in exchange for protecting the vulnerable.  It is exactly what distinguishes us from the animal kingdom where there is only survival of this fittest.
<p>
In my opinion, anyone declining to use the governments tracking-and-trace app says they care more about their privacy than about the health and life of their fellow man. Sorry to be so blunt. But the UK is exhibiting far too much "me" before "we".
<p>
And don't forget, once this crisis is over, you can (and probably should) uninstall the app!
<p>