<head>
  <meta charset="UTF-8">
  <meta name="WhoIsTheIdiot" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="UnsubscribeBrexit.jpg" alt="UnsubscribeBrexit" height="400" >

<h1>Unsubscribe Brexit</h1>
<h4>7-AUG-2019</h4>
Dear Gov.UK,
<p>
Today I received another of your daily cheery Brexit updates. I must confess that these missives so often seem to miss the mark when it comes to cheering me up. 50% of our trade being thrown into the unknown. Asking schools to police and ‘inform’ about SS status. Billions being spent on things I already have. Anyway, that’s all by the bye as I know how busy you are but I do need to draw your attention to what happened when I scrolled to the bottom of the email only to discover that one can <b>unsubscribe from Brexit</b>.
<p>
Just imagine that! I had no idea it was an opt-in/opt-out sort of thing. Well I can tell you that cheered me up no end as I assuredly want to remain in the EU. Well I am not sure how this opt-in/opt-out arrangement is to work. Perhaps I just get to keep my red passport, retain my freedom of movement and am allowed to personally trade with the EU without hindrance. Though I confess to being unsure how my pound is to be kept at pre 2016 levels whilst Mr Andrews's next door, is heading for parity with the drachma. But hey-ho, I am full of optimism that Boris has this all worked out.
<p> So there I am clicking on the unsubscribe link but no matter how many times I click, it is still not operating in accordance with my expectations. <p> First I got <b>Error 204</b> - I looked it up and it says 'No Content'. Well bugger me sideways with a French stick and a slice of brie! I know that much already. Brexit never has had any content. It’s all about bluff and bluster.
<p>
Then I got <b>Error 406</b> - Again I looked it up and it says 'Not Acceptable'. Well you could have knocked me down with a German bratwurst. Of course Brexit is not acceptable! <p> Then <b>Error 409</b> - 'Conflict'. Well bash me over the head with a Spanish paella pan. Indeed I am sure there will be lots of conflict if you press ahead with such recklessness.
<p>
<b>Error 413</b> - 'Payload Too Large'. Well slap my sides with some Italian linguine and wash it off with a bottle of Chianti!  I was not sure whether this was in reference to the £10bn bunged to the DUP or the £6.3bn on Brexit preparations but either way, I couldn't agree more, Payload Far Too Large!
<p>
<b>Error 416</b> - 'Range Not Satisfiable'. Well this got me in a bit of a Hungarian stew, I can tell you. I imagine this error relates to the limited range people will have for work and where to live when they lose their freedom of movement. Very unsatisfying range indeed.
<p>
So I kept pressing and it was a veritable Swedish Smörgåsbord  of errors!
<p>
<ul>
<li><b>Error 417</b> - Expectation Failed - You are telling me?
<li><b>Error 428</b> - Precondition Required - Something to do with the backstop perhaps?
<li><b>Error 429</b> - Too Many Requests - Well you can understand why so many want to unsubscribe from Brexit.
<li><b>Error 451</b> - Unavailable For Legal Reasons - I know, I know, we won’t need to worry about laws once we are out of the EU but, well you know, they are there for a reason.
<li><b>Error 501</b> - Not Implemented - Will it ever be?
<li><b>Error 502</b> - Bad Gateway - Something to do with Dover and Calais no doubt!
<li><b>Error 507</b> - Insufficient Storage - That’s going to hit stockpiling and the M20 parking lot.
</ul>

Then <b>Error 503</b> - Service Unavailable- which seems just despairingly prophetic.
<p>
And finally <b>Error 510</b> - Not Extended - which is what we have already been told.
<p>
Well, it has been an eventful morning for me. But I have to say that I am not so very satisfied with my Unsubscribe from Brexit experience.
<p>
Being something in the tech. field myself, it does seem to me that this whole Brexit nonsense could do with some well tried and tested tech. support. I suggest switching it off and going back to the backup that just predates when things started to go tits-up. I recommend doing this as soon as possible to avoid crashing the whole system and country with it. Just imagine running the 2016 restore tape would take us back to an exchange rate of £1=€1.4s!!!
<p>
Ah, I can already imagine you saying that you cannot do this because of the will of the people. But I do have a plan for that too!
<p>
Firstly you may find that there are not quite so many invested in getting on that Brexit Bus that has morphed into the Brexit Plane that's stuck in a tail spin, plummeting earthwards. But of course there are those who feel that they bought the ticket in 2016 and really do want to stay on for the whole ride.
<p>
Well if we restore 2016, we are going to have some money to spare. So I suggest making a compulsory purchase of the Isle of Wight, and turning it into a Brexit Theme Park. Banksy's Dysmaland was a ripping British success and Brexitland could be too. Brexiteers could flock there and be given blue passports that just allow them to remain in Brexitland.
<p>
It could be a truly 18th century Great British Experience. At fifteen guineas a pop for a tourist entry ticket and the sales of television rights it would also be entirely self funding.

<hr>
Alas having sent this to my MP Lucy Frazer, unsurprisingly I have got <b>Error 444</b> - No Response!

<hr>
<a href="index.html">Other Blogs</a> 
