<head>
  <meta charset="UTF-8">
  <meta name="SocialismOrEU" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">
</head>

<body>

<article>
<header>
<img src="EULibDemFlag.jpg" alt="LibDem EU" height="500">

<h1>Vanity, Definitely My Favourite Sin!<sup>1</sup></h1>
<h4>22-JUN-2019</h4>
<p>
When it comes to vanity, it appears to be called out on the right far more than the left. But I would say it's there too, though often wrapped in brown paper and string whereas the Tory brand is easier to spot since it comes wrapped in sparkly gilt edged wrapping paper and bows.
<p>
Corbyn is vane! You may have missed it since he presents as that decent chap from down the allotment that has no outward signs of pretension or ostentatiousness. But I say, Corbyn is vane. His vanity is not in his unswerving, unbending faithfulness to his socialist principles but that he is willing for that to come at any cost, even deceit (albeit implicit rather than explicit).
<p>
I too am desperate for our country to take that turn to the left, but Corbyn believes that he can only achieve that if freed from the bonds and ties of being an EU member.
<p>
This is a serious matter that has to be acknowledged. <a href="http://ellisnet.uk/Rants/InDefenceOfLeave.html">The Left's Case Against The EU</a>
<p>
What troubles me, is that Labour people who are passionate remainers, whether they be MPs, members or voters are being duped by Corbyn's three years of diffidence and fence sitting into believing that he is their best chance of hanging onto the EU. 
<p>
Corbyn through his vanity for his own project is wilfully misleading Labour remainers. He has the likes of Tom Watson and Kier Stammer making all the right noises for remain but when it comes down to it, any ground given by Corbyn will be given grudgingly. And more to the point it will be given far too late for people passionate for remain to decide whether what he offers is enough or not, certainly too late for them to do anything about it.
<p>
Now the arguments that have been levelled against my view are that I am extremist in my desire to remain. I'll acknowledge that, but <b>not</b> with an apology!
<p>
You see there has been much talk of <b>compromise</b> and <b>healing</b> from both Tories and Labour actually. To this, I call 'bullshit' and 'bullshit'.
<ul>
<li>
On 'compromise', there is NO halfway house on EU membership that will deliver better economic or social outcomes than full membership. It is simply logically inconsistent that any club affords its members less benefits for second tier membership. So what we are haggling about, is the price, not the benefits.
<p>
<li>
On 'healing' political leaders talk of making a gift that it is simply not in their power to grant. It's entirely vacuous. They stirred up this deep divisions with the referendum. Few people felt so passionately about the EU before 2016. But now the two sides are too entrenched and there is no dialogue that can heal the split any more than there was for healing slavery, apartheid or homophobia or many other divisive issue.
<p>
Social advancement has always come at the cost of upheaval. It was always necessary for brave people to fight and completely overturn the status quo with what they believed to be right. Then it was 'time' and time alone that delivered healing, and to be honest some things never heal for everyone. Such is mankind.
</ul>
<p>
It seems some remainers have lost their pride and vision. Just consider how the whole three years of Brexit debate from the UK side has been framed around 'what we get' and 'what we lose'. Where is the 'what we can give' and 'what we can bring' discourse?. Until and unless we can muster that sort enthusiasm for the EU political ideal than I'm  not sure whether we deserve a place at the EU table! And with that half hearted world view we will be trapped in this modality of appeasement defending against 'heal' and 'compromise' allegations. No, this is an issue that is really worth fighting for, for the good of country and also for our responsibility to every EU person currently living, working and contributing to the UK.
<p>
Remainers, find your voice and find it very quickly. Question your loyalties. Corbyn believes he cannot deliver <b>his</b> full socialism agenda whilst a full member of the EU. He has, I believe conveniently forgotten to mention that to his remain supporters. <a href="https://www.youtube.com/watch?v=PFnrWbo6uJA">This is explained by a smarter man that I, they are incompatible ideals</a>. So it becomes a stark choice of priorities, and if you fudge this you lose! So question whether Corbyn's vision is worth the price tag of leaving or diminishing our role in the EU. And when you ask the question, remember brexit, like a puppy is for life not just Christmas, whereas a political party can be replaced every four years.
<p>
I've joined the LibDems, because for all their sins, they are squarely behind remain. I write and campaign for them to become ever more strident and absolute on their position just as the right have become evermore strident and absolute on "leave means leave". What's your position?
<hr>
<sup>1</sup>"Vanity, Definitely My Favourite Sin!" this line comes from the movie "Devil's Advocate". One of my all time favourite movies. When a lawyer tempted by the devil sees the error of his ways, it is is vanity even in his striving to be saintly, that is the last line of the movie and the ultimate trap.
<p>
<a href="https://www.youtube.com/watch?v=3M68wcB6L0s">Devil's Advocate</a>

<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>

<li><a href="index.html">Other Rants</a> 
</ul>


