<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>
</head>
<p>


<h1>Brexit: We Don't Need No Education</h1>
<center>
<img src="ChimpCalc.jpg" alt="ChimpCalc.jpg" height="300"/><br>
</center>

<h3>Or Why Freedom of Movement for Many Brexiteers is as Useful as a Calculator is to a Chimpanzee</h3>
<h4>08-FEB-2020</h4>

We are leaving the EU because far too many British people are insufficiently educated to participate in the EU.
<p>
We have an education system selling degrees to the middle class for £50K, many of which will be useless for gaining employment. The remaining 50% can barely master the English language let alone have an elementary grasp of a single European language.
<p>
Take a look at the cheering Brexiteers marauding in parliament square on the eve of Brexit being utterly stumped when asked why they want to leave and able only to gormlessly chant the mantra "taking back control".
<p>
They feel threatened by the Polish plumber, the Germen electrician, the Greek, the French, the Spanish that work in our schools, hospitals, and supermarkets. They sneer at their foreign accents but for God's sake, don't ask them how to say "Hello" in German, or "Good morning" in French or "How much for six eggs?" in Spanish (The migratory Magaluf Brit might be heard to chirp repeatedly "Dos cervezas por favor. Dos cervezas por favor").
<p>
<b>Freedom of Movement to them is as useful as a calculator is to a chimpanzee</b>
</center>
<p>
Even facing poverty and a decimated job market, they are entirely incapable and scared witless of going off to 'foreign' lands and making a go of it. So naturally enough, they say, you can keep your FoM.
<p>
Meanwhile, everyone's blathering on about the sanctity of the NHS as if funding it with an extra £350 million a week would solve the nations problems. <b>It wont</b>.
<p>
Funding the NHS is short-termism. It fixes <b>sick people today</b>. (1). We have become a nation incapable of looking at things beyond the individual and beyond our generation.
<p>
So whilst problems with the NHS may be urgent, for the immediate health of the nation, <b>Education and Affordable Housing are more important for the nation's long term health.</b>
<p>
Labour, as they are now, are useless. An utter waste of space. Oooh did I strike a nerve there? Are you all offended? Well buckle up, I haven't even started.
<p>
Tories caused Brexit. But Corbyn and cronies, leaders of the opposition, obdurately refused to make a stand against the Tory program of Brexit that will be catastrophic for the working class.
<p>
So to every Red rosette wearing, prosecco sipping, antipasto nibbling, flat cap wannabe, liberal lefty, bleeding heart in search of a socialist nirvana, you were sucker-punched by the old school leftists. And whilst their socialist agenda is indeed desperately needed for the good of the country, they were and remain too old fashioned, too blinkered, to understand that we need 21st-century socialism that extends beyond our shorelines and embraces the inevitability of change that the 21st century will bring.
<p>
A <i>real</i> opposition to the Tories would have grasped this. They would have spent the four years campaigning their socks off to explain and convince the working class why leaving the EU was going to hit them hardest. They would have had a manifesto to empower the working class to participate and benefit from Europe. "Ask not what your EU can do for you – ask what you can do for your EU" should have been the planned battle cry for 2025 with the British public being encouraged to see the EU as an opportunity rather than a threat.
<p>
Alas, Labour remains as far from doing this today as they have ever been. They are more interested in Leadership elections and well, being Labour and telling everyone just how working class they are.
<p>
Just for starters:
<ol>
<li>Fund social housing, so everyone can feel safe and secure. I could write a lot more on this one!
<li>Fund kindergarten through to secondary education with an EU language being mandatory as well as a knowledge of post-war European history including the Treaty of Rome
<li>Cut tertiary education and concentrate on free and available to all, OU style remote learning on subjects the country needs
<li>Grants for approved industry apprenticeships
</ol>


(1) Basic health care issues, clean water, hygiene, a good diet, vaccinations do have a longer-term reach, but for example, things like inordinately expensive cancer treatments for the elderly extend the lives of those living today for just a few years.
<p>
Further, pouring resources into extending lifespan flattens the population distribution so you end up with fewer younger able-bodied people having to support ever more infirm geriatrics. 
<p>


<hr>
<ul>
<li><a href="https://ec.europa.eu/romania/sites/romania/files/tratatul_de_la_roma.pdf">THE TREATY OF ROME</a>
<li><a href="index.html">Other Rants</a> 
</ul>
