<head>
  <meta charset="UTF-8">
  <meta name="10MillionFlies" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 100px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

div.poem {
    white-space: pre-wrap;
  padding-left: 50px;
} 

</style>
</head>
<p>


<h1>Where I Live</h1>
<center>
<img src="WhereILive.jpg" alt="WhereILive.jpg" height="500"/><br>
</center>

<h4>10-JUN-2020</h4>
</p>
Five years on, those three words still dance with gay novelty. Still, there is a disbelief that I can spend my days in a place that I love so much. As I make my morning walk around the bay to feed Footprint, Squinty Psipsina, Grey, Hercules and Talker; my neighbour's cats, I do, as I do every day, look up at the sky and the mountains, the sea and the houses tucked in between the pages and the heart of a man skips with the gait of a child.
</p>
Intimacy. Small island life is intimacy. It's there and is always there. It's the small life on a small island that has the time and closeness to concern itself with the little things that the city forgets or hasn't the time or need of. Intimacy is found in small things.
</p>
The book that has in many ways changed my life more than any other is Under Milk Wood. Those that know it, know it wanders through one small day in the life of one small village. The village Llareggub, Welsh, not Greek but poetically suffers from all the same afflictions of intimacy as my island. I tell you it's enough to make a non-believer believe when you wake up to find somehow you have woken up in your favourite book!
</p>
There is an intimacy that is as endearing as it is infuriating in that everyone knows everyone and secretly talks to everyone about everyone else's business. There is an intimacy in the geography, topology and geology of a small island with its small mountains and tiny bays, and summer dried riverbeds. Even the sun and moon are on more intimate terms with Sifnos! I swear this morning I saw the moon tap the mountain on his shoulder as he set off for a night on the tiles with those wicked stars.
</p>
All the women on Sifnos are called Maria, except for those called Anna, and some of them are called Flora or Athina. As it is done in Llareggub, people are sometimes tagged by what they do. In Under Milk Wood we have a cast with Dai Bread, Evans the Death, Sinbad Sailor, Captain Cat, Polly Garter (snigger), Reverend Eli Jenkins Organ Morgan. Here in Kamares, Maria of the Bakery might be Mrs Dai Bread (but I'll not say which one). Stavros Hotel and Minas the Motor might help an outsider like myself, tentatively learning our way around, locate the person we need to visit for help.
</p>
Dylan Thomas writes savagely and lovingly of the fictional town on Llareggub. I wonder what he would have made of Sifnos? I think he might have felt quite at home if he could have ever managed to make the change from beer to lager and from whisky to tsipouro, and of course rain for sunshine. But he would have recognised it, that much I know.
</p>
To feel something of what I feel, listen to Richard Burton recite the <a href="https://www.youtube.com/watch?v=JgMRD84MTQY">Rev. Eli Jenkins' poem</a>.
</p>
And tonight, as the sun sunsets over our golden bay I shall think of the Eli Jenkins' evening Prayer

<blockquote>
Every morning when I wake,</p>
Dear Lord a little prayer I make,</p>
O please to keep Thy loving eye</p>
On all poor creatures born to die.</p>
And every evening at sun-down</p>
I ask a blessing on the town,</p>
For whether we last the night or no</p>
I'm sure is always touch-and-go.</p>
<br>
We are not wholly bad or good</p>
Who live our lives under Milk Wood,</p>
And Thou, I know, wilt be the first</p>
To see our best side, not our worst.</p>
<br>
O let us see another day!</p>
Bless us all this night, I pray,</p>
And to the sun we all will bow</p>
And say, good-bye - but just for now!</p>
</blockquote>
