<head>
  <meta charset="UTF-8">
  <meta name="WhoIsTheIdiot" content="Brexit Discussion">
  <meta name="keywords" content="EU,Brexit">
  <meta name="author" content="Michael Ellis">

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>

<body>

<article>
<header>
<img src="EUSoItGoes.jpg" alt="LibDem EU" height="400" >

<h1>Who is the Idiot?</h1>
<h4>13-JUL-2019</h4>
<p>
<a href="https://is.gd/YGpwAG">JEREMY VINE reveals how he once saw the MP make a shambolic, unprepared speech...</a>
<p>
I found this article by Jeremy Vine a fascinating read. But for me there are two conclusions to be drawn.
<p>
The first, and what I believe is the intent of the piece, is that Boris is a genius. Albeit that type of genius that is wholly prescribed by the adjective 'comic'. And therefore wholly unqualified for any role other than court jester, "Come Dancing" or "I'm a celebrity Get Me Out of Here".
<p>
The second conclusion I draw, and the conclusion that chills me most, is that people, laugh along at this buffoonery when they ought to be condemning his antics as entirely dangerous or disrespectful.
<p>
I can see that a leftist liberal elite spin machine that presented in a polished fashion but failed to deliver anything of value to anyone but the rich and entitled became deeply distrusted. Smooth operators like Clinton, and Blair lost their credibility.
<p>
In the wake of that, people have been on a search for someone new, someone honest and real, that 'rough edged man of the people'. Spoon-fed on a fictional narrative of the super hero saving the day - be it Superman or the weakling under-dog People are finding resonance with a superhero that rides in under an unfurling banner of righteousness and turns everything around by a triumph of force, and never reason and compromise. So we live in an age of triumphalist popularism.
<p>
And so it goes that the suckers get Trumped and the he suckers get Borissed.
<p>
The suckers are sucker punched into electing the sociopaths that care least about them. They believed these leaders were one of them when in truth they were most extremely removed from their own lives and circumstances.
<p>
Boris is definitely a sociopath. he exhibits all the clinical diagnostic signs. But is Boris an idiot? You see that is a relatively uninteresting question to me. The important question is are we not the idiots when we laugh at his jokes when he is disrespecting us?
<p>
That for me is the is the second and more chilling conclusion of Jeremy Vine's article. Were not those bankers, the allegedly smart and important people, at the "International Securitisation" awards ceremony, not the bigger idiots? To have laughed at a man that was showing nothing but disrespect to them and their industry.
<p>
So it was that Boris wrote "SHEEP"". He clearly knows his audience. Bahhhhhhhhhh.
<hr>
<a href="index.html">Other Blogs</a> 
