<h1> Small Island News</h1>
<h4>Date: 13-AUG-2019</h4>

I have been an absolutley lousey correspondant. Depite settling on a small Greek island where you would assume a slower pace of life ought afford more time for correspondence, I have somehow failed abysmally in this task.
<p>
And as each day passes there is more to write about and, being a bear of little brain and even less memory, even more that I forget to write about. Correspondengly each passing day makes it all the more daunting to address my failure in corresosponding!
<p>
Well enough is enough! I have to draw a line under this crass procrastination.
<hr>
Just in case you did not notice, that was the line.
<p>

So turning over a new leaf and following the example set by a good friend that has just moved to Beijing, I shall henceforth and until such enthusiasm wanes and I return to my laxidaisical ways will attempt. THE NEWS LETTER, henceforth to be known as <b><i>Small Island News</i></b>.
<p>

Because I have neglected this correspondence for so long there is so much that has come to pass that chronicaling it in any organised fashion would be a Herculean task quite beyond me. So I'll not attempt such a thing but will nibble at bits of my life in a somewhat random way.

<h3>How Did it All Begin?</h3>
Chris my son, came to Sifnos for a wedding of a Greek friend. The story goes that groom and bride's parents were arguing over where the wedding should be, either Thesoloniki or Athens, and the bride and groom decided choosing neither prefered location would be the best way of disapoining all the parents fairly. Sifos was chosen to a tenuous connection to the island and so it was that Chris arrived here as a member of the wedding party in 2015.
<p>
Within an hour of Chris arriving on the island, I received a phonecall:
<blockquote>
"Erm, dad, I think you might want to come here"
</blockquote>
Later that year I made my way here for a holiday. Flying to Athens, taking the bus to Piraeus, staying at hotel Dysmal (another story) and then taking SpeedRunner III, a ferry, to the island of Sifnos.
<p>
On aligting tired and hungry we stoped at a sea side cafe and ordered some fried chickpea balls, an island speciality called revithokeftedes ,a caper salad and a couple of draf lagers. That was it really assailed by the frgrant chickpea balls, a summer sea breeze,  saphire seas and azure skies I fell in love. An enfatuation that continues to endure.

