<h1>The FuckWitch</h1>
<h4>
Μιλάω λίγο ελληνικά
<p>
Δεν μιλάω ελληνικά πολύ καλά.
<p>
I speak a little Greek. I don't speak Greek very well. 
<p>
But whoa, this is as far as I have got with any language that has not been a computer language.
<p>
Today I even managed to book a restaurant table for five, this Wednesday at 8 o'clock.
<p>
I doubt that my Greek was perfect but it was sufficient. The man I conversed with was kind enough to reply both in Greek and English, which reassured me that I had not just requested an angry camel in a dinghy.
<p>
Foreign languages have always terrified me. Whist often trying simple phrases and words whilst on holiday it has never really progressed beyond a collection of nouns and hand waving.
<p>
Now we are making a concerted effort, and have stuck with it for some months. It's essential for my old fossilised brain to practice every day (κάθε μέρα) and we do this with the aid of an audio book. 
<p>
The lessons are taught by a woman who hence forth will be known as the FuckWitch. She has the most annoying voice, tells the lamest jokes (which one is obliged to listen to as often as one needs to redo each lesson), and has the most condescending way with her.
<p>
But the FuckWitch, has done something else which makes her quite indispensable. She teaches Greek to the English with no presupposition that the English dolt has any grasp of English grammar. Many of us born of a London comprehensive school  of the 70's will know that formal grammar was not taught and extra curricular education was all about survival.
<p>
The Greek language is manifestly grammatical. Word endings and forms vary in accordance with every possible grammatical construction and sometimes too, for good measure, the phase of the moon or the day of the week. In the name of Zeus, how can a modern language require thirteen forms of the word "The" (something I only recently learned is called the definite article). THIRTEEN grammatical forms of the word "the"?
<p>
One "The" has always sufficed for me. I have another single word "fuck" that can be used for hundreds of different meanings, e.g. "Thirteen 'the's, fuck that!"
<p>
But the FuckWitch with all her annoying ways has not once invited me to look up terms like accusative, nominative or vocative. She explains by repetitive example and resorts, when needed, to terms like "when it's the boss of the sentence" . Her annoying jokes like "Think of a Panda always being cute" (πάντα - panda - always) are so annoying that they grudgingly stick in your brain. I may be learning Greek more like a child learns it. We'll stick with it. We live here now and we have to be able to be a real part of things. We have to be able to contribute and put something back if we are to be able to call this place home.
<p>
Καλό βράδυ σας
<p>






