._1ttl{float:right}._1ttm{color:#fa383e}
._4750:hover{text-decoration:none}._4r1k{background-color:#fff;left:0;position:absolute;right:0;z-index:2}._2b72{color:rgba(0, 0, 0, .40);display:flex;font-size:14px;padding:14px 14px 0 14px}._43zb{background-color:#fff;box-shadow:0 1px 7px -2px rgba(0, 0, 0, .2), 0 3px 4px -2px rgba(0, 0, 0, .12), 0 1px 3px -2px rgba(0, 0, 0, .15);padding:8px}._43zp{padding:14px}._6cft{flex-grow:1;overflow:hidden}._2b8i{border-radius:2px;margin-top:3px;max-height:28px;width:28px}._43zs{margin-right:12px;max-height:50px;width:50px}._43za{color:rgba(0, 0, 0, .87);margin:0}
._6dln{display:flex}._6dlo{color:#0084ff;margin-left:16px}._6dlp{margin-right:16px;position:absolute;right:0}._6dlm{background-image:url(/rsrc.php/v3/yc/r/auv0593OtiM.png);background-repeat:no-repeat;background-size:41px 87px;background-position:0 -66px;display:inline-block;height:18px;width:18px}
._6d5f{display:flex}._6d5g{color:#0084ff;margin-left:16px}
._6b89{border-bottom:1px solid rgba(0, 0, 0, .10);padding:16px}._6b8b{color:rgba(0, 0, 0, .40);font-size:12px;line-height:14px}._6b88{font-size:15px;line-height:17px}._6b8c{cursor:pointer;font-size:15px;line-height:17px}._6b8a{color:#0084ff;margin-right:16px;position:absolute;right:0}._6b7t{font-size:14px;line-height:16px;margin-bottom:30px;margin-right:16px}._6b7u{color:#fa383e}
.sp_V3BqECgL_Qs_3x{background-image:url(/rsrc.php/v3/yc/r/auv0593OtiM.png);background-size:41px 87px;background-repeat:no-repeat;display:inline-block;height:32px;width:40px}.sp_V3BqECgL_Qs_3x.sx_743de2{width:20px;height:20px;background-position:0 -66px}.sp_V3BqECgL_Qs_3x.sx_a466c7{background-position:0 0}.sp_V3BqECgL_Qs_3x.sx_3c3bd1{background-position:0 -33px}

#bootloader_xCML5{height:42px;}.bootloader_xCML5{display:block!important;}